{% assign items = product.metafields.test.form_settings.value %}
{% for tag in product.tags %}
  {% assign tag_split = tag | split: '_' %}
  {% if tag_split.first == 'type' %}
    {% assign type = tag_split.last %}
  {% endif %}
{% endfor %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div
  id="product-uploads"
  class="popup-overlay popup-overlay-u hidden {% if product.tags contains "form-cart"%} form-cart{% endif %}"
  data-type="{{ type }}"
>
  <div class="popup-container popup-container-u transparent">
    <div class="container-popup-header">
      <a class="popup-btn__close"></a>
    </div>
    <div class="popup-sections">
      <div class="popup-sections__row">
        <div class="form-block step-first">
          <div class="form-block__title">Step 1</div>
          <div class="form-block__description">Choose your item</div>
          <div class="form-block__content">
            <div class="scroll-container upload-options upload-options-u">
              {% for item in items %}
                {% unless item.name == 'belt' %}
                  <div class="radio-option-type option-{{ item.name }}">
                    <label class="radio radio-wrap" for="{{ item.name }}">
                      <span>{{ item.title }}</span>
                      <input
                        id="{{ item.name }}"
                        class="radio-option-input"
                        type="radio"
                        name="types"
                        {% if forloop.index == 1 %}
                          checked
                        {% endif %}
                      >
                      <div class="checkmark"></div>
                    </label>
                  </div>
                {% endunless %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="form-block block-tips">
          <div class="form-block__title">Tips on how to speed up your authentication</div>
          <div class="form-block__content">
            <div class="tips">
              {% for item in items %}
                <div class="tip-section {% if forloop.index == 1 %} tip-active {% endif %}" id="tip-{{ item.name }}">
                  {% for tip in item.tips limit: 3 %}
                    <div class="tip-section__content">
                      <div class="tip-section__text">
                        {{ tip }}
                      </div>
                    </div>
                  {% endfor %}
                  <div class="tip-section__content">
                    <div class="tip-section__text">
                      Explore model specific
                      <a
                        href="https://legitgrails.frontkb.com/en/categories/604802-general-photos"
                        target="_blank"
                        >photo examples</a
                      >
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="popup-sections__row">
        <div class="form-block form-block-tabs">
          <div class="form-block__title">Step 2</div>
          <div class="form-block__description">
            Upload the photos of your <span id="collection-title" class="form-block__item-title">item</span> one by one
          </div>
          <div class="tabs tabs-u">
            {% for tab in items %}
              <div
                class="tab-section tab-section-u {% if forloop.index == 1 %} tab-active {% endif %}"
                id="tab-{{ tab.name }}"
              >
                {% assign types = tab.types %}
                {% assign sorted_types = types | sort: 'required' %}
                {% for type in sorted_types %}
                  <div
                    id="{{ tab.name }}_{{ type.name }}"
                    class="tab-section__content tab-section-u__content tab-{{ type.name }} {% if type.required == "true" %} item-required {% endif %}"
                  >
                    <div
                      id="counter-tab-{{ tab.name }}_{{ type.name }}"
                      class="tab-section__counter"
                    ></div>
                    <div class="tab-section__image-container">
                      {% if type.image.size > 0 %}
                        <div
                          class="tab-section__image"
                          style="background-image: url({{ type.image | asset_url }})"
                        ></div>
                      {% else %}
                        <div class="tab-section__image" style="background-image: url({{ type.image_url }})"></div>
                      {% endif %}
                      <!--
                        <div
                          class="tab-section__image"
                          {% if type.image.size > 0 %}
                            style="background-image: url({{ type.image }})"
                          {% endif %}
                        ></div>
                      -->
                      {% if type.success_image.size > 0 %}
                        <div
                          class="tab-section__image-success"
                          style="background-image: url({{ type.success_image | asset_url }})"
                        ></div>
                      {% else %}
                        <div
                          class="tab-section__image-success"
                          style="background-image: url({{ type.image_url }}); background-color: #c7f5cb; background-blend-mode: luminosity; -webkit-background-blend-mode: luminosity; -moz-background-blend-mode: luminosity; -ms-background-blend-mode: luminosity; -o-background-blend-mode: luminosity;"
                        ></div>
                      {% endif %}
                      <!--
                        <div
                          class="tab-section__image-success"
                          {% if type.success_image.size > 0 %}
                            style="background-image: url({{ type.success_image }}); background-color: #c7f5cb; background-blend-mode: luminosity; -webkit-background-blend-mode: luminosity; -moz-background-blend-mode: luminosity; -ms-background-blend-mode: luminosity; -o-background-blend-mode: luminosity;"
                          {% endif %}
                        ></div>
                      -->

                      <div class="loader-line">
                        <i class="loader spin"></i>
                      </div>
                    </div>
                    <div class="tab-section__title">
                      {{ type.title }}
                    </div>
                  {% if product contains "example-images" %}
                    {% if type.example_image > 0 %}
                      <a href="#example-{{ tab.name }}_{{ type.name }}" class="tab-section_example popup">
                      <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.00188 4.41598C6.82188 4.41598 6.67521 4.36264 6.56188 4.25598C6.45521 4.14264 6.40188 3.99598 6.40188 3.81598C6.40188 3.63598 6.45521 3.49264 6.56188 3.38598C6.67521 3.27264 6.82188 3.21598 7.00188 3.21598C7.18188 3.21598 7.32521 3.27264 7.43188 3.38598C7.54521 3.49264 7.60188 3.63598 7.60188 3.81598C7.60188 3.99598 7.54521 4.14264 7.43188 4.25598C7.32521 4.36264 7.18188 4.41598 7.00188 4.41598ZM7.40188 5.37598V10.376H6.60188V5.37598H7.40188Z" fill="#C6BA7B"/>
                      <circle cx="7" cy="6.5" r="6" stroke="#C6BA7B"/>
                      </svg>
                      Example
                    </a>
                    {% endif %}
                  {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <p class="cart-attribute__field uploader-dawn hidden">
        <input
          id="uploader"
          type="hidden"
          data-images-only="true"
          data-multiple="true"
          role="uploadcare-uploader"
          name="properties[Upload]"
        >
      </p>
      <div class="popup-sections__row">
        <div class="buttton-wrap">
          <div id="upload-messages" class="upload-messages"></div>
          {% if product.tags contains 'form-cart' %}
            <button id="upladcare-cart" class="btn main-btn disabled" name="" style="max-width: 250px">
              <span>Submit</span>
            </button>
          {% else %}
            <button id="upload_submit" class="btn main-btn disabled" name="" style="max-width: 250px">
              <span>Submit</span>
            </button>
          {% endif %}
        </div>
      </div>
      <div class="popup-sections__row">
        <p class="popup-terms">
          By submitting an order you agree with the
          <a href="https://legitgrails.com/policies/terms-of-service" target="_blank">Terms and Conditions</a> and
          <a href="https://legitgrails.com/policies/refund-policy" target="_blank">Refund policy</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="hidden uploadcare-product-hidden" id="product-data" data-product="{{ product | json | escape }}">
  {{ product.id }}
</div>

{% if product contains "example-images" %}
{% for tab in items %}              
  {% assign types = tab.types %}
                {% assign sorted_types = types | sort: 'required' %}
                {% for type in sorted_types %}
<div class="hidden">
    <div id="example-{{ tab.name }}_{{ type.name }}">
      <img src="type.example_image" class="example-popup-img">
    </div>
</div>
{% endfor %}
{% endfor %}
{% endif %}

                        
{% for variant in product.variants %}
  {% if forloop.index == 1 %}
    <input id="selected-variant" class="hidden" type="hidden" value="{{ variant.id }}">
  {% endif %}
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
          $('.popup').magnificPopup();
        </script>

          
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
<script>
    UPLOADCARE_PUBLIC_KEY = "ad3d10f764f69a907860";
    UPLOADCARE_TABS = "file";
    UPLOADCARE_SYSTEM_DIALOG = true
</script>
{{ 'uploadcare-form-full.js' | asset_url | script_tag }}
{% if product.tags contains 'form-cart' %}
  <style>
    .authenticate-btn {
        min-width: 250px !important;
        border-radius: 5px !important;
    }
    .product__form-wrapper {
        display: flex;
        flex-direction: column;
    }
    .checkout_required-photos {
        display: none;
    }
    .product-card {
        display: flex;
        flex-direction: column;
    }
    .checkout_required-photos {
        display: none !important;
    }
  </style>
{% endif %}

<style>
  .tab-section__content:hover {
    cursor: unset;
}
  .tab-section__image-container:hover {
    cursor: pointer;
}
    .scroll-container.upload-options {
      display: flex;
      flex-wrap: wrap;
      width: 300px;
    }
    .radio-option-type {
      width: 100%
    }
  .mfp-wrap {
    z-index: 10000;
    background: rgb(0, 0, 0, 0.5);
  }
  .mfp-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mfp-content {
    width: max-content!important;
    height: max-content!important;
    min-height: auto!important;
  }
  .mfp-content div {
        width: max-content!important;
    border-radius: 30px!important;
    border: 1px solid #C6BA7B!important;
    background: #FFF;
    padding: 15px;
    height: max-content;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mfp-content div img {
    border-radius: 20px;
  }
  .mfp-close-btn-in .mfp-close {
    color: #000;
    opacity: 1;
    font-size: 56px;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 300;
    font-family: 'Open Sans';
}
  a.tab-section_example.popup {
    color: #C6BA7B;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  a.tab-section_example.popup:hover {
    text-decoration: underline;
  }
  a.tab-section_example.popup svg {
    display: block;
    margin-right: 5px;
}

  @media(max-width: 1340px) {
    .scroll-container.upload-options {
      width: 210px
    }
    .tip-section {
      gap: 15px;
    }
    .tip-section__content {
      padding: 12px;
    }
  }
  @media(max-width: 1000px) {
    .scroll-container.upload-options {
      width: 100%;
    }
  }
  @media(max-width: 700px) {
    .mfp-content div {
    width: 320px!important;
    padding: 8px!important;
}
    .mfp-close-btn-in .mfp-close {
    color: #000;
    opacity: 1;
    font-size: 50px;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 300;
    font-family: 'Open Sans';
}
    a.tab-section_example.popup {
      font-size: 14px;
    }
  }
  </style>

{% if product.tags contains 'hype' %}
  <style>
    .option-sneakers-hype {
      order: 1;
    }
    .option-other-shoes-hype {
      order: 2;
    }
    .option-clothing {
      order: 3;
    }
    .option-bag {
      order: 4;
    }
    .option-wallet {
      order: 5;
    }
    .option-jewelry {
      order: 6;
    }
    .option-accessory {
      order: 7;
    }
    .option-glasses {
      order: 8;
    }
    .option-watch {
      order: 9;
    }
  </style>
{% endif %}

{% if product.tags contains 'luxury' %}

  <style>
    .option-bag {
      order: 1;
    }
    .option-sneakers-luxury {
      order: 2;
    }
    .option-other-shoes-luxury {
      order: 3;
    }
    .option-wallet {
      order: 4;
    }
    .option-clothing {
      order: 5;
    }
    .option-jewelry {
      order: 6;
    }
    .option-accessory {
      order: 7;
    }
    .option-glasses {
      order: 8;
    }
    .option-watch {
      order: 9;
    }
  </style>
{% endif %}

<script>
    $( document ).ready(function() {
      $("label[for='other-shoes-luxury'] span").text("Other shoes");
      $("label[for='other-shoes-hype'] span").text("Other shoes");
      $("label[for='sneakers-luxury'] span").text("Sneakers");
      $("label[for='sneakers-hype'] span").text("Sneakers");
  });
</script>

<style>
  p.popup-terms {
      font-size: 15px;
      display: block;
      color: #161616;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      line-height: 22px;
      margin: auto;
      width: 320px;
  }

  p.popup-terms a {color:#cbad73; text-decoration:none;}

  p.popup-terms a:hover {text-decoration:underline}

  @media(max-width:600px) {
    p.popup-terms {
      width: 100%;
  }
  }

    /* indexes */

  #tab-sneakers-hype #sneakers-hype_overall-picture {
    order: 1;
  }

  #tab-sneakers-hype #sneakers-hype_size-tag {
    order: 2
  }

  #tab-sneakers-hype #sneakers-hype_insole-front-side {
    order: 3;
  }

  #tab-sneakers-hype #sneakers-hype_insole-back-side {
    order: 4;
  }

  #tab-sneakers-hype #sneakers-hype_inside-stitching {
    order: 5;
  }

  #tab-sneakers-hype #sneakers-hype_tongue-front-label {
    order: 6;
  }

  #tab-sneakers-hype #sneakers-hype_tongue-inside-label {
    order: 7;
  }

  #tab-sneakers-hype #sneakers-hype_logo-texture-close-up {
    order: 8;
  }

  #tab-sneakers-hype #sneakers-hype_box-label {
    order: 9;
  }

  #tab-sneakers-hype #sneakers-hype_box-data-code {
    order: 10;
  }

  #tab-sneakers-hype .tab-section__content {
    order: 11;
  }

  #tab-sneakers-hype #sneakers-hype_1st-optional-photo {
    order: 12;
  }

  #tab-sneakers-hype #sneakers-hype_2nd-optional-photo {
    order: 13
  }

  /* other shoes */

  #tab-other-shoes-hype #other-shoes-hype_overall-picture {
    order: 1;
  }

  #tab-other-shoes-hype #other-shoes-hype_insole-front-side {
    order: 2;
  }

  #tab-other-shoes-hype #other-shoes-hype_outsole {
    order: 3;
  }

  #tab-other-shoes-hype #other-shoes-hype_size-model-printing {
    order: 4;
  }

  #tab-other-shoes-hype #other-shoes-hype_insole-back-side {
    order: 5;
  }

  #tab-other-shoes-hype #other-shoes-hype_inside-stitching {
    order: 6;
  }

  #tab-other-shoes-hype #other-shoes-hype_tongue-front-label {
    order: 7;
  }

  #tab-other-shoes-hype #other-shoes-hype_tongue-inside-label {
    order: 8;
  }

  #tab-other-shoes-hype #other-shoes-hype_logo-texture-close-up {
    order: 9;
  }

  #tab-other-shoes-hype #other-shoes-hype_box-label {
    order: 10;
  }

  #tab-other-shoes-hype .tab-section__content {
    order: 11;
  }

  #tab-other-shoes-hype #other-shoes-hype_1st-optional-photo {
    order: 12;
  }

  #tab-other-shoes-hype #other-shoes-hype_2nd-optional-photo {
    order: 13;
  }

  /* clothing */

  #tab-clothing #clothing_overall-picture {
    order: 1;
  }

  #tab-clothing #clothing_collar-label-front {
    order: 2;
  }

  #tab-clothing #clothing_size-tag {
    order: 3;
  }

  #tab-clothing #clothing_washing-label-front {
    order: 4;
  }

  #tab-clothing #clothing_washing-label-back {
    order: 5;
  }

  #tab-clothing #clothing_washing-label-every-page {
    order: 6;
  }

  #tab-clothing #clothing_collar-label-back {
    order: 7;
  }

  #tab-clothing #clothing_qr-code-label {
    order: 8;
  }

  #tab-clothing #clothing_hologram-label {
    order: 9;
  }

  #tab-clothing #clothing_zipper-head-front {
    order: 10;
  }

  #tab-clothing #clothing_zipper-head-back {
    order: 11;
  }

  #tab-clothing #clothing_hardware-engravings {
    order: 12;
  }

  #tab-clothing #clothing_patch {
    order: 13;
  }

  #tab-clothing #clothing_paper-swing-tag {
    order: 14;
  }

  #tab-clothing #clothing_packaging {
    order: 15;
  }

  #tab-clothing #clothing_1st-optional-photo {
    order: 16;
  }

  #tab-clothing .tab-section__content {
    order: 17;
  }

  #tab-clothing #clothing_2nd-optional-photo {
    order: 18;
  }

  /* bag */

  #tab-bag #bag_overall-picture {
    order: 1;
  }

  #tab-bag #bag_brand-logo {
    order: 2;
  }

  #tab-bag #bag_inside-label {
    order: 3;
  }

  #tab-bag #bag_hardware-engravings {
    order: 4;
  }

  #tab-bag #bag_serial-number {
    order: 5;
  }

  #tab-bag #bag_made-in-label {
    order: 6;
  }

  #tab-bag #bag_qr-code-label {
    order: 7;
  }

  #tab-bag #bag_hologram-label {
    order: 8;
  }

  #tab-bag #bag_zipper-head-front {
    order: 9;
  }

  #tab-bag #bag_zipper-head-back {
    order: 10;
  }

  #tab-bag #bag_button {
    order: 11;
  }

  #tab-bag #bag_shoulder-strap-clasp {
    order: 12;
  }

  #tab-bag #bag_logo-texture-macro-image {
    order: 13;
  }

  #tab-bag #bag_authenticity-card {
    order: 14;
  }

  #tab-bag #bag_dust-bag {
    order: 15;
  }

  #tab-bag .tab-section__content {
    order: 16;
  }

  #tab-bag #bag_1st-optional-photo {
    order: 17;
  }

  #tab-bag #bag_2nd-optional-photo {
    order: 18;
  }

  /* wallet */

  #tab-wallet #wallet_overall-picture {
    order: 1;
  }

  #tab-wallet #wallet_brand-logo {
    order: 2;
  }

  #tab-wallet #wallet_inside-label {
    order: 3;
  }

  #tab-wallet #wallet_serial-number {
    order: 4;
  }

  #tab-wallet #wallet_made-in-label {
    order: 5;
  }

  #tab-wallet #wallet_zipper-head-front {
    order: 6;
  }

  #tab-wallet #wallet_zipper-head-back {
    order: 7;
  }

  #tab-wallet #wallet_button {
    order: 8;
  }

  #tab-wallet #wallet_logo-texture-macro-image {
    order: 9;
  }

  #tab-wallet #wallet_authenticity-card {
    order: 10;
  }

  #tab-wallet #wallet_dust-bag {
    order: 11;
  }

  #tab-wallet .tab-section__content {
    order: 12;
  }

  #tab-wallet #wallet_1st-optional-photo {
    order: 13;
  }

  #tab-wallet #wallet_2nd-optional-photo {
    order: 14;
  }

  /* jewelry */

  #tab-jewelry #jewelry_overall-picture {
    order: 1;
  }

  #tab-jewelry #jewelry_brand-logo {
    order: 2;
  }

  #tab-jewelry #jewelry_engravings-close-up-macro-image {
    order: 3;
  }

  #tab-jewelry #jewelry_inner-circle-engravings {
    order: 4;
  }

  #tab-jewelry #jewelry_welding {
    order: 5;
  }

  #tab-jewelry #jewelry_inlay {
    order: 6;
  }

  #tab-jewelry #jewelry_indentification-plate {
    order: 7;
  }

  #tab-jewelry #jewelry_clasp-engravings {
    order: 8;
  }

  #tab-jewelry #jewelry_metal-mark {
    order: 9;
  }

  #tab-jewelry #jewelry_authenticity-card {
    order: 10;
  }

  #tab-jewelry #jewelry_packaging {
    order: 11;
  }

  #tab-jewelry .tab-section__content {
    order: 12;
  }

  #tab-jewelry #jewelry_1st-optional-photo {
    order: 13;
  }

  #tab-jewelry #jewelry_2nd-optional-photo {
    order: 14;
  }

  /* accessory */

  #tab-accessory #accessory_overall-picture {
    order: 1;
  }

  #tab-accessory #accessory_brand-logo {
    order: 2;
  }

  #tab-accessory #accessory_washing-label-front {
    order: 3;
  }

  #tab-accessory #accessory_washing-label-back {
    order: 4;
  }

  #tab-accessory #accessory_hardware-engravings {
    order: 5;
  }

  #tab-accessory #accessory_serial-number {
    order: 6;
  }

  #tab-accessory #accessory_buckle {
    order: 7;
  }

  #tab-accessory .tab-section__content {
    order: 8;
  }

  #tab-accessory #accessory_1st-optional-photo {
    order: 9;
  }

  #tab-accessory #accessory_2nd-optional-photo {
    order: 10;
  }

  /* glasses */

  #tab-glasses #glasses_overall-picture {
    order: 1;
  }

  #tab-glasses #glasses_brand-logo {
    order: 2;
  }

  #tab-glasses #glasses_serial-number {
    order: 3;
  }

  #tab-glasses #glasses_arm-inside-code {
    order: 4;
  }

  #tab-glasses #glasses_arm-logo {
    order: 5;
  }

  #tab-glasses #glasses_engravings {
    order: 6;
  }

  #tab-glasses #glasses_lens-brand-logo {
    order: 7;
  }

  #tab-glasses #glasses_nose-resting-screw {
    order: 8;
  }

  #tab-glasses #glasses_nose-rest {
    order: 9;
  }

  #tab-glasses #glasses_hinge-screw-back {
    order: 10;
  }

  #tab-glasses #glasses_hinge-screw-front {
    order: 11;
  }

  #tab-glasses #glasses_case-open {
    order: 12;
  }

  #tab-glasses #glasses_packaging {
    order: 13;
  }

  #tab-glasses .tab-section__content {
    order: 14;
  }

  #tab-glasses #glasses_1st-optional-photo {
    order: 15;
  }

  #tab-glasses #glasses_2nd-optional-photo {
    order: 16;
  }

  /* watch */

  #tab-watch #watch_overall-picture {
    order: 1;
  }

  #tab-watch #watch_back-panel {
    order: 2;
  }

  #tab-watch #watch_face {
    order: 3;
  }

  #tab-watch #watch_crown {
    order: 4;
  }

  #tab-watch #watch_dial {
    order: 5;
  }

  #tab-watch #watch_hands {
    order: 6;
  }

  #tab-watch #watch_strap-engraving {
    order: 7;
  }

  #tab-watch #watch_date-window {
    order: 8;
  }

  #tab-watch #watch_dial-center-axis {
    order: 9;
  }

  #tab-watch #watch_serial-number {
    order: 10;
  }

  #tab-watch #watch_clasp-marking {
    order: 11;
  }

  #tab-watch #watch_accessories {
    order: 12;
  }

  #tab-watch #watch_metal-mark {
    order: 13;
  }

  #tab-watch .tab-section__content {
    order: 14;
  }

  #tab-watch #watch_1st-optional-photo {
    order: 15;
  }

  #tab-watch #watch_2nd-optional-photo {
    order: 16;
  }

  /* sneakers luxury */

  #tab-sneakers-luxury #sneakers-luxury_overall-picture {
    order: 1;
  }

  #tab-sneakers-luxury #sneakers-luxury_size-tag {
    order: 2;
  }

  #tab-sneakers-luxury #sneakers-luxury_insole-front-side {
    order: 3;
  }

  #tab-sneakers-luxury #sneakers-luxury_insole-back-side {
    order: 4;
  }

  #tab-sneakers-luxury #sneakers-luxury_inside-stitching {
    order: 5;
  }

  #tab-sneakers-luxury #sneakers-luxury_outsole {
    order: 6;
  }

  #tab-sneakers-luxury #sneakers-luxury_tongue-front-label {
    order: 7;
  }

  #tab-sneakers-luxury #sneakers-luxury_tongue-inside-label {
    order: 8;
  }

  #tab-sneakers-luxury #sneakers-luxury_zipper-head-front {
    order: 9;
  }

  #tab-sneakers-luxury #sneakers-luxury_zipper-head-back {
    order: 10;
  }

  #tab-sneakers-luxury #sneakers-luxury_logo-texture-macro-image {
    order: 11;
  }

  #tab-sneakers-luxury #sneakers-luxury_box-label {
    order: 12;
  }

  #tab-sneakers-luxury #sneakers-luxury_box-data-code {
    order: 13;
  }

  #tab-sneakers-luxury .tab-section__content {
    order: 14;
  }

  #tab-sneakers-luxury #sneakers-luxury_1st-optional-photo {
    order: 15;
  }

  #tab-sneakers-luxury #sneakers-luxury_2nd-optional-photo {
    order: 16;
  }

  /* other shoes luxury */

  #tab-other-shoes-luxury #other-shoes-luxury_overall-picture {
    order: 1;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_insole-front-side {
    order: 2;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_outsole {
    order: 3;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_size-model-printing {
    order: 4;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_insole-back-side {
    order: 5;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_inside-stitching {
    order: 6;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_tongue-front-label {
    order: 7;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_tongue-inside-label {
    order: 8;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_zipper-head-front {
    order: 9;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_zipper-head-back {
    order: 10;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_logo-texture-macro-image {
    order: 11;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_box-label {
    order: 12;
  }

  #tab-other-shoes-luxury .tab-section__content {
    order: 13;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_1st-optional-photo {
    order: 14;
  }

  #tab-other-shoes-luxury #other-shoes-luxury_2nd-optional-photo {
    order: 15;
  }

    .scroll-container .radio-option-type .radio-wrap {
      text-transform: capitalize;
    }
</style>
<style>
  .loader,.loader-line{display:grid;place-items:center}.popup-overlay.open,.tab-section.tab-active,.tab-section-ai.tab-active-ai,.tip-section.tip-active{visibility:visible;opacity:1}.hidden,.tab-section,.tab-section__image-success,.tip-section{visibility:hidden}.btn.disabled,.popup-container.disable{pointer-events:none}.loader-line.visible,.popup-overlay{opacity:1}.loader-line{background:rgba(255,255,255,.3);border-radius:4px;height:100%;opacity:0;transition:opacity .4s}.loader{height:2px;position:relative;width:50%}.loader::after,.loader::before{box-sizing:border-box;content:'';position:absolute}.loader.spin::before{animation:.8s cubic-bezier(0,0,.03,.9) infinite loader-4;background-color:#cdab71;height:2px;width:6vmin}@keyframes loader-4{0%,100%,44%,88.1%{transform-origin:left}0%,100%,88%{transform:scaleX(0)}44.1%,88%{transform-origin:right}33%,44%{transform:scaleX(1)}}.hidden{display:none}.uploadcare--dialog__container{transform:scale(.001)}.upload-options .radio-option-type .radio{margin-bottom:0}.radio-option-type .checkmark{top:3px}.popup-container.transparent,.popup-overlay.hiding{opacity:0}.popup-container{opacity:1;transition:opacity .3s}.authenticate-btn{background:#cdab71;border-radius:0;color:#fff;display:flex;align-items:center;justify-content:center;font-size:16px;font-weight:500;line-height:21px;margin:auto auto 20px;text-align:center;text-transform:uppercase;transition:.5s;width:max-content;cursor:pointer;height:37px;min-width:166px}.checkmark,.popup-container,.radio-wrap input:checked~.checkmark{background-color:#fff}.form-block__title,.uploadcare--text.uploadcare--text_size_extra-large{font-size:26px;font-style:normal;font-weight:700;line-height:30px;text-align:center}.buttton-wrap{display:flex;justify-content:center;width:100%}.checkmark{border:1px solid #cdab71;border-radius:50%;height:16px;left:0;position:absolute;top:0;width:16px}.checkmark:after{content:"";display:none;position:absolute}.container-popup-header{position:absolute;right:0;top:0}.form-block-tabs,.item-required,.popup-btn__close,.popup-container{position:relative}.form-block.block-tips{flex-grow:1;max-width:787px}.form-block.step-first{min-width:210px}.form-block__description{margin-bottom:20px;text-align:center}.form-block__title{font-family:'Work Sans',sans-serif;margin-bottom:5px}.form-block-tabs{width:100%}.item-required:after{color:red;content:"*";display:block;height:15px;position:absolute;right:10px;top:10px;width:15px}.options-disable,.upload-options.disabled{opacity:.8;pointer-events:none}.popup-btn__close{cursor:pointer;display:block;height:40px;opacity:.8;right:20px;top:20px;transition:.3s;width:40px}.popup-btn__close:after{transform:rotate(-45deg)}.popup-btn__close:before{transform:rotate(45deg)}.popup-btn__close:after,.popup-btn__close:before{background-color:#cdab71;content:"";height:30px;position:absolute;right:18px;top:10px;width:3px}.popup-btn__close:hover{opacity:1}.popup-container{font-family:'Work Sans',sans-serif;font-size:17px;color:#161616;font-style:normal;font-weight:400;line-height:22px;margin:5% auto;max-width:1317px;min-height:600px;overscroll-behavior:none;padding:45px 30px;width:90%}.popup-overlay{align-items:center;background-color:rgba(0,0,0,.7);bottom:0;display:none;justify-content:center;left:0;max-height:100vh;opacity:0;overflow:hidden;overflow-y:auto;overscroll-behavior:none;position:fixed;right:0;top:0;transition:opacity .3s;z-index:-1}.product_checkout,.radio-wrap,.tabs{position:relative}.popup-overlay.open{display:block;z-index:9999}.popup-page{height:auto;max-height:100%;max-width:100%;min-height:0;min-width:0;overflow:hidden;width:auto}.popup-page .main-content{position:relative;z-index:1111}.popup-sections__row{display:flex;flex-direction:column;gap:40px;margin-bottom:20px}.radio-wrap,.radio-wrap input:checked~.checkmark::after{display:block}.product_checkout{z-index:10}.radio-wrap{margin-bottom:12px;moz-user-select:none;ms-user-select:none;padding-left:25px;user-select:none;webkit-user-select:none;cursor:pointer;font-size:16px;line-height:16px}.radio-wrap .checkmark::after{background:#cdab71;border-radius:50%;height:8px;left:3px;top:3px;width:8px}.radio-wrap input{cursor:pointer;opacity:0;position:absolute}.scroll-container{direction:ltr;overflow-y:auto;scrollbar-color:#CDAB71 #f2f2f2;scrollbar-width:3px}.scroll-container .radio-option-type .radio-wrap{font-size:17px;height:26px;padding:3px 0 3px 28px;color:#161616}.scroll-container.upload-options{max-height:142px}.scroll-container::-webkit-scrollbar{width:7px}.scroll-container::-webkit-scrollbar-thumb{background-color:#cdab71;border:6px solid #cdab71;border-left:0;border-radius:100px;border-right:0;width:3px}.scroll-container::-webkit-scrollbar-track{background-color:#e4e4e4;border-radius:20px;width:7px}.scroll-container:-webkit-scrollbar-color{color:#cdab71}.scroll-wrapper{height:142px;overflow:hidden}.tabs{min-height:164px;transition:.3s}.tab-section{display:flex;flex-direction:row;flex-wrap:wrap;gap:36px;justify-content:center;opacity:0;position:absolute;transition:opacity .4s}.tab-section.scroll-container{max-height:380px;padding-right:10px;padding-top:5px}.tab-section__content{align-items:center;cursor:pointer;display:flex;flex-basis:95px;flex-direction:column;min-height:90px;min-width:95px;position:relative}.tab-section__content.uploaded .tab-section__image{display:none;visibility:hidden}.tab-section__content.uploaded .tab-section__image-success{background-color:#cbeec9;visibility:visible}.tab-section__counter{padding:15px;position:absolute;right:0;z-index:10}.tab-section__image,.tab-section__image-success{background-position:center;background-repeat:no-repeat;background-size:100%;bottom:0;left:0;position:absolute;right:0;top:0;width:100%}.tab-section__image-container{background-color:#eedbc9;border:1px dashed #000;border-radius:6px;margin-bottom:15px;min-height:100px;overflow:hidden;position:relative;width:100%}.tab-section__title{font-size:18px;font-style:normal;font-weight:600;line-height:21px;text-align:center}.tips{min-height:160px;padding-top:25px;position:relative}.tip-section{opacity:0;position:absolute;transition:opacity .3s;display:flex;flex-direction:row;gap:30px;justify-content:space-between;width:100%}.tip-section__content{align-items:center;border:1px solid #cdab71;border-radius:12px;display:flex;flex-basis:180px;flex-grow:1;min-height:160px;padding:18px;text-align:center;justify-content:center}.uploadcare--powered-by.uploadcare--dialog__powered-by,.uploadcare--widget__button,.uploadkit{display:none}.tip-section__text{font-size:17px;font-style:normal;font-weight:400;line-height:23px;text-align:center;color:#161616}.uploadcare--button{border:1px solid #cdab71;border-radius:0}.uploadcare--button.uploadcare--button_icon.uploadcare--dialog__close{cursor:pointer;outline:0}.uploadcare--button.uploadcare--button_icon.uploadcare--dialog__close:active .uploadcare--icon,.uploadcare--button.uploadcare--button_icon.uploadcare--dialog__close:focus .uploadcare--icon,.uploadcare--button.uploadcare--button_icon.uploadcare--dialog__close:hover .uploadcare--icon{color:#cbad73;fill:#CBAD73}.uploadcare--button.uploadcare--button_size_big.uploadcare--button_primary.uploadcare--tab__action-button,.uploadcare--widget__button.uploadcare--widget__button_type_open{background:#cbad73;border:1px solid #cbad73;border-radius:0;height:60px;outline:0}.uploadcare--button.uploadcare--camera__button.uploadcare--camera__button_type_retry,.uploadcare--button.uploadcare--footer__button.uploadcare--panel__show-files,.uploadcare--button.uploadcare--footer__button.uploadcare--preview__back{border-color:#cdab71;color:#cdab71}.uploadcare--button.uploadcare--footer__button.uploadcare--preview__back:active,.uploadcare--button.uploadcare--footer__button.uploadcare--preview__back:hover{border-color:#cdab71;outline:0}.uploadcare--button_muted:focus,.uploadcare--button_muted:hover{color:#cdab71}.uploadcare--button_primary,.uploadcare--button_primary:focus,.uploadcare--button_primary:hover{background:#cdab71;border-color:#cdab71;color:#fff}.uploadcare--file:hover{background:rgba(205,171,113,.1)}.uploadcare--file__description:focus,.uploadcare--file__description:focus .uploadcare--file__preview,.uploadcare--file__description:hover,.uploadcare--file__description:hover .uploadcare--file__preview{color:#cdab71}.uploadcare--icon.uploadcare--menu__icon:hover,.uploadcare--menu__item:hover .uploadcare--icon.uploadcare--menu__icon{color:#cbad73;fill:#CBAD73}.uploadcare--file_status_uploading .uploadcare--file__preview{background:#cdab71;color:#cdab71!important}.uploadcare--menu__item:focus,.uploadcare--menu__item:hover,.uploadcare--progress_type_canvas{color:#cdab71}.uploadcare--input:focus{outline:rgb(205,171,113) solid 2px;outline-offset:1px}.uploadcare--menu.uploadcare--panel__menu{background-color:#eddbcd!important}.uploadcare--menu__item{background-color:#eddbcd}.uploadcare--menu__item.uploadcare--menu__item_current{background-color:#fff}.uploadcare--menu__item:focus{box-shadow:inset 0 0 0 2px #cdab71;outline:0}.uploadcare--menu__items{background-color:#eddbcd!important}.uploadcare--page .popup-overlay.open,.uploaded:after{opacity:0}.uploadcare--panel__footer{background:#f5e1d4}.uploadcare--progressbar__value{background-color:#cdab71}.uploadcare--text.uploadcare--text_size_extra-large{color:#161616}.upload-options .radio-option-type{min-height:35px}@media (max-width:1000px){.block-tips{display:none}.form-block.step-first{min-width:100%}}@media (min-width:1340px){.form-block.step-first{min-width:310px}.popup-container{padding:46px 70px 26px;width:1317px}}@media (max-width:485px){.tab-section__content{flex-basis:30%;min-height:100px;min-width:30%}.tab-section__image-container{margin-bottom:11px;min-height:88px}.tab-section__title{font-size:15px;line-height:18px}}@media (min-width:760px){.uploadcare--dialog__container{border-radius:0}}@media (min-width:768px){.form-block__description,.form-block__title{text-align:left}.popup-btn__close{right:30px;top:20px}.popup-sections__row{flex-direction:row}.tab-section__content{flex-basis:164px;min-height:125px;min-width:164px}.tab-section__image-container{min-height:125px}}@media (max-width:768px){.tab-section{gap:15px}.popup-sections__row{margin-bottom:30px}.popup-container{padding:30px 30px 10px}.tab-section__title{font-size:17px}.scroll-container.upload-options{max-height:100%}}@media(max-width:400px){.tab-section__content{flex-basis:46%;min-height:100px;min-width:46%}}input[type=checkbox],input[type=radio]{display:inline-block;margin-right:5px} .product-box {display: flex;justify-content: center;}
</style>