{% render 'section-faq-ai-styles-min' %}
<div class="section-container">
                <h2 class="faq-title hero__overlay-title section-title has-animated">
                    Featured Questions
                </h2>
            <div class="new-faq_wrapp">
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            How does LegitGrails {{ product.title }} work?
                        </p>
                        <a href="javascript:void(0)"  class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            Our {{ product.title }} works using Hybrid Authentication. This combines AI precision with human expertise to verify your item's authenticity. You begin by uploading photos of your item for our AI to check against a large database of {{ product.title | remove: "Authentication Service" }} items and characteristics. Then, our experts carefully review the photos, using their deep knowledge to confirm authenticity. If more details are needed, we'll contact you right away to ensure the most accurate outcome as quickly as possible.
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            What sets LegitGrails Authentication Service apart from similar services?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            Our {{ product.title }} combines AI precision with human expertise in a Hybrid Authentication, ensuring quick and accurate verification. With over six years of industry experience, our team conducts thorough authentications, validated by at least two specialists. We provide detailed results, free Authenticity Certificates, and ongoing support, ensuring accuracy, transparency, and trust.
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            Which photos should I upload for authentication?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            For the most accurate and quick authentication process, we advise you to upload clear photos of the areas visible when clicking 'Upload photos' on this page. We quickly determine if the uploaded photo meets our criteria. If your photos do not meet the criteria, you will receive a request for more and/or clearer photos. Check out<a href="https://legitgrails.frontkb.com/en/categories/604802-general-photos" target="_blank">Photo Instructions</a> to find clear examples for each detail.
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            How long does LegitGrails authentication process take?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            We provide a range of authentication response times to suit your needs, with options including 12 hours, 6 hours, 2 hours, and 30 minutes. Additionally, we offer an ultra-fast 1-minute turnaround for certain brands.
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                           How precise is LegitGrails {{ product.title }}?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            At LegitGrails, our Hybrid Authentication combines AI precision with human expertise to deliver authentication results with an accuracy rate over 99.3%. Our team of experts, equipped with advanced tools and industry knowledge, carefully examines each item to identify any signs of counterfeiting. Our {{ product.title }} process stands out for its high accuracy rate and speed.
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            Is it possible to have my model authenticated by LegitGrails?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            You can upload any model under the brand page for authentication. If we are unable to authenticate your specific model, you will receive a refund in credits or back to your original payment method.
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            What happens if my item is deemed fake?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            In the unfortunate event that your item is deemed counterfeit by LegitGrails, we will provide you with a comprehensive report of our findings and inform you of the result.
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            What if I have additional questions or concerns about the service?
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            If you have additional questions or concerns about the service, please feel free to contact our customer support team. We are available 24/7 to assist you with any inquiries, feedback, or issues you may encounter. You can reach us through our live chat on the website, our email <a href="mailto:info@legitgrails.com">info@legitgrails.com</a>, or visit our <a href="https://legitgrails.frontkb.com/en" target="_blank">Help Center</a>. We will respond as soon as possible.
                        </p>
                    </div>
                </div>
            </div>
  <div class="new-faq_bottom font-title">
      <p>Have more questions? Visit our <a href="https://legitgrails.frontkb.com/en">Help Center</a></p>
  </div>
        </div>


<script src="{{ 'new-faq-item-click.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "FAQ AI",
    "class": "new-faq",
    "tag": "section",
    "presets": [
    {
      "name": "FAQ AI"
    }
  ]
  }
{% endschema %}