<style>
  .homepage_coverage-content {
      align-items: center;
    justify-content: space-between;
  }
  .homepage_coverage-text {
      width: 45%;
      height: max-content;
  }
  .homepage_coverage-products {
    width: max-content;
  }
  a.homepage_coverage-item {
    width: calc(33.3333334% - 13.3333334px);
    text-decoration: none;
  }
  p.homepage_coverage-item-title {
    font-family: "PP Fragment";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.12px;
    margin-top: 5px;
  }
  a.homepage_coverage-product {
    text-decoration: none;
    border-radius: 16px;
    background: #F2F2F2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  a.homepage_coverage-product:nth-child(1) {
    height: 700px;
    width: 100%;
  }
  .homepage_coverage-products-column:nth-child(1) {
    width: 495px
  }
.homepage_coverage-products-column:nth-child(2) {
    width: 238px;
    gap: 24px;
}
  .homepage_coverage-products-column:nth-child(2) a.homepage_coverage-product {
    height: 216px;
    width: 100%;
  }
span.homepage_coverage-product-label {
    display: block;
    border-radius: 32px;
    border: 1px solid rgba(60, 31, 27, 0.30);
    background: #FFF;
    padding: 10px 20px;
    color: #130706;
    font-family: "PP Fragment";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.88px;
    margin-bottom: -18px;
}
  a.homepage_coverage-product-hidden {
    display: none;
  }
  @media(max-width: 1450px) {
    a.homepage_coverage-item {
        width: calc(50% - 28px);
    }
    a.homepage_coverage-product:nth-child(1) {
        height: 603px;
    }
    .homepage_coverage-products-column:nth-child(2) a.homepage_coverage-product {
        height: 185px;
    }
    .homepage_coverage-products-column:nth-child(2) {
        width: 193px;
    }
    .homepage_coverage-products-column:nth-child(1) {
        width: 361px;
    }
    span.homepage_coverage-product-label {
        padding: 7px 19px;
        font-size: 18px;
        margin-bottom: -14px;
    }
  }
  @media(max-width: 1250px) {
    .homepage_coverage-products-column:nth-child(1) {
        width: 288px;
    }
    .homepage_coverage-products-column:nth-child(2) {
        width: 157px;
    }
    .homepage_coverage-products-column:nth-child(2) a.homepage_coverage-product {
        height: 158px;
    }
    a.homepage_coverage-product:nth-child(1) {
        height: 522px;
    }
    p.homepage_coverage-item-title {
      font-size: 24px;
    }
    .homepage_coverage-btns a {
        width: 100%;
        text-align: center;
    }
    .homepage_coverage-btns {
      gap: 10px;
    }
    a.homepage_coverage-item {
        width: calc(50% - 15px);
    }
    a.homepage_coverage-item {
        width: calc(33.33333334% - 14px);
        justify-content: center;
        gap: 3px;
        text-align: center;
    }
    .homepage_coverage-title {
        text-align: center;
        justify-content: center;
    }
    .homepage_coverage-item-text {
        width: 100%;
    }
  }
  @media(max-width: 950px) {
    .homepage_coverage-text {
        width: 100%;
        justify-content: center;
    }
    .homepage_coverage-btns a {
        width: max-content;
    }
    a.homepage_coverage-item {
        width: 106px;
    }
    .homepage_coverage-items {
        width: 100%;
        justify-content: center;
    }
    .homepage_coverage-content {
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .homepage_coverage-products {
        width: 100%;
    }
    .homepage_coverage-products-column:nth-child(1) {
        display: none;
    }
    a.homepage_coverage-product-hidden {
        display: flex;
    }
    .homepage_coverage-products-column:nth-child(2) {
        width: 100%;
        gap: 20px;
    }
    .homepage_coverage-products-column:nth-child(2) a.homepage_coverage-product {
        height: 200px;
        width: calc(50% - 10px);
    }
    div#shopify-section-homepage_coverage {
        padding: 30px 0 80px 0;
    }
    .homepage_coverage-products {
      order: 1;
    }
    .homepage_coverage-text {
      order: 2;
    }
    a.homepage_coverage-product:nth-child(1) {
      order: 1;
    }
    a.homepage_coverage-product:nth-child(2) {
      order: 2;
    }
    a.homepage_coverage-product:nth-child(3) {
      order: 4;
    }
    a.homepage_coverage-product:nth-child(4) {
      order: 3;
    }
  }
  @media(max-width: 750px) {
    .homepage_coverage-btns {
      width: 100%;
    }
      .homepage_coverage-items {
        width: 348px;
      }
    .homepage_coverage-content {
      gap: 50px;
    }
    p.homepage_coverage-item-title {
        font-size: 20px;
    }
    .homepage_coverage-items {
    gap: 20px 15px;
}
        .homepage_coverage-btns a {
        width: 100%;
    }
  }
  @media(max-width: 450px) {
      .homepage_coverage-products-column:nth-child(2) a.homepage_coverage-product {
        height: 175px;
        border-radius: 10px;
      }
        .homepage_coverage-btns a {
        width: 100%;
        text-align: center;
    }
      .homepage_coverage-btns {
        gap: 10px;
      }
    .homepage_coverage-btns a.rebranding_btn {
      order: 2;
    }
    .homepage_coverage-btns a.rebranding_btn-main {
      order: 1;
    }
  }
</style>

<div class="rebranding_container">
  <div class="homepage_coverage-content block-flex-wrap">
    <div class="homepage_coverage-text block-flex-wrap block-gap-30">
      <div class="homepage_coverage-title block-flex-wrap block-gap-15">
        <h2 class="h2-heading-ss">
          What 
          <span class="h2-heading-pp">
           we authenticate
          </span>
        </h2>
        <p class="body-text">Hermès to Nike, we authenticate the world’s most coveted luxury, hype, jewelry, and watch brands.</p>
      </div>
      <div class="homepage_coverage-items block-flex-wrap block-gap-20">
        <a href="https://legitgrails.com/products/luxury-bag-authentication" class="homepage_coverage-item block-flex-wrap block-gap-15 standart-hover">
          <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2320_1436)">
          <mask id="mask0_2320_1436" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="3" height="37">
          <path d="M2.4 0.5H0V36.5H2.4V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_2320_1436)">
          <path d="M33.0857 15.0816C32.9156 14.1715 32.4091 13.3484 31.6567 12.7597C30.9042 12.1709 29.9551 11.8549 28.979 11.8681H28.0064V9.97344C28.0064 7.46092 26.9521 5.05131 25.0756 3.2747C23.199 1.49809 20.6539 0.5 18 0.5C15.3461 0.5 12.801 1.49809 10.9244 3.2747C9.04783 5.05131 7.99358 7.46092 7.99358 9.97344V11.8681H7.02096C6.04492 11.8549 5.09575 12.1709 4.34334 12.7597C3.59093 13.3484 3.08437 14.1715 2.91433 15.0816L0.0384925 32.1337C-0.0422242 32.6844 0.00434445 33.245 0.174979 33.7768C0.345613 34.3088 0.636241 34.7992 1.02677 35.2144C1.4173 35.6295 1.89839 35.9594 2.4368 36.1812C2.97522 36.403 3.5581 36.5114 4.14512 36.499H31.8548C32.4419 36.5114 33.0248 36.403 33.5632 36.1812C34.1016 35.9594 34.5827 35.6295 34.9733 35.2144C35.3638 34.7992 35.6544 34.3088 35.825 33.7768C35.9957 33.245 36.0422 32.6844 35.9615 32.1337L33.0857 15.0816ZM24.0038 11.8681H11.9961V9.97344C11.9961 8.46592 12.6287 7.02016 13.7546 5.95419C14.8806 4.88823 16.4077 4.28937 18 4.28937C19.5923 4.28937 21.1194 4.88823 22.2454 5.95419C23.3713 7.02016 24.0038 8.46592 24.0038 9.97344V11.8681Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask1_2320_1436" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="0" width="3" height="37">
          <path d="M6.59995 0.5H4.19995V36.5H6.59995V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_2320_1436)">
          <path d="M33.0857 15.0816C32.9156 14.1715 32.4091 13.3484 31.6567 12.7597C30.9042 12.1709 29.9551 11.8549 28.979 11.8681H28.0064V9.97344C28.0064 7.46092 26.9521 5.05131 25.0756 3.2747C23.199 1.49809 20.6539 0.5 18 0.5C15.3461 0.5 12.801 1.49809 10.9244 3.2747C9.04783 5.05131 7.99358 7.46092 7.99358 9.97344V11.8681H7.02096C6.04492 11.8549 5.09575 12.1709 4.34334 12.7597C3.59093 13.3484 3.08437 14.1715 2.91433 15.0816L0.0384925 32.1337C-0.0422242 32.6844 0.00434445 33.245 0.174979 33.7768C0.345613 34.3088 0.636241 34.7992 1.02677 35.2144C1.4173 35.6295 1.89839 35.9594 2.4368 36.1812C2.97522 36.403 3.5581 36.5114 4.14512 36.499H31.8548C32.4419 36.5114 33.0248 36.403 33.5632 36.1812C34.1016 35.9594 34.5827 35.6295 34.9733 35.2144C35.3638 34.7992 35.6544 34.3088 35.825 33.7768C35.9957 33.245 36.0422 32.6844 35.9615 32.1337L33.0857 15.0816ZM24.0038 11.8681H11.9961V9.97344C11.9961 8.46592 12.6287 7.02016 13.7546 5.95419C14.8806 4.88823 16.4077 4.28937 18 4.28937C19.5923 4.28937 21.1194 4.88823 22.2454 5.95419C23.3713 7.02016 24.0038 8.46592 24.0038 9.97344V11.8681Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask2_2320_1436" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="8" y="0" width="3" height="37">
          <path d="M10.7999 0.5H8.3999V36.5H10.7999V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask2_2320_1436)">
          <path d="M33.0857 15.0816C32.9156 14.1715 32.4091 13.3484 31.6567 12.7597C30.9042 12.1709 29.9551 11.8549 28.979 11.8681H28.0064V9.97344C28.0064 7.46092 26.9521 5.05131 25.0756 3.2747C23.199 1.49809 20.6539 0.5 18 0.5C15.3461 0.5 12.801 1.49809 10.9244 3.2747C9.04783 5.05131 7.99358 7.46092 7.99358 9.97344V11.8681H7.02096C6.04492 11.8549 5.09575 12.1709 4.34334 12.7597C3.59093 13.3484 3.08437 14.1715 2.91433 15.0816L0.0384925 32.1337C-0.0422242 32.6844 0.00434445 33.245 0.174979 33.7768C0.345613 34.3088 0.636241 34.7992 1.02677 35.2144C1.4173 35.6295 1.89839 35.9594 2.4368 36.1812C2.97522 36.403 3.5581 36.5114 4.14512 36.499H31.8548C32.4419 36.5114 33.0248 36.403 33.5632 36.1812C34.1016 35.9594 34.5827 35.6295 34.9733 35.2144C35.3638 34.7992 35.6544 34.3088 35.825 33.7768C35.9957 33.245 36.0422 32.6844 35.9615 32.1337L33.0857 15.0816ZM24.0038 11.8681H11.9961V9.97344C11.9961 8.46592 12.6287 7.02016 13.7546 5.95419C14.8806 4.88823 16.4077 4.28937 18 4.28937C19.5923 4.28937 21.1194 4.88823 22.2454 5.95419C23.3713 7.02016 24.0038 8.46592 24.0038 9.97344V11.8681Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask3_2320_1436" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="12" y="0" width="24" height="37">
          <path d="M36.0001 0.5H12.6001V36.5H36.0001V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask3_2320_1436)">
          <path d="M33.0857 15.0816C32.9156 14.1715 32.4091 13.3484 31.6567 12.7597C30.9042 12.1709 29.9551 11.8549 28.979 11.8681H28.0064V9.97344C28.0064 7.46092 26.9521 5.05131 25.0756 3.2747C23.199 1.49809 20.6539 0.5 18 0.5C15.3461 0.5 12.801 1.49809 10.9244 3.2747C9.04783 5.05131 7.99358 7.46092 7.99358 9.97344V11.8681H7.02096C6.04492 11.8549 5.09575 12.1709 4.34334 12.7597C3.59093 13.3484 3.08437 14.1715 2.91433 15.0816L0.0384925 32.1337C-0.0422242 32.6844 0.00434445 33.245 0.174979 33.7768C0.345613 34.3088 0.636241 34.7992 1.02677 35.2144C1.4173 35.6295 1.89839 35.9594 2.4368 36.1812C2.97522 36.403 3.5581 36.5114 4.14512 36.499H31.8548C32.4419 36.5114 33.0248 36.403 33.5632 36.1812C34.1016 35.9594 34.5827 35.6295 34.9733 35.2144C35.3638 34.7992 35.6544 34.3088 35.825 33.7768C35.9957 33.245 36.0422 32.6844 35.9615 32.1337L33.0857 15.0816ZM24.0038 11.8681H11.9961V9.97344C11.9961 8.46592 12.6287 7.02016 13.7546 5.95419C14.8806 4.88823 16.4077 4.28937 18 4.28937C19.5923 4.28937 21.1194 4.88823 22.2454 5.95419C23.3713 7.02016 24.0038 8.46592 24.0038 9.97344V11.8681Z" fill="#3C1F1B"/>
          </g>
          </g>
          <defs>
          <clipPath id="clip0_2320_1436">
          <rect width="36" height="36" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>
          <div class="homepage_coverage-item-text">
            <p class="homepage_coverage-item-title">Handbags</p>
            <p class="homepage_coverage-item-price small-text">from $15</p>
          </div>
        </a>
        <a href="https://legitgrails.com/products/clothing-authentication" class="homepage_coverage-item block-flex-wrap block-gap-15 standart-hover">
          <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2320_1458)">
          <mask id="mask0_2320_1458" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="3" height="37">
          <path d="M2.4 0.5H0V36.5H2.4V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_2320_1458)">
          <path d="M35.7828 31.1532C35.2615 29.0516 34.7166 26.9502 34.0532 24.8739C33.2477 22.3419 32.371 19.8354 31.3996 17.3793C30.594 15.3538 29.362 13.6321 27.5849 12.442L26.7319 11.8344C27.3716 10.7963 27.1348 9.83413 26.6135 8.92262C25.8553 7.55536 25.0972 6.16279 24.2916 4.82085C23.3201 3.17509 22.017 1.90911 20.3111 1.14952C19.7424 0.896329 19.1264 0.744411 18.5341 0.541855C17.9417 0.465896 17.1361 0.516535 17.1361 0.516535C15.7856 0.79505 14.5062 1.32676 13.511 2.33954C12.8477 3.02317 12.208 3.78276 11.7341 4.6183C10.7864 6.28939 9.9334 7.9858 9.10412 9.73285C8.89088 10.1633 8.89088 10.7456 8.89088 11.252C8.89088 11.5305 9.08044 11.7837 9.1989 12.0622C8.65396 12.4167 8.08531 12.6952 7.61144 13.075C6.02399 14.341 5.02888 16.0374 4.31807 17.911C2.82539 21.861 1.47487 25.8614 0.479749 29.9884C0.19543 31.1785 0.12435 32.4445 0.00588282 33.6852C-0.0415038 34.2928 0.19543 34.7739 0.787763 35.0271C1.68811 35.4068 2.56476 35.8119 3.41772 36.293C4.08114 36.6728 4.6024 36.4956 5.12364 36.0398C5.90552 35.3563 6.42678 34.4448 6.87695 33.4826C7.01911 33.2041 7.13758 32.9002 7.32713 32.4951C7.3982 32.7483 7.44559 32.9002 7.49298 33.0522C7.84837 33.8371 8.18009 34.622 8.55918 35.3816C8.79611 35.8626 9.1752 36.0398 9.69646 36.0398C12.279 36.0398 14.8616 36.0145 17.4442 36.0145V16.1386C14.909 15.4298 12.7055 14.0625 10.8337 12.1129C10.6679 11.9357 10.502 11.7837 10.3599 11.6065C10.0045 11.2267 10.0755 10.7456 10.5731 10.6444C11.355 10.4671 12.1369 10.2899 12.9425 10.2392C14.6246 10.1126 16.3069 10.062 18.463 9.96073C20.1689 10.0873 22.325 10.2392 24.5048 10.4165C24.7417 10.4418 25.0024 10.5178 25.2392 10.5937C25.879 10.7963 26.0448 11.4039 25.5473 11.885C24.7417 12.6446 23.9124 13.4042 23.0358 14.0625C21.6616 15.0753 20.1452 15.7335 18.5341 16.164V36.0145C20.927 36.0145 23.2964 36.0145 25.6895 36.0651C26.7083 36.0904 27.2532 35.6347 27.6797 34.7992C27.7507 34.6726 27.8219 34.5207 27.8693 34.3688C28.1062 33.7358 28.3194 33.1028 28.5564 32.4192C28.6511 32.6217 28.7222 32.799 28.7933 32.9509C29.2435 34.0396 29.8121 35.0271 30.6176 35.8372C31.2574 36.4702 31.9445 36.7234 32.7974 36.2677C33.7216 35.7613 34.6456 35.2803 35.5696 34.7739C35.7118 34.698 35.8066 34.5207 35.854 34.3435C36.0908 33.28 36.0198 32.1913 35.7828 31.1532Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask1_2320_1458" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="0" width="3" height="37">
          <path d="M6.59995 0.5H4.19995V36.5H6.59995V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_2320_1458)">
          <path d="M35.7828 31.1532C35.2615 29.0516 34.7166 26.9502 34.0532 24.8739C33.2477 22.3419 32.371 19.8354 31.3996 17.3793C30.594 15.3538 29.362 13.6321 27.5849 12.442L26.7319 11.8344C27.3716 10.7963 27.1348 9.83413 26.6135 8.92262C25.8553 7.55536 25.0972 6.16279 24.2916 4.82085C23.3201 3.17509 22.017 1.90911 20.3111 1.14952C19.7424 0.896329 19.1264 0.744411 18.5341 0.541855C17.9417 0.465896 17.1361 0.516535 17.1361 0.516535C15.7856 0.79505 14.5062 1.32676 13.511 2.33954C12.8477 3.02317 12.208 3.78276 11.7341 4.6183C10.7864 6.28939 9.9334 7.9858 9.10412 9.73285C8.89088 10.1633 8.89088 10.7456 8.89088 11.252C8.89088 11.5305 9.08044 11.7837 9.1989 12.0622C8.65396 12.4167 8.08531 12.6952 7.61144 13.075C6.02399 14.341 5.02888 16.0374 4.31807 17.911C2.82539 21.861 1.47487 25.8614 0.479749 29.9884C0.19543 31.1785 0.12435 32.4445 0.00588282 33.6852C-0.0415038 34.2928 0.19543 34.7739 0.787763 35.0271C1.68811 35.4068 2.56476 35.8119 3.41772 36.293C4.08114 36.6728 4.6024 36.4956 5.12364 36.0398C5.90552 35.3563 6.42678 34.4448 6.87695 33.4826C7.01911 33.2041 7.13758 32.9002 7.32713 32.4951C7.3982 32.7483 7.44559 32.9002 7.49298 33.0522C7.84837 33.8371 8.18009 34.622 8.55918 35.3816C8.79611 35.8626 9.1752 36.0398 9.69646 36.0398C12.279 36.0398 14.8616 36.0145 17.4442 36.0145V16.1386C14.909 15.4298 12.7055 14.0625 10.8337 12.1129C10.6679 11.9357 10.502 11.7837 10.3599 11.6065C10.0045 11.2267 10.0755 10.7456 10.5731 10.6444C11.355 10.4671 12.1369 10.2899 12.9425 10.2392C14.6246 10.1126 16.3069 10.062 18.463 9.96073C20.1689 10.0873 22.325 10.2392 24.5048 10.4165C24.7417 10.4418 25.0024 10.5178 25.2392 10.5937C25.879 10.7963 26.0448 11.4039 25.5473 11.885C24.7417 12.6446 23.9124 13.4042 23.0358 14.0625C21.6616 15.0753 20.1452 15.7335 18.5341 16.164V36.0145C20.927 36.0145 23.2964 36.0145 25.6895 36.0651C26.7083 36.0904 27.2532 35.6347 27.6797 34.7992C27.7507 34.6726 27.8219 34.5207 27.8693 34.3688C28.1062 33.7358 28.3194 33.1028 28.5564 32.4192C28.6511 32.6217 28.7222 32.799 28.7933 32.9509C29.2435 34.0396 29.8121 35.0271 30.6176 35.8372C31.2574 36.4702 31.9445 36.7234 32.7974 36.2677C33.7216 35.7613 34.6456 35.2803 35.5696 34.7739C35.7118 34.698 35.8066 34.5207 35.854 34.3435C36.0908 33.28 36.0198 32.1913 35.7828 31.1532Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask2_2320_1458" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="8" y="0" width="3" height="37">
          <path d="M10.7999 0.5H8.3999V36.5H10.7999V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask2_2320_1458)">
          <path d="M35.7828 31.1532C35.2615 29.0516 34.7166 26.9502 34.0532 24.8739C33.2477 22.3419 32.371 19.8354 31.3996 17.3793C30.594 15.3538 29.362 13.6321 27.5849 12.442L26.7319 11.8344C27.3716 10.7963 27.1348 9.83413 26.6135 8.92262C25.8553 7.55536 25.0972 6.16279 24.2916 4.82085C23.3201 3.17509 22.017 1.90911 20.3111 1.14952C19.7424 0.896329 19.1264 0.744411 18.5341 0.541855C17.9417 0.465896 17.1361 0.516535 17.1361 0.516535C15.7856 0.79505 14.5062 1.32676 13.511 2.33954C12.8477 3.02317 12.208 3.78276 11.7341 4.6183C10.7864 6.28939 9.9334 7.9858 9.10412 9.73285C8.89088 10.1633 8.89088 10.7456 8.89088 11.252C8.89088 11.5305 9.08044 11.7837 9.1989 12.0622C8.65396 12.4167 8.08531 12.6952 7.61144 13.075C6.02399 14.341 5.02888 16.0374 4.31807 17.911C2.82539 21.861 1.47487 25.8614 0.479749 29.9884C0.19543 31.1785 0.12435 32.4445 0.00588282 33.6852C-0.0415038 34.2928 0.19543 34.7739 0.787763 35.0271C1.68811 35.4068 2.56476 35.8119 3.41772 36.293C4.08114 36.6728 4.6024 36.4956 5.12364 36.0398C5.90552 35.3563 6.42678 34.4448 6.87695 33.4826C7.01911 33.2041 7.13758 32.9002 7.32713 32.4951C7.3982 32.7483 7.44559 32.9002 7.49298 33.0522C7.84837 33.8371 8.18009 34.622 8.55918 35.3816C8.79611 35.8626 9.1752 36.0398 9.69646 36.0398C12.279 36.0398 14.8616 36.0145 17.4442 36.0145V16.1386C14.909 15.4298 12.7055 14.0625 10.8337 12.1129C10.6679 11.9357 10.502 11.7837 10.3599 11.6065C10.0045 11.2267 10.0755 10.7456 10.5731 10.6444C11.355 10.4671 12.1369 10.2899 12.9425 10.2392C14.6246 10.1126 16.3069 10.062 18.463 9.96073C20.1689 10.0873 22.325 10.2392 24.5048 10.4165C24.7417 10.4418 25.0024 10.5178 25.2392 10.5937C25.879 10.7963 26.0448 11.4039 25.5473 11.885C24.7417 12.6446 23.9124 13.4042 23.0358 14.0625C21.6616 15.0753 20.1452 15.7335 18.5341 16.164V36.0145C20.927 36.0145 23.2964 36.0145 25.6895 36.0651C26.7083 36.0904 27.2532 35.6347 27.6797 34.7992C27.7507 34.6726 27.8219 34.5207 27.8693 34.3688C28.1062 33.7358 28.3194 33.1028 28.5564 32.4192C28.6511 32.6217 28.7222 32.799 28.7933 32.9509C29.2435 34.0396 29.8121 35.0271 30.6176 35.8372C31.2574 36.4702 31.9445 36.7234 32.7974 36.2677C33.7216 35.7613 34.6456 35.2803 35.5696 34.7739C35.7118 34.698 35.8066 34.5207 35.854 34.3435C36.0908 33.28 36.0198 32.1913 35.7828 31.1532Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask3_2320_1458" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="12" y="0" width="24" height="37">
          <path d="M36.0001 0.5H12.6001V36.5H36.0001V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask3_2320_1458)">
          <path d="M35.7828 31.1532C35.2615 29.0516 34.7166 26.9502 34.0532 24.8739C33.2477 22.3419 32.371 19.8354 31.3996 17.3793C30.594 15.3538 29.362 13.6321 27.5849 12.442L26.7319 11.8344C27.3716 10.7963 27.1348 9.83413 26.6135 8.92262C25.8553 7.55536 25.0972 6.16279 24.2916 4.82085C23.3201 3.17509 22.017 1.90911 20.3111 1.14952C19.7424 0.896329 19.1264 0.744411 18.5341 0.541855C17.9417 0.465896 17.1361 0.516535 17.1361 0.516535C15.7856 0.79505 14.5062 1.32676 13.511 2.33954C12.8477 3.02317 12.208 3.78276 11.7341 4.6183C10.7864 6.28939 9.9334 7.9858 9.10412 9.73285C8.89088 10.1633 8.89088 10.7456 8.89088 11.252C8.89088 11.5305 9.08044 11.7837 9.1989 12.0622C8.65396 12.4167 8.08531 12.6952 7.61144 13.075C6.02399 14.341 5.02888 16.0374 4.31807 17.911C2.82539 21.861 1.47487 25.8614 0.479749 29.9884C0.19543 31.1785 0.12435 32.4445 0.00588282 33.6852C-0.0415038 34.2928 0.19543 34.7739 0.787763 35.0271C1.68811 35.4068 2.56476 35.8119 3.41772 36.293C4.08114 36.6728 4.6024 36.4956 5.12364 36.0398C5.90552 35.3563 6.42678 34.4448 6.87695 33.4826C7.01911 33.2041 7.13758 32.9002 7.32713 32.4951C7.3982 32.7483 7.44559 32.9002 7.49298 33.0522C7.84837 33.8371 8.18009 34.622 8.55918 35.3816C8.79611 35.8626 9.1752 36.0398 9.69646 36.0398C12.279 36.0398 14.8616 36.0145 17.4442 36.0145V16.1386C14.909 15.4298 12.7055 14.0625 10.8337 12.1129C10.6679 11.9357 10.502 11.7837 10.3599 11.6065C10.0045 11.2267 10.0755 10.7456 10.5731 10.6444C11.355 10.4671 12.1369 10.2899 12.9425 10.2392C14.6246 10.1126 16.3069 10.062 18.463 9.96073C20.1689 10.0873 22.325 10.2392 24.5048 10.4165C24.7417 10.4418 25.0024 10.5178 25.2392 10.5937C25.879 10.7963 26.0448 11.4039 25.5473 11.885C24.7417 12.6446 23.9124 13.4042 23.0358 14.0625C21.6616 15.0753 20.1452 15.7335 18.5341 16.164V36.0145C20.927 36.0145 23.2964 36.0145 25.6895 36.0651C26.7083 36.0904 27.2532 35.6347 27.6797 34.7992C27.7507 34.6726 27.8219 34.5207 27.8693 34.3688C28.1062 33.7358 28.3194 33.1028 28.5564 32.4192C28.6511 32.6217 28.7222 32.799 28.7933 32.9509C29.2435 34.0396 29.8121 35.0271 30.6176 35.8372C31.2574 36.4702 31.9445 36.7234 32.7974 36.2677C33.7216 35.7613 34.6456 35.2803 35.5696 34.7739C35.7118 34.698 35.8066 34.5207 35.854 34.3435C36.0908 33.28 36.0198 32.1913 35.7828 31.1532Z" fill="#3C1F1B"/>
          </g>
          </g>
          <defs>
          <clipPath id="clip0_2320_1458">
          <rect width="36" height="36" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>
          <div class="homepage_coverage-item-text">
            <p class="homepage_coverage-item-title">Clothing</p>
            <p class="homepage_coverage-item-price small-text">from $4</p>
          </div>
        </a>
        <a href="https://legitgrails.com/products/legit-check-shoes" class="homepage_coverage-item block-flex-wrap block-gap-15 standart-hover">
          <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2320_1480)">
          <mask id="mask0_2320_1480" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="3" height="37">
          <path d="M2.4 0.5H0V36.5H2.4V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_2320_1480)">
          <path d="M34.9499 8.6751C33.8803 6.88827 32.5507 5.27056 31.0049 3.87511C29.7397 2.74593 28.339 1.7785 26.8349 0.995121C26.206 0.664788 25.5053 0.494762 24.7949 0.500123C23.6057 0.500918 22.4653 0.973696 21.6245 1.81462C20.7835 2.65555 20.3107 3.79586 20.3099 4.98511V6.66511C20.3489 6.96559 20.2986 7.2709 20.1652 7.54297C20.0318 7.81504 19.8214 8.04184 19.56 8.1951C19.3478 8.30384 19.1147 8.3655 18.8765 8.37585C18.6383 8.38621 18.4007 8.34502 18.18 8.2551L15.105 5.18011C14.5068 4.58601 13.7345 4.19863 12.9007 4.0745C12.0668 3.95037 11.2152 4.09599 10.47 4.49011C9.81818 4.81522 9.27042 5.3163 8.88869 5.93662C8.50694 6.55694 8.30648 7.27174 8.30998 8.0001V10.5501C8.3113 11.682 8.12892 12.8066 7.76998 13.8801L4.78499 22.835C4.25999 24.3975 3.3764 25.8154 2.20499 26.975C0.853806 28.4512 0.0721601 30.3601 0 32.36C0.00419172 33.4105 0.408114 34.4199 1.12971 35.1834C1.8513 35.9467 2.83644 36.4068 3.88499 36.47C4.21499 36.485 4.54499 36.5 4.87499 36.5C8.40704 36.4953 11.8314 35.2833 14.58 33.065L33.0899 18.5151C34.5386 17.378 35.5255 15.7539 35.8676 13.9443C36.2096 12.1347 35.8836 10.2625 34.9499 8.6751ZM18.045 26.51L12.705 30.71C10.8207 32.2556 8.5167 33.2012 6.08998 33.425C9.04514 32.2006 11.8366 30.6134 14.4 28.7C15.7081 27.717 16.9507 26.6498 18.12 25.505C18.09 25.835 18.075 26.18 18.045 26.51ZM31.2449 16.1451L21.3749 23.9C21.6053 22.766 21.9418 21.6561 22.3799 20.5851C24.3961 16.0909 27.9868 12.4896 32.4749 10.4601C32.8148 11.0974 32.995 11.8078 32.9999 12.5301C33.0022 13.2265 32.8452 13.9143 32.541 14.5408C32.2368 15.1674 31.7935 15.716 31.2449 16.1451Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask1_2320_1480" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="0" width="3" height="37">
          <path d="M6.59995 0.5H4.19995V36.5H6.59995V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_2320_1480)">
          <path d="M34.9499 8.6751C33.8803 6.88827 32.5507 5.27056 31.0049 3.87511C29.7397 2.74593 28.339 1.7785 26.8349 0.995121C26.206 0.664788 25.5053 0.494762 24.7949 0.500123C23.6057 0.500918 22.4653 0.973696 21.6245 1.81462C20.7835 2.65555 20.3107 3.79586 20.3099 4.98511V6.66511C20.3489 6.96559 20.2986 7.2709 20.1652 7.54297C20.0318 7.81504 19.8214 8.04184 19.56 8.1951C19.3478 8.30384 19.1147 8.3655 18.8765 8.37585C18.6383 8.38621 18.4007 8.34502 18.18 8.2551L15.105 5.18011C14.5068 4.58601 13.7345 4.19863 12.9007 4.0745C12.0668 3.95037 11.2152 4.09599 10.47 4.49011C9.81818 4.81522 9.27042 5.3163 8.88869 5.93662C8.50694 6.55694 8.30648 7.27174 8.30998 8.0001V10.5501C8.3113 11.682 8.12892 12.8066 7.76998 13.8801L4.78499 22.835C4.25999 24.3975 3.3764 25.8154 2.20499 26.975C0.853806 28.4512 0.0721601 30.3601 0 32.36C0.00419172 33.4105 0.408114 34.4199 1.12971 35.1834C1.8513 35.9467 2.83644 36.4068 3.88499 36.47C4.21499 36.485 4.54499 36.5 4.87499 36.5C8.40704 36.4953 11.8314 35.2833 14.58 33.065L33.0899 18.5151C34.5386 17.378 35.5255 15.7539 35.8676 13.9443C36.2096 12.1347 35.8836 10.2625 34.9499 8.6751ZM18.045 26.51L12.705 30.71C10.8207 32.2556 8.5167 33.2012 6.08998 33.425C9.04514 32.2006 11.8366 30.6134 14.4 28.7C15.7081 27.717 16.9507 26.6498 18.12 25.505C18.09 25.835 18.075 26.18 18.045 26.51ZM31.2449 16.1451L21.3749 23.9C21.6053 22.766 21.9418 21.6561 22.3799 20.5851C24.3961 16.0909 27.9868 12.4896 32.4749 10.4601C32.8148 11.0974 32.995 11.8078 32.9999 12.5301C33.0022 13.2265 32.8452 13.9143 32.541 14.5408C32.2368 15.1674 31.7935 15.716 31.2449 16.1451Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask2_2320_1480" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="8" y="0" width="3" height="37">
          <path d="M10.7999 0.5H8.3999V36.5H10.7999V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask2_2320_1480)">
          <path d="M34.9499 8.6751C33.8803 6.88827 32.5507 5.27056 31.0049 3.87511C29.7397 2.74593 28.339 1.7785 26.8349 0.995121C26.206 0.664788 25.5053 0.494762 24.7949 0.500123C23.6057 0.500918 22.4653 0.973696 21.6245 1.81462C20.7835 2.65555 20.3107 3.79586 20.3099 4.98511V6.66511C20.3489 6.96559 20.2986 7.2709 20.1652 7.54297C20.0318 7.81504 19.8214 8.04184 19.56 8.1951C19.3478 8.30384 19.1147 8.3655 18.8765 8.37585C18.6383 8.38621 18.4007 8.34502 18.18 8.2551L15.105 5.18011C14.5068 4.58601 13.7345 4.19863 12.9007 4.0745C12.0668 3.95037 11.2152 4.09599 10.47 4.49011C9.81818 4.81522 9.27042 5.3163 8.88869 5.93662C8.50694 6.55694 8.30648 7.27174 8.30998 8.0001V10.5501C8.3113 11.682 8.12892 12.8066 7.76998 13.8801L4.78499 22.835C4.25999 24.3975 3.3764 25.8154 2.20499 26.975C0.853806 28.4512 0.0721601 30.3601 0 32.36C0.00419172 33.4105 0.408114 34.4199 1.12971 35.1834C1.8513 35.9467 2.83644 36.4068 3.88499 36.47C4.21499 36.485 4.54499 36.5 4.87499 36.5C8.40704 36.4953 11.8314 35.2833 14.58 33.065L33.0899 18.5151C34.5386 17.378 35.5255 15.7539 35.8676 13.9443C36.2096 12.1347 35.8836 10.2625 34.9499 8.6751ZM18.045 26.51L12.705 30.71C10.8207 32.2556 8.5167 33.2012 6.08998 33.425C9.04514 32.2006 11.8366 30.6134 14.4 28.7C15.7081 27.717 16.9507 26.6498 18.12 25.505C18.09 25.835 18.075 26.18 18.045 26.51ZM31.2449 16.1451L21.3749 23.9C21.6053 22.766 21.9418 21.6561 22.3799 20.5851C24.3961 16.0909 27.9868 12.4896 32.4749 10.4601C32.8148 11.0974 32.995 11.8078 32.9999 12.5301C33.0022 13.2265 32.8452 13.9143 32.541 14.5408C32.2368 15.1674 31.7935 15.716 31.2449 16.1451Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask3_2320_1480" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="12" y="0" width="24" height="37">
          <path d="M36.0001 0.5H12.6001V36.5H36.0001V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask3_2320_1480)">
          <path d="M34.9499 8.6751C33.8803 6.88827 32.5507 5.27056 31.0049 3.87511C29.7397 2.74593 28.339 1.7785 26.8349 0.995121C26.206 0.664788 25.5053 0.494762 24.7949 0.500123C23.6057 0.500918 22.4653 0.973696 21.6245 1.81462C20.7835 2.65555 20.3107 3.79586 20.3099 4.98511V6.66511C20.3489 6.96559 20.2986 7.2709 20.1652 7.54297C20.0318 7.81504 19.8214 8.04184 19.56 8.1951C19.3478 8.30384 19.1147 8.3655 18.8765 8.37585C18.6383 8.38621 18.4007 8.34502 18.18 8.2551L15.105 5.18011C14.5068 4.58601 13.7345 4.19863 12.9007 4.0745C12.0668 3.95037 11.2152 4.09599 10.47 4.49011C9.81818 4.81522 9.27042 5.3163 8.88869 5.93662C8.50694 6.55694 8.30648 7.27174 8.30998 8.0001V10.5501C8.3113 11.682 8.12892 12.8066 7.76998 13.8801L4.78499 22.835C4.25999 24.3975 3.3764 25.8154 2.20499 26.975C0.853806 28.4512 0.0721601 30.3601 0 32.36C0.00419172 33.4105 0.408114 34.4199 1.12971 35.1834C1.8513 35.9467 2.83644 36.4068 3.88499 36.47C4.21499 36.485 4.54499 36.5 4.87499 36.5C8.40704 36.4953 11.8314 35.2833 14.58 33.065L33.0899 18.5151C34.5386 17.378 35.5255 15.7539 35.8676 13.9443C36.2096 12.1347 35.8836 10.2625 34.9499 8.6751ZM18.045 26.51L12.705 30.71C10.8207 32.2556 8.5167 33.2012 6.08998 33.425C9.04514 32.2006 11.8366 30.6134 14.4 28.7C15.7081 27.717 16.9507 26.6498 18.12 25.505C18.09 25.835 18.075 26.18 18.045 26.51ZM31.2449 16.1451L21.3749 23.9C21.6053 22.766 21.9418 21.6561 22.3799 20.5851C24.3961 16.0909 27.9868 12.4896 32.4749 10.4601C32.8148 11.0974 32.995 11.8078 32.9999 12.5301C33.0022 13.2265 32.8452 13.9143 32.541 14.5408C32.2368 15.1674 31.7935 15.716 31.2449 16.1451Z" fill="#3C1F1B"/>
          </g>
          </g>
          <defs>
          <clipPath id="clip0_2320_1480">
          <rect width="36" height="36" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>
          <div class="homepage_coverage-item-text">
            <p class="homepage_coverage-item-title">Shoes</p>
            <p class="homepage_coverage-item-price small-text">from $4</p>
          </div>
        </a>
        <a href="https://legitgrails.com/products/jewelry-authentication-service" class="homepage_coverage-item block-flex-wrap block-gap-15 standart-hover">
          <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2320_1502)">
          <mask id="mask0_2320_1502" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="3" height="37">
          <path d="M2.4 0.5H0V36.5H2.4V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_2320_1502)">
          <path d="M34.2428 13.8671L32.1786 13.22C30.6794 15.5147 28.6928 17.4141 26.3748 18.7688C24.0568 20.1234 21.4704 20.8967 18.819 21.0276V22.7856H19.2592C19.6904 22.7856 20.0897 23.0222 20.3114 23.4096L20.9627 24.5462C21.0956 24.7781 21.1554 25.048 21.1333 25.3175C21.1112 25.5869 21.0086 25.8423 20.8399 26.0471L18.9302 28.3691C18.815 28.5092 18.6724 28.6216 18.5119 28.6988C18.3514 28.7758 18.177 28.8156 18.0004 28.8156C17.8238 28.8156 17.6494 28.7758 17.4889 28.6988C17.3285 28.6216 17.1858 28.5092 17.0705 28.3691L15.1608 26.0471C14.9923 25.8422 14.8897 25.5869 14.8678 25.3174C14.8457 25.048 14.9053 24.7781 15.0382 24.5462L15.6894 23.4096C15.7984 23.2193 15.9526 23.0618 16.137 22.9523C16.3214 22.843 16.5298 22.7855 16.7416 22.7856H17.1818V21.0276C14.5303 20.8967 11.944 20.1236 9.62598 18.7689C7.30793 17.4141 5.32133 15.5147 3.82225 13.22L1.75794 13.8671C1.21864 14.0398 0.751472 14.3996 0.433258 14.8873C0.115043 15.3751 -0.035284 15.9617 0.00699292 16.5508C0.70819 25.9862 8.26998 36.5 18 36.5C27.73 36.5 35.2918 25.9862 35.993 16.5508C36.0353 15.9617 35.8849 15.3751 35.5667 14.8873C35.2486 14.3996 34.7822 14.0398 34.2428 13.8671Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask1_2320_1502" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="0" width="3" height="37">
          <path d="M6.59995 0.5H4.19995V36.5H6.59995V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_2320_1502)">
          <path d="M18.0009 19.3572C23.1334 19.3572 27.6786 16.7265 30.512 12.698L28.2832 11.9994C27.4377 11.7387 26.696 11.1973 26.1697 10.4566C25.6435 9.71593 25.3612 8.81617 25.3656 7.89285V3.07143C25.3656 1.65371 24.2642 0.5 22.911 0.5H13.0926C11.7392 0.5 10.6379 1.65371 10.6379 3.07143V7.89285C10.6421 8.81613 10.3598 9.71583 9.83356 10.4565C9.30733 11.1971 8.56566 11.7386 7.72023 11.9994L5.49146 12.698C8.32406 16.7275 12.87 19.3572 18.0025 19.3572H18.0009Z" fill="#3C1F1B"/>
          <path d="M34.2428 13.8671L32.1786 13.22C30.6794 15.5147 28.6928 17.4141 26.3748 18.7688C24.0568 20.1234 21.4704 20.8967 18.819 21.0276V22.7856H19.2592C19.6904 22.7856 20.0897 23.0222 20.3114 23.4096L20.9627 24.5462C21.0956 24.7781 21.1554 25.048 21.1333 25.3175C21.1112 25.5869 21.0086 25.8423 20.8399 26.0471L18.9302 28.3691C18.815 28.5092 18.6724 28.6216 18.5119 28.6988C18.3514 28.7758 18.177 28.8156 18.0004 28.8156C17.8238 28.8156 17.6494 28.7758 17.4889 28.6988C17.3285 28.6216 17.1858 28.5092 17.0705 28.3691L15.1608 26.0471C14.9923 25.8422 14.8897 25.5869 14.8678 25.3174C14.8457 25.048 14.9053 24.7781 15.0382 24.5462L15.6894 23.4096C15.7984 23.2193 15.9526 23.0618 16.137 22.9523C16.3214 22.843 16.5298 22.7855 16.7416 22.7856H17.1818V21.0276C14.5303 20.8967 11.944 20.1236 9.62598 18.7689C7.30793 17.4141 5.32133 15.5147 3.82225 13.22L1.75794 13.8671C1.21864 14.0398 0.751472 14.3996 0.433258 14.8873C0.115043 15.3751 -0.035284 15.9617 0.00699292 16.5508C0.70819 25.9862 8.26998 36.5 18 36.5C27.73 36.5 35.2918 25.9862 35.993 16.5508C36.0353 15.9617 35.8849 15.3751 35.5667 14.8873C35.2486 14.3996 34.7822 14.0398 34.2428 13.8671Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask2_2320_1502" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="8" y="0" width="3" height="37">
          <path d="M10.7999 0.5H8.3999V36.5H10.7999V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask2_2320_1502)">
          <path d="M18.0009 19.3572C23.1334 19.3572 27.6786 16.7265 30.512 12.698L28.2832 11.9994C27.4377 11.7387 26.696 11.1973 26.1697 10.4566C25.6435 9.71593 25.3612 8.81617 25.3656 7.89285V3.07143C25.3656 1.65371 24.2642 0.5 22.911 0.5H13.0926C11.7392 0.5 10.6379 1.65371 10.6379 3.07143V7.89285C10.6421 8.81613 10.3598 9.71583 9.83356 10.4565C9.30733 11.1971 8.56566 11.7386 7.72023 11.9994L5.49146 12.698C8.32406 16.7275 12.87 19.3572 18.0025 19.3572H18.0009Z" fill="#3C1F1B"/>
          <path d="M34.2428 13.8671L32.1786 13.22C30.6794 15.5147 28.6928 17.4141 26.3748 18.7688C24.0568 20.1234 21.4704 20.8967 18.819 21.0276V22.7856H19.2592C19.6904 22.7856 20.0897 23.0222 20.3114 23.4096L20.9627 24.5462C21.0956 24.7781 21.1554 25.048 21.1333 25.3175C21.1112 25.5869 21.0086 25.8423 20.8399 26.0471L18.9302 28.3691C18.815 28.5092 18.6724 28.6216 18.5119 28.6988C18.3514 28.7758 18.177 28.8156 18.0004 28.8156C17.8238 28.8156 17.6494 28.7758 17.4889 28.6988C17.3285 28.6216 17.1858 28.5092 17.0705 28.3691L15.1608 26.0471C14.9923 25.8422 14.8897 25.5869 14.8678 25.3174C14.8457 25.048 14.9053 24.7781 15.0382 24.5462L15.6894 23.4096C15.7984 23.2193 15.9526 23.0618 16.137 22.9523C16.3214 22.843 16.5298 22.7855 16.7416 22.7856H17.1818V21.0276C14.5303 20.8967 11.944 20.1236 9.62598 18.7689C7.30793 17.4141 5.32133 15.5147 3.82225 13.22L1.75794 13.8671C1.21864 14.0398 0.751472 14.3996 0.433258 14.8873C0.115043 15.3751 -0.035284 15.9617 0.00699292 16.5508C0.70819 25.9862 8.26998 36.5 18 36.5C27.73 36.5 35.2918 25.9862 35.993 16.5508C36.0353 15.9617 35.8849 15.3751 35.5667 14.8873C35.2486 14.3996 34.7822 14.0398 34.2428 13.8671Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask3_2320_1502" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="12" y="0" width="24" height="37">
          <path d="M36.0001 0.5H12.6001V36.5H36.0001V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask3_2320_1502)">
          <path d="M18.0009 19.3572C23.1334 19.3572 27.6786 16.7265 30.512 12.698L28.2832 11.9994C27.4377 11.7387 26.696 11.1973 26.1697 10.4566C25.6435 9.71593 25.3612 8.81617 25.3656 7.89285V3.07143C25.3656 1.65371 24.2642 0.5 22.911 0.5H13.0926C11.7392 0.5 10.6379 1.65371 10.6379 3.07143V7.89285C10.6421 8.81613 10.3598 9.71583 9.83356 10.4565C9.30733 11.1971 8.56566 11.7386 7.72023 11.9994L5.49146 12.698C8.32406 16.7275 12.87 19.3572 18.0025 19.3572H18.0009Z" fill="#3C1F1B"/>
          <path d="M34.2428 13.8671L32.1786 13.22C30.6794 15.5147 28.6928 17.4141 26.3748 18.7688C24.0568 20.1234 21.4704 20.8967 18.819 21.0276V22.7856H19.2592C19.6904 22.7856 20.0897 23.0222 20.3114 23.4096L20.9627 24.5462C21.0956 24.7781 21.1554 25.048 21.1333 25.3175C21.1112 25.5869 21.0086 25.8423 20.8399 26.0471L18.9302 28.3691C18.815 28.5092 18.6724 28.6216 18.5119 28.6988C18.3514 28.7758 18.177 28.8156 18.0004 28.8156C17.8238 28.8156 17.6494 28.7758 17.4889 28.6988C17.3285 28.6216 17.1858 28.5092 17.0705 28.3691L15.1608 26.0471C14.9923 25.8422 14.8897 25.5869 14.8678 25.3174C14.8457 25.048 14.9053 24.7781 15.0382 24.5462L15.6894 23.4096C15.7984 23.2193 15.9526 23.0618 16.137 22.9523C16.3214 22.843 16.5298 22.7855 16.7416 22.7856H17.1818V21.0276C14.5303 20.8967 11.944 20.1236 9.62598 18.7689C7.30793 17.4141 5.32133 15.5147 3.82225 13.22L1.75794 13.8671C1.21864 14.0398 0.751472 14.3996 0.433258 14.8873C0.115043 15.3751 -0.035284 15.9617 0.00699292 16.5508C0.70819 25.9862 8.26998 36.5 18 36.5C27.73 36.5 35.2918 25.9862 35.993 16.5508C36.0353 15.9617 35.8849 15.3751 35.5667 14.8873C35.2486 14.3996 34.7822 14.0398 34.2428 13.8671Z" fill="#3C1F1B"/>
          </g>
          </g>
          <defs>
          <clipPath id="clip0_2320_1502">
          <rect width="36" height="36" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>
          <div class="homepage_coverage-item-text">
            <p class="homepage_coverage-item-title">Jewelry</p>
            <p class="homepage_coverage-item-price small-text">from $15</p>
          </div>
        </a>
        <a href="https://legitgrails.com/products/luxury-watch-authentication-service" class="homepage_coverage-item block-flex-wrap block-gap-15 standart-hover">
          <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2320_1576)">
          <mask id="mask0_2320_1576" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="3" height="37">
          <path d="M2.4 0.5H0V36.5H2.4V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_2320_1576)">
          <path d="M35.4283 6.19167L30.3034 1.07056C29.9846 0.752091 29.5654 0.553825 29.1169 0.509473C28.6685 0.465121 28.2185 0.577419 27.8435 0.827277L20.4148 5.77862C19.6146 5.62822 18.8021 5.55236 17.9879 5.55201C14.5254 5.55201 11.2698 6.89614 8.82355 9.35362C5.67757 12.4989 4.4893 16.8712 5.25911 20.9502L0.327503 28.348C0.0773874 28.7232 -0.0349802 29.1733 0.00952499 29.622C0.0540301 30.0705 0.252658 30.4899 0.5716 30.8085L5.69614 35.9293C6.01494 36.2479 6.43426 36.4461 6.8828 36.4905C7.33135 36.5349 7.78141 36.4225 8.15645 36.1725L15.5533 31.2414C16.3466 31.3899 17.1676 31.4797 17.9882 31.4797C21.4544 31.4797 24.71 30.1317 27.1562 27.6781C30.3023 24.5328 31.4905 20.1567 30.7165 16.0894L35.6728 8.6518C35.9227 8.2767 36.035 7.82658 35.9904 7.37805C35.9459 6.92952 35.7473 6.51028 35.4283 6.19167ZM24.542 25.0561C22.7914 26.8069 20.4664 27.7678 17.9886 27.7678C15.5147 27.7678 13.1893 26.8065 11.4389 25.0561C7.82365 21.442 7.82365 15.5775 11.4389 11.9634C13.1893 10.2127 15.5147 9.25168 17.9886 9.25168C20.4664 9.25168 22.7914 10.2131 24.542 11.9634C28.1455 15.5658 28.1455 21.442 24.542 25.0561Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask1_2320_1576" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="0" width="3" height="37">
          <path d="M6.59995 0.5H4.19995V36.5H6.59995V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_2320_1576)">
          <path d="M35.4283 6.19167L30.3034 1.07056C29.9846 0.752091 29.5654 0.553825 29.1169 0.509473C28.6685 0.465121 28.2185 0.577419 27.8435 0.827277L20.4148 5.77862C19.6146 5.62822 18.8021 5.55236 17.9879 5.55201C14.5254 5.55201 11.2698 6.89614 8.82355 9.35362C5.67757 12.4989 4.4893 16.8712 5.25911 20.9502L0.327503 28.348C0.0773874 28.7232 -0.0349802 29.1733 0.00952499 29.622C0.0540301 30.0705 0.252658 30.4899 0.5716 30.8085L5.69614 35.9293C6.01494 36.2479 6.43426 36.4461 6.8828 36.4905C7.33135 36.5349 7.78141 36.4225 8.15645 36.1725L15.5533 31.2414C16.3466 31.3899 17.1676 31.4797 17.9882 31.4797C21.4544 31.4797 24.71 30.1317 27.1562 27.6781C30.3023 24.5328 31.4905 20.1567 30.7165 16.0894L35.6728 8.6518C35.9227 8.2767 36.035 7.82658 35.9904 7.37805C35.9459 6.92952 35.7473 6.51028 35.4283 6.19167ZM24.542 25.0561C22.7914 26.8069 20.4664 27.7678 17.9886 27.7678C15.5147 27.7678 13.1893 26.8065 11.4389 25.0561C7.82365 21.442 7.82365 15.5775 11.4389 11.9634C13.1893 10.2127 15.5147 9.25168 17.9886 9.25168C20.4664 9.25168 22.7914 10.2131 24.542 11.9634C28.1455 15.5658 28.1455 21.442 24.542 25.0561Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask2_2320_1576" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="8" y="0" width="3" height="37">
          <path d="M10.7999 0.5H8.3999V36.5H10.7999V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask2_2320_1576)">
          <path d="M35.4283 6.19167L30.3034 1.07056C29.9846 0.752091 29.5654 0.553825 29.1169 0.509473C28.6685 0.465121 28.2185 0.577419 27.8435 0.827277L20.4148 5.77862C19.6146 5.62822 18.8021 5.55236 17.9879 5.55201C14.5254 5.55201 11.2698 6.89614 8.82355 9.35362C5.67757 12.4989 4.4893 16.8712 5.25911 20.9502L0.327503 28.348C0.0773874 28.7232 -0.0349802 29.1733 0.00952499 29.622C0.0540301 30.0705 0.252658 30.4899 0.5716 30.8085L5.69614 35.9293C6.01494 36.2479 6.43426 36.4461 6.8828 36.4905C7.33135 36.5349 7.78141 36.4225 8.15645 36.1725L15.5533 31.2414C16.3466 31.3899 17.1676 31.4797 17.9882 31.4797C21.4544 31.4797 24.71 30.1317 27.1562 27.6781C30.3023 24.5328 31.4905 20.1567 30.7165 16.0894L35.6728 8.6518C35.9227 8.2767 36.035 7.82658 35.9904 7.37805C35.9459 6.92952 35.7473 6.51028 35.4283 6.19167ZM24.542 25.0561C22.7914 26.8069 20.4664 27.7678 17.9886 27.7678C15.5147 27.7678 13.1893 26.8065 11.4389 25.0561C7.82365 21.442 7.82365 15.5775 11.4389 11.9634C13.1893 10.2127 15.5147 9.25168 17.9886 9.25168C20.4664 9.25168 22.7914 10.2131 24.542 11.9634C28.1455 15.5658 28.1455 21.442 24.542 25.0561Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask3_2320_1576" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="12" y="0" width="24" height="37">
          <path d="M36.0001 0.5H12.6001V36.5H36.0001V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask3_2320_1576)">
          <path d="M35.4283 6.19167L30.3034 1.07056C29.9846 0.752091 29.5654 0.553825 29.1169 0.509473C28.6685 0.465121 28.2185 0.577419 27.8435 0.827277L20.4148 5.77862C19.6146 5.62822 18.8021 5.55236 17.9879 5.55201C14.5254 5.55201 11.2698 6.89614 8.82355 9.35362C5.67757 12.4989 4.4893 16.8712 5.25911 20.9502L0.327503 28.348C0.0773874 28.7232 -0.0349802 29.1733 0.00952499 29.622C0.0540301 30.0705 0.252658 30.4899 0.5716 30.8085L5.69614 35.9293C6.01494 36.2479 6.43426 36.4461 6.8828 36.4905C7.33135 36.5349 7.78141 36.4225 8.15645 36.1725L15.5533 31.2414C16.3466 31.3899 17.1676 31.4797 17.9882 31.4797C21.4544 31.4797 24.71 30.1317 27.1562 27.6781C30.3023 24.5328 31.4905 20.1567 30.7165 16.0894L35.6728 8.6518C35.9227 8.2767 36.035 7.82658 35.9904 7.37805C35.9459 6.92952 35.7473 6.51028 35.4283 6.19167ZM24.542 25.0561C22.7914 26.8069 20.4664 27.7678 17.9886 27.7678C15.5147 27.7678 13.1893 26.8065 11.4389 25.0561C7.82365 21.442 7.82365 15.5775 11.4389 11.9634C13.1893 10.2127 15.5147 9.25168 17.9886 9.25168C20.4664 9.25168 22.7914 10.2131 24.542 11.9634C28.1455 15.5658 28.1455 21.442 24.542 25.0561Z" fill="#3C1F1B"/>
          </g>
          <path d="M20.5342 14.8999L16.8 17.9159L19.816 21.65" stroke="#3C1F1B" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_2320_1576">
          <rect width="36" height="36" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>
          <div class="homepage_coverage-item-text">
            <p class="homepage_coverage-item-title">Watches</p>
            <p class="homepage_coverage-item-price small-text">from $50</p>
          </div>
        </a>
        <a href="https://legitgrails.com/products/eyewear-authentication" class="homepage_coverage-item block-flex-wrap block-gap-15 standart-hover">
          <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2320_1670)">
          <mask id="mask0_2320_1670" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="3" height="37">
          <path d="M2.4 0.5H0V36.5H2.4V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_2320_1670)">
          <path d="M26.225 3.62324C24.1476 5.62092 21.9104 7.73264 20.4368 10.2287C20.1382 10.7345 19.8202 11.2286 19.5296 11.7392C19.0211 12.6328 18.6055 13.6872 18.4266 14.745C18.2783 15.622 17.8674 16.4332 17.2381 17.0618L16.5774 17.7217C15.9481 18.3502 15.1364 18.7602 14.2592 18.9074C13.2012 19.0849 12.1464 19.4994 11.2521 20.0067C10.7411 20.2966 10.2466 20.614 9.7405 20.9121C7.24265 22.3827 5.12826 24.6174 3.12814 26.6924C2.89322 26.9361 1.16285 29.0011 0.233194 30.1134C-0.0995291 30.5114 -0.0733188 31.0972 0.293344 31.4644L1.18836 32.3605C1.3887 32.561 1.68228 32.6398 1.95422 32.5598C2.54104 32.3871 3.72275 32.2962 5.15672 33.5605C6.79658 35.0062 8.82005 36.1694 11.0199 36.4352C14.7493 36.8856 18.7585 33.6895 20.0828 30.2977C21.1759 27.498 20.0682 25.0276 18.7806 22.5639C18.5972 22.2117 18.4115 21.8608 18.2233 21.5113C18.0283 21.1506 17.9194 20.7463 17.933 20.3365C17.9866 18.742 19.6602 17.9704 20.9828 18.689C21.3461 18.8864 21.7118 19.0791 22.0776 19.2709C24.5398 20.5614 27.0088 21.6721 29.8098 20.5824C33.2032 19.2621 36.4042 15.2568 35.9582 11.5269C35.6952 9.32668 34.5344 7.30182 33.0906 5.66026C31.8281 4.22474 31.9205 3.04317 32.0939 2.45656C32.1743 2.18476 32.0958 1.89104 31.8955 1.6905L31.0004 0.794218C30.6337 0.427134 30.0479 0.400151 29.6495 0.732382C28.5361 1.66077 26.469 3.38862 26.225 3.62324Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask1_2320_1670" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="0" width="3" height="37">
          <path d="M6.59995 0.5H4.19995V36.5H6.59995V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_2320_1670)">
          <path d="M26.225 3.62324C24.1476 5.62092 21.9104 7.73264 20.4368 10.2287C20.1382 10.7345 19.8202 11.2286 19.5296 11.7392C19.0211 12.6328 18.6055 13.6872 18.4266 14.745C18.2783 15.622 17.8674 16.4332 17.2381 17.0618L16.5774 17.7217C15.9481 18.3502 15.1364 18.7602 14.2592 18.9074C13.2012 19.0849 12.1464 19.4994 11.2521 20.0067C10.7411 20.2966 10.2466 20.614 9.7405 20.9121C7.24265 22.3827 5.12826 24.6174 3.12814 26.6924C2.89322 26.9361 1.16285 29.0011 0.233194 30.1134C-0.0995291 30.5114 -0.0733188 31.0972 0.293344 31.4644L1.18836 32.3605C1.3887 32.561 1.68228 32.6398 1.95422 32.5598C2.54104 32.3871 3.72275 32.2962 5.15672 33.5605C6.79658 35.0062 8.82005 36.1694 11.0199 36.4352C14.7493 36.8856 18.7585 33.6895 20.0828 30.2977C21.1759 27.498 20.0682 25.0276 18.7806 22.5639C18.5972 22.2117 18.4115 21.8608 18.2233 21.5113C18.0283 21.1506 17.9194 20.7463 17.933 20.3365C17.9866 18.742 19.6602 17.9704 20.9828 18.689C21.3461 18.8864 21.7118 19.0791 22.0776 19.2709C24.5398 20.5614 27.0088 21.6721 29.8098 20.5824C33.2032 19.2621 36.4042 15.2568 35.9582 11.5269C35.6952 9.32668 34.5344 7.30182 33.0906 5.66026C31.8281 4.22474 31.9205 3.04317 32.0939 2.45656C32.1743 2.18476 32.0958 1.89104 31.8955 1.6905L31.0004 0.794218C30.6337 0.427134 30.0479 0.400151 29.6495 0.732382C28.5361 1.66077 26.469 3.38862 26.225 3.62324Z" fill="#3C1F1B"/>
          <path d="M9.29818 23.8839C8.76132 24.2589 8.24496 24.6623 7.75136 25.0926C7.06588 25.6911 6.43543 26.3658 5.97032 27.1506C5.1831 28.479 5.20032 30.1043 6.18555 31.294C8.18091 33.7032 11.6991 35.1111 14.6591 33.3428C15.7674 32.6806 16.6952 31.7889 17.3547 30.6711C17.7716 29.9646 18.0506 29.1809 18.1359 28.3708C18.3021 26.7922 17.6766 25.2448 16.8571 23.9552C16.3358 23.1348 15.5202 22.0694 14.5224 21.8109C13.5403 21.5565 12.603 21.9773 11.7354 22.3871C10.8723 22.7948 10.0798 23.3372 9.29818 23.8839ZM23.4575 9.82407C23.8331 9.2877 24.2372 8.77184 24.668 8.27872C25.2672 7.59396 25.9428 6.96428 26.7282 6.50014C28.0575 5.71454 29.6828 5.73373 30.8712 6.72037C33.2781 8.71861 34.6817 12.2385 32.9097 15.1962C32.2463 16.3038 31.3535 17.2306 30.2348 17.8888C29.5279 18.3048 28.7439 18.5828 27.9336 18.6671C26.3549 18.8314 24.8082 18.2042 23.5195 17.383C22.6999 16.8608 21.6353 16.0438 21.378 15.0456C21.1249 14.0632 21.5467 13.1265 21.9576 12.2594C22.3664 11.3969 22.9097 10.605 23.4575 9.82407Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask2_2320_1670" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="8" y="0" width="3" height="37">
          <path d="M10.7999 0.5H8.3999V36.5H10.7999V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask2_2320_1670)">
          <path d="M26.225 3.62324C24.1476 5.62092 21.9104 7.73264 20.4368 10.2287C20.1382 10.7345 19.8202 11.2286 19.5296 11.7392C19.0211 12.6328 18.6055 13.6872 18.4266 14.745C18.2783 15.622 17.8674 16.4332 17.2381 17.0618L16.5774 17.7217C15.9481 18.3502 15.1364 18.7602 14.2592 18.9074C13.2012 19.0849 12.1464 19.4994 11.2521 20.0067C10.7411 20.2966 10.2466 20.614 9.7405 20.9121C7.24265 22.3827 5.12826 24.6174 3.12814 26.6924C2.89322 26.9361 1.16285 29.0011 0.233194 30.1134C-0.0995291 30.5114 -0.0733188 31.0972 0.293344 31.4644L1.18836 32.3605C1.3887 32.561 1.68228 32.6398 1.95422 32.5598C2.54104 32.3871 3.72275 32.2962 5.15672 33.5605C6.79658 35.0062 8.82005 36.1694 11.0199 36.4352C14.7493 36.8856 18.7585 33.6895 20.0828 30.2977C21.1759 27.498 20.0682 25.0276 18.7806 22.5639C18.5972 22.2117 18.4115 21.8608 18.2233 21.5113C18.0283 21.1506 17.9194 20.7463 17.933 20.3365C17.9866 18.742 19.6602 17.9704 20.9828 18.689C21.3461 18.8864 21.7118 19.0791 22.0776 19.2709C24.5398 20.5614 27.0088 21.6721 29.8098 20.5824C33.2032 19.2621 36.4042 15.2568 35.9582 11.5269C35.6952 9.32668 34.5344 7.30182 33.0906 5.66026C31.8281 4.22474 31.9205 3.04317 32.0939 2.45656C32.1743 2.18476 32.0958 1.89104 31.8955 1.6905L31.0004 0.794218C30.6337 0.427134 30.0479 0.400151 29.6495 0.732382C28.5361 1.66077 26.469 3.38862 26.225 3.62324Z" fill="#3C1F1B"/>
          <path d="M9.29818 23.8839C8.76132 24.2589 8.24496 24.6623 7.75136 25.0926C7.06588 25.6911 6.43543 26.3658 5.97032 27.1506C5.1831 28.479 5.20032 30.1043 6.18555 31.294C8.18091 33.7032 11.6991 35.1111 14.6591 33.3428C15.7674 32.6806 16.6952 31.7889 17.3547 30.6711C17.7716 29.9646 18.0506 29.1809 18.1359 28.3708C18.3021 26.7922 17.6766 25.2448 16.8571 23.9552C16.3358 23.1348 15.5202 22.0694 14.5224 21.8109C13.5403 21.5565 12.603 21.9773 11.7354 22.3871C10.8723 22.7948 10.0798 23.3372 9.29818 23.8839ZM23.4575 9.82407C23.8331 9.2877 24.2372 8.77184 24.668 8.27872C25.2672 7.59396 25.9428 6.96428 26.7282 6.50014C28.0575 5.71454 29.6828 5.73373 30.8712 6.72037C33.2781 8.71861 34.6817 12.2385 32.9097 15.1962C32.2463 16.3038 31.3535 17.2306 30.2348 17.8888C29.5279 18.3048 28.7439 18.5828 27.9336 18.6671C26.3549 18.8314 24.8082 18.2042 23.5195 17.383C22.6999 16.8608 21.6353 16.0438 21.378 15.0456C21.1249 14.0632 21.5467 13.1265 21.9576 12.2594C22.3664 11.3969 22.9097 10.605 23.4575 9.82407Z" fill="#3C1F1B"/>
          </g>
          <mask id="mask3_2320_1670" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="12" y="0" width="24" height="37">
          <path d="M36.0001 0.5H12.6001V36.5H36.0001V0.5Z" fill="white"/>
          </mask>
          <g mask="url(#mask3_2320_1670)">
          <path d="M26.225 3.62324C24.1476 5.62092 21.9104 7.73264 20.4368 10.2287C20.1382 10.7345 19.8202 11.2286 19.5296 11.7392C19.0211 12.6328 18.6055 13.6872 18.4266 14.745C18.2783 15.622 17.8674 16.4332 17.2381 17.0618L16.5774 17.7217C15.9481 18.3502 15.1364 18.7602 14.2592 18.9074C13.2012 19.0849 12.1464 19.4994 11.2521 20.0067C10.7411 20.2966 10.2466 20.614 9.7405 20.9121C7.24265 22.3827 5.12826 24.6174 3.12814 26.6924C2.89322 26.9361 1.16285 29.0011 0.233194 30.1134C-0.0995291 30.5114 -0.0733188 31.0972 0.293344 31.4644L1.18836 32.3605C1.3887 32.561 1.68228 32.6398 1.95422 32.5598C2.54104 32.3871 3.72275 32.2962 5.15672 33.5605C6.79658 35.0062 8.82005 36.1694 11.0199 36.4352C14.7493 36.8856 18.7585 33.6895 20.0828 30.2977C21.1759 27.498 20.0682 25.0276 18.7806 22.5639C18.5972 22.2117 18.4115 21.8608 18.2233 21.5113C18.0283 21.1506 17.9194 20.7463 17.933 20.3365C17.9866 18.742 19.6602 17.9704 20.9828 18.689C21.3461 18.8864 21.7118 19.0791 22.0776 19.2709C24.5398 20.5614 27.0088 21.6721 29.8098 20.5824C33.2032 19.2621 36.4042 15.2568 35.9582 11.5269C35.6952 9.32668 34.5344 7.30182 33.0906 5.66026C31.8281 4.22474 31.9205 3.04317 32.0939 2.45656C32.1743 2.18476 32.0958 1.89104 31.8955 1.6905L31.0004 0.794218C30.6337 0.427134 30.0479 0.400151 29.6495 0.732382C28.5361 1.66077 26.469 3.38862 26.225 3.62324Z" fill="#3C1F1B"/>
          <path d="M29.81 20.5824C29.7319 20.6126 29.6531 20.6413 29.5739 20.6686C32.4739 18.9773 35.2354 15.1505 34.8424 11.8699C34.5796 9.66986 33.4189 7.64492 31.975 6.00358C30.7121 4.56777 30.4727 3.71871 30.6465 3.13175C30.7268 2.85968 30.6479 2.56652 30.4481 2.36534L29.5529 1.46941C29.4235 1.33996 29.2611 1.24838 29.0833 1.20457C29.2874 1.03452 29.4799 0.873811 29.6492 0.732711C30.0479 0.399848 30.6334 0.427323 31.0004 0.794266L31.8957 1.69019C32.0954 1.89067 32.1742 2.18446 32.0939 2.45662C31.9203 3.0428 31.8277 4.22465 33.0905 5.65975C34.5343 7.30186 35.6951 9.32673 35.9578 11.5268C36.4043 15.2567 33.2035 19.2616 29.81 20.5824Z" fill="#3C1F1B"/>
          <path d="M9.29818 23.8839C8.76132 24.2589 8.24496 24.6623 7.75136 25.0926C7.06588 25.6911 6.43543 26.3658 5.97032 27.1506C5.1831 28.479 5.20032 30.1043 6.18555 31.294C8.18091 33.7032 11.6991 35.1111 14.6591 33.3428C15.7674 32.6806 16.6952 31.7889 17.3547 30.6711C17.7716 29.9646 18.0506 29.1809 18.1359 28.3708C18.3021 26.7922 17.6766 25.2448 16.8571 23.9552C16.3358 23.1348 15.5202 22.0694 14.5224 21.8109C13.5403 21.5565 12.603 21.9773 11.7354 22.3871C10.8723 22.7948 10.0798 23.3372 9.29818 23.8839ZM23.4575 9.82407C23.8331 9.2877 24.2372 8.77184 24.668 8.27872C25.2672 7.59396 25.9428 6.96428 26.7282 6.50014C28.0575 5.71454 29.6828 5.73373 30.8712 6.72037C33.2781 8.71861 34.6817 12.2385 32.9097 15.1962C32.2463 16.3038 31.3535 17.2306 30.2348 17.8888C29.5279 18.3048 28.7439 18.5828 27.9336 18.6671C26.3549 18.8314 24.8082 18.2042 23.5195 17.383C22.6999 16.8608 21.6353 16.0438 21.378 15.0456C21.1249 14.0632 21.5467 13.1265 21.9576 12.2594C22.3664 11.3969 22.9097 10.605 23.4575 9.82407Z" fill="#3C1F1B"/>
          <path d="M18.136 28.3709C18.0506 29.1808 17.7712 29.9646 17.3543 30.6708C16.695 31.789 15.7673 32.6806 14.6586 33.3428C14.2418 33.5918 13.8141 33.7778 13.3805 33.9065C14.4371 33.253 15.3222 32.3853 15.9591 31.307C16.376 30.6006 16.6546 29.8169 16.74 29.0072C16.9065 27.4287 16.2804 25.8814 15.4612 24.591C14.9402 23.7711 14.1245 22.7058 13.1265 22.4475C12.4918 22.2825 11.8759 22.4004 11.2854 22.6146C11.4335 22.535 11.5836 22.4592 11.7355 22.3874C12.6026 21.977 13.5405 21.5566 14.5226 21.8106C15.5198 22.0697 16.3354 23.135 16.8573 23.9549C17.6764 25.2446 18.3017 26.7926 18.136 28.3709ZM32.9097 15.1959C32.2461 16.304 31.3536 17.2302 30.2349 17.8888C29.8282 18.1283 29.3968 18.3216 28.9488 18.4592C30.0164 17.8056 30.8724 16.9031 31.5137 15.8328C33.286 12.8751 31.882 9.35496 29.475 7.35679C28.6001 6.6295 27.4877 6.42825 26.4318 6.68593C26.5288 6.62132 26.6276 6.5593 26.7279 6.49993C28.0572 5.71474 29.6826 5.73351 30.871 6.72064C33.278 8.71881 34.6812 12.2382 32.9097 15.1959Z" fill="#3C1F1B"/>
          </g>
          </g>
          <defs>
          <clipPath id="clip0_2320_1670">
          <rect width="36" height="36" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>
          <div class="homepage_coverage-item-text">
            <p class="homepage_coverage-item-title">Eyewear</p>
            <p class="homepage_coverage-item-price small-text">from $15</p>
          </div>
        </a>
      </div>
      <div class="homepage_coverage-btns block-flex-wrap block-gap-15">
        <a href="https://legitgrails.com/pages/partner-with-legitgrails" class="rebranding_btn">Business solutions</a>
        <a href="https://legitgrails.com/pages/choose-your-brand" class="rebranding_btn rebranding_btn-main">Start authentication</a>
      </div>
    </div>
    <div class="homepage_coverage-products block-flex-wrap block-gap-20">
      <div class="homepage_coverage-products-column">
        <a href="https://legitgrails.com/products/chanel-legit-check" style="background-image: url('{{ "homepage_coverage-chanel.jpg" | asset_url }}')" class="homepage_coverage-product standart-hover">
          <span class="homepage_coverage-product-label">
            Chanel
          </span>
        </a>
      </div>
      <div class="homepage_coverage-products-column block-flex-wrap">
        <a href="https://legitgrails.com/products/chanel-legit-check" style="background-image: url('{{ "homepage_coverage-chanel.jpg" | asset_url }}')" class="homepage_coverage-product homepage_coverage-product-hidden standart-hover">
          <span class="homepage_coverage-product-label">
            Chanel
          </span>
        </a>
        <a href="https://legitgrails.com/products/louis-vuitton-legit-check" style="background-image: url('{{ "homepage_coverage-lv.jpg" | asset_url }}')" class="homepage_coverage-product standart-hover">
          <span class="homepage_coverage-product-label">
            Louis Vuitton
          </span>
        </a>
        <a href="https://legitgrails.com/products/gucci-legit-check" style="background-image: url('{{ "homepage_coverage-gucci.jpg" | asset_url }}')" class="homepage_coverage-product standart-hover">
          <span class="homepage_coverage-product-label">
            Gucci
          </span>
        </a>
        <a href="https://legitgrails.com/products/jordan-legit-check" style="background-image: url('{{ "homepage_coverage-air-jordan.jpg" | asset_url }}')" class="homepage_coverage-product standart-hover">
          <span class="homepage_coverage-product-label">
            Air Jordan
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Homepage Coverage",
    "class": "homepage_coverage rebranding-section",
    "settings": []
  }
{% endschema %}