{% render 'fonts-trustpilot' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "LegitGrails",
  "url": "https://legitgrails.com/",
  "logo": "https://cdn.shopify.com/s/files/1/0094/6307/0798/files/logo_0b224bd0-b3db-49fd-8d84-8e688881879d_400x.png?v=1674756955",
  "sameAs": [
    "https://www.facebook.com/legitgrails/",
    "https://twitter.com/LegitGrails",
    "https://www.instagram.com/legitgrails/",
    "https://www.youtube.com/channel/UCYWyqpYi0NpZY8J3GYMRY9A"
  ]
}
</script>
{% render 'section-legit-homepage-tabs-styles-min' %}
<img loading="lazy" class="homepage-tabs_left-img" src="{{ "homepage-tabs_left-img.webp" | asset_url }}">
<div class="section-container">
            <div class="homepage-tabs_container">
                <div class="homepage-tabs_main-container">
                    <div class="homepage-tabs_main">
                        <h1 class="homepage-tabs_title font-title">The Most Advanced<br>Luxury Authentication Service</h1>
                        <div class="homepage-tabs_tabs">
                            <a href="javascript:void(0)" id="tab-1" class="homepage-tabs_tab active font-title">
                                Authentication<br>service
                            </a>
                            <a href="javascript:void(0)" id="tab-2" class="homepage-tabs_tab font-title">
                                Bulk<br>authentication
                            </a>
                            <a href="javascript:void(0)" id="tab-3" class="homepage-tabs_tab font-title">
                                Learn how to<br>authenticate
                            </a>
                        </div>
                        <div class="homepage-tabs_content">
                            <div class="homepage-tabs_content_tab-1 homepage-tabs_content_tab active">
                                <img loading="lazy" src="{{ "homepage-tabs_icon-1.webp" | asset_url }}" alt="" class="homepage-tabs_content_tab-img">
                                <p class="homepage-tabs_content_tab-title font-title">
                                    Authenticate your items
                                </p>
                                <p class="homepage-tabs_content_tab-desc font-description">
                                    Authenticate your designer items with confidence! Our industry experts, backed by over six years of experience and advanced AI technology, will verify the authenticity of your handbags, sneakers, streetwear, and more – all in 30 minutes or less.
                                </p>
                                <a href="https://legitgrails.com/pages/choose-your-brand" class="main-btn homepage-tabs_content_btn font-title homepage_slide-authenticate-btn-track">
                                    Authenticate now
                                </a>
                               <!-- TrustBox widget - Mini -->
          <div class="trustpilot-widget homepage_trustpilot-btn-track" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5fbebb2d281b010001718c1c" data-style-height="112px" data-style-width="200px" data-theme="dark">
            <a href="https://uk.trustpilot.com/review/legitgrails.com" target="_blank" rel="noopener">Trustpilot</a>
          </div>
        <!-- End TrustBox widget -->
                            </div>
                            <div class="homepage-tabs_content_tab-2 homepage-tabs_content_tab">
                                <img loading="lazy" src="{{ "homepage-tabs_icon-2.webp" | asset_url }}" alt="" class="homepage-tabs_content_tab-img">
                                <p class="homepage-tabs_content_tab-title font-title">
                                    Get the best value
                                </p>
                                <p class="homepage-tabs_content_tab-desc font-description">
                                    Enjoy the peace of mind that comes with authentication services for multiple luxury or hype brands, all at a discounted rate. Plus, our dashboard simplifies authentication tracking.
                                </p>
                                <a href="https://legitgrails.com/pages/partner-with-legitgrails" id="homepage-tabs_test-btn" class="main-btn homepage-tabs_content_btn font-title homepage_slide-b2b-btn-track">
                                    Discover more
                                </a>
                               <!-- TrustBox widget - Mini -->
          <div class="trustpilot-widget homepage_trustpilot-btn-track" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5fbebb2d281b010001718c1c" data-style-height="112px" data-style-width="200px" data-theme="dark">
            <a href="https://uk.trustpilot.com/review/legitgrails.com" target="_blank" rel="noopener">Trustpilot</a>
          </div>
        <!-- End TrustBox widget -->
                            </div>
                            <div class="homepage-tabs_content_tab-3 homepage-tabs_content_tab">
                                <img loading="lazy" src="{{ "homepage-tabs_icon-3.webp" | asset_url }}" alt="" class="homepage-tabs_content_tab-img">
                                <p class="homepage-tabs_content_tab-title font-title">
                                    Expand your authentication knowledge
                                </p>
                                <p class="homepage-tabs_content_tab-desc font-description">
                                    Learn to authenticate luxury goods with ease through our helpful guides or become a master of brand verification with our comprehensive courses. No matter your needs, we’ve got you covered!
                                </p>
                                <a href="https://legitgrails.com/pages/guides" class="main-btn homepage-tabs_content_btn font-title homepage_slide-academy-btn-track">
                                    Start learning
                                </a>
                               <!-- TrustBox widget - Mini -->
          <div class="trustpilot-widget homepage_trustpilot-btn-track" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5fbebb2d281b010001718c1c" data-style-height="112px" data-style-width="200px" data-theme="dark">
            <a href="https://uk.trustpilot.com/review/legitgrails.com" target="_blank" rel="noopener">Trustpilot</a>
          </div>
        <!-- End TrustBox widget -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <img src="{{ "homepage-tabs_bottom-image.webp" | asset_url }}" loading="lazy" alt="homepage-tabs_bottom-imag" class="homepage-tabs_bottom-image">
<img loading="lazy" class="homepage-tabs_right-img" src="{{ "homepage-tabs_right-img.webp" | asset_url }}" alt="homepage-tabs_right-img">
<script>
    document.addEventListener("DOMContentLoaded",
  function (){
$(".homepage-tabs_tab").on("click",function(){$(".homepage-tabs_tab").removeClass("active"),$(".homepage-tabs_content_tab").removeClass("active"),$(this).addClass("active");var a=$(this).attr("id");return $(".homepage-tabs_content_"+a).addClass("active"),!1});
}
  )
</script>
<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->

{% schema %}
  {
    "name": "Legit homepage tabs",
    "class": "homepage-tabs",
    "tag": "section",
    "presets": [
    {
      "name": "Legit homepage tabs"
    }
  ]
  }
{% endschema %}