<div class="featured-collection collection-template" data-section-id="{{ section.id }}"
     data-section-type="collection-template">
    <div class="section-container">
        <div class="featured-collection__heading grid text-center">
            <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
                <p class="hero__overlay-title section-title font-title" data-animate>{{ section.settings.title }}</p>
                <p class="section-description font-description">{{ section.settings.description }}</p>
            </div>
        </div>

        <div class="legit-image-icon legit-image-icon--{{ section.id }} legit-image-icon--{{ section.settings.section_height }}"
             data-section-id="{{ section.id }}" data-section-type="gallery">
            {% for block in section.blocks %}
                <div class="legit-image-icon__flex legit-image-icon__{{ section.blocks.size }}-column">
                    {% if block.settings.image != blank %}
                        <div class="legit-image-icon__item legit-image-icon__item--{{ block.id }} lazyload" {{ block.shopify_attributes }}
                             data-bgset="{% include 'bgset', image: block.settings.image %}">
                        </div>
                    {% endif %}
                    <div class="legit-image-icon__text" data-animate>
                        {% if block.settings.cta_label != blank %}
                            <p class="h2 legit-image-icon__caption-small font-title">{{ block.settings.cta_label | escape }}</p>
                        {% endif %}
                        {% if block.settings.block_description != blank %}
                            <p class="section-description legit-image-icon__caption-small font-description">{{ block.settings.block_description }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if section.blocks.size == 0 %}
            {% include 'no-blocks' %}
        {% endif %}

        {% if section.settings.button_label != blank %}
            <div class="button-container">
                <a href="{{ section.settings.button_link }}"
                   class="font-title main-btn{% if section.settings.use_second_button %} btn--secondary{% endif %} hero__btn">
                    {{ section.settings.button_label }}
                </a>
            </div>
        {% endif %}
    </div>
</div>
<style>
 .legit-image-icon__caption-small {
    text-transform: none;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
    margin-top: 15px;
  }
 @media (min-width: 1024px) {
   .legit-image-icon__caption-small {
     font-size: 22px;
     margin-bottom: 15px;
     text-transform: none;
   }
 }
</style>
{% schema %}
{
  "name": {
    "en": "Legit page product why"
  },
  "class": "index-section--services",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "section_height",
      "label": {
        "en": "Section height"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Extra Small"
          },
          "value": "x-small"
        },
        {
          "label": {
            "en": "Small"
          },
          "value": "small"
        },
        {
          "label": {
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "en": "Large"
          },
          "value": "large"
        },
        {
          "label": {
            "en": "Extra Large"
          },
          "value": "x-large"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Legit services"
      }
    },
    {
      "type": "text",
      "id": "description",
      "label": {
        "en": "Description"
      }
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
      }
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "Image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text"
          }
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": {
            "en": "Caption"
          },
          "default": {
            "en": "Talk about your brand"
          }
        },
        {
          "type": "richtext",
          "id": "block_description",
          "label": {
            "en": "Description"
          },
          "default": {
            "en": "<p>Describe your brand</p>"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          },
          "info": {
            "en": "Optional"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Legit page product why"
      },
      "category": {
        "en": "Image"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
