{% render 'section-legit-authentication-benefits-styles' %}
  <!--  <section class="why-choose">
        <div class="container">
            <div class="why-choose_title">
                <span></span>
                <h2>How We Ensure the Highest Accuracy</h2>
            </div>

            <div class="why-choose_wrapp">
                <div class="why-choose_item">
                    <img src="{{ 'why-1.png' | asset_url }}" alt="">
                    <p class="why-choose_item-title">
                        Experienced Industry Professionals
                    </p>
                    <p class="why-choose_item-desc">
                      Trained and certified authenticators with an accuracy rate of over 99% and an experience in reselling and working directly with well-known brands.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-2-refund.png' | asset_url }}" alt="">
                    <p class="why-choose_item-title">
                        Peer Review System
                    </p>
                    <p class="why-choose_item-desc">
                      Each item is checked by 2 to 4 professional authenticators, the system assigns the best authenticators based on specific brands and individual KPIs.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'why-3-refund.png' | asset_url }}" alt="">
                    <p class="why-choose_item-title">
                        Tracking Key Performance Indicators
                    </p>
                    <p class="why-choose_item-desc">
                      Complex system created by our team tracks authenticator success metrics, average response times, and double-checking request statistics.
                    </p>
                </div>
                <div class="why-choose_item">
                    <img src="{{ 'benefit-4.png' | asset_url }}" alt="">
                    <p class="why-choose_item-title">
                        Testing & Improving Knowledge
                    </p>
                    <p class="why-choose_item-desc">
                      Bi-weekly authentication tests are conducted in-house to ensure authenticators' high accuracy for brands they specialise in and to spot potential issues.
                    </p>
                </div>
            </div>
        </div>
    </section> -->



    <section class="about-us">
        <div class="section-container">
            <div class="partner_title">
                <span></span>
                <h2 class="partner_title-title font-title">
                    How We Ensure the Highest Accuracy
                </h2>
            </div>

            <div class="about-us_line">
                
               <div class="about-us_line-item">
                    <img src="{{ 'why-3-refund.png' | asset_url }}" alt="" loading="lazy">
                    <h2 class="about-us_line-item-title font-title">
                        Hybrid Authentication
                    </h2>
                    <p class="about-us_line-item-desc font-description">
                       We combine human expertise with AI assessments to ensure high accuracy. In case of conflicting results, we involve more authenticators to determine the outcome.
                    </p>
                </div>
                <div class="about-us_line-item">
                    <img src="{{ 'why-2-refund.png' | asset_url }}" alt="" loading="lazy">
                    <h2 class="about-us_line-item-title font-title">
                        Peer Review System
                    </h2>
                    <p class="about-us_line-item-desc font-description">
                        Each item is checked by 2 to 4 professional authenticators, the system assigns the best authenticators based on specific brands and individual KPIs.
                    </p>
                </div>
               <div class="about-us_line-item">
                    <img src="{{ 'why-1.png' | asset_url }}" alt="" loading="lazy">
                    <h2 class="about-us_line-item-title font-title">
                        Experienced Industry Professionals
                    </h2>
                    <p class="about-us_line-item-desc font-description">
                        Trained and certified authenticators with an accuracy rate of over 99% and an experience in reselling and working directly with well-known brands.
                    </p>
                </div>
              <div class="about-us_line-item">
                    <img src="{{ 'benefit-4.png' | asset_url }}" alt="" loading="lazy">
                    <h2 class="about-us_line-item-title font-title">
                        AI Authentication
                    </h2>
                    <p class="about-us_line-item-desc font-description">
                       Our AI system utilizes an extensive database of hundreds of millions of authentic and counterfeit samples, engineered to deliver unparalleled accuracy in authentication.
                    </p>
                </div>
            </div>
            <div class="button-container">
                <a href="#product-box_section"
                   class="font-title main-btn hero__btn product_authenticate-now-btn-track">
                    Authenticate Now
                </a>
            </div>
        </div>
    </section>


{% schema %}
  {
    "name": "Benefits",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

