{% render 'section-new-faq-2-styles-min' %}
<div class="section-container">
                <h2 class="faq-title hero__overlay-title section-title has-animated">
                    Featured Questions
                </h2>
            <div class="new-faq_wrapp">
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            Who is eligible to use the LegitGrails {{ product.title }}? 
                        </p>
                        <a href="javascript:void(0)"  class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            Our verification service is open to all individuals and businesses who want to check the authenticity of a product, regardless of their location.
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            What is the approach behind the LegitGrails {{ product.title }} service? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            Our {{ product.title }} combines the expertise of our team with advanced technology to determine the authenticity of branded items. Users are required to upload photos of their product from different angles, which our experts will inspect to detect any signs of counterfeit. If more information is needed, our team will contact you promptly. 
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                           What distinguishes LegitGrails {{ product.title }} from other similar services? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            Our {{ product.title }} stands out due to its high accuracy, speed, and excellent customer support. Our authentication experts have more than six years of experience in the field, ensuring that each product is thoroughly analysed by at least two professionals. We provide detailed reports of our findings, a free certificate of authenticity for every verified item, and ongoing customer service to ensure transparency and trust throughout the process. 
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            What photos do I need to upload for authentication? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            To ensure accurate authentication results, we suggest that users upload clear, detailed photos of their product from different angles, which are available when you select 'Upload photos' on this page. The photos should be well-lit and provide a complete view of the product without any obstructions or reflections. Visit the <a href="https://legitgrails.frontkb.com/en/categories/604802-general-photos">Photo Instructions</a> section to see clear examples for each detail. 
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            How long does the {{ product.title }} process take? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            We are committed to providing our users with fast and accurate results. We will inform you as soon as our analysis is completed. You may choose your preferred turnaround time before submitting your item for authentication, ensuring that we meet your expectations. 
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            How accurate is LegitGrails {{ product.title }}? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            At LegitGrails, we take pride in delivering highly accurate authentication results with a success rate of over 99%. Our experts use advanced tools and visual analysis to thoroughly inspect your product and detect any potential counterfeit signs. You can trust us to provide a reliable and trustworthy {{ product.title }}. 
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                           Can I have my model authenticated by LegitGrails? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            We offer authentication services for a broad range of branded products, including handbags, footwear, clothing, and accessories, covering most popular models. In the unlikely event that we cannot authenticate your specific item, we will promptly notify you and offer any assistance we can. 
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            What if my product is deemed counterfeit? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            In case that your item is deemed counterfeit by LegitGrails, we will provide you with a comprehensive report of our findings and inform you of the result. We also offer <a href="https://legitgrails.com/products/refundgrails">consultancy services</a> that may help you recover your money if you're in a dispute with the seller. You can rely on us to provide support and guidance throughout the entire process. 
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            What if I have additional inquiries or concerns about the service? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            If you have further questions or concerns about our service, please do not hesitate to contact our customer support team. We are available 24/7 to assist you with any inquiries, feedback, or issues you may have. You can get in touch with us via our live chat on the website, our email <a href="mailto:info@legitgrails.com">info@legitgrails.com</a>, or our <a href="https://legitgrails.frontkb.com/en">Help Center</a>. We will respond as soon as possible.
                        </p>
                    </div>
                </div>
            </div>
  <div class="new-faq_bottom font-title">
      <p>Have more questions? Visit our <a href="https://legitgrails.frontkb.com/en">Help Center</a></p>
  </div>
        </div>


<script src="{{ 'new-faq-item-click.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "New FAQ 2",
    "class": "new-faq",
    "tag": "section",
    "presets": [
    {
      "name": "New FAQ 2"
    }
  ]
  }
{% endschema %}