{% render 'section-new-faq-3-styles-min' %}
<div class="section-container">
                <h2 class="faq-title hero__overlay-title section-title has-animated">
                    Featured Questions
                </h2>
            <div class="new-faq_wrapp">
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            Who is eligible to use LegitGrails verification service? 
                        </p>
                        <a href="javascript:void(0)"  class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            LegitGrails verification service is accessible to anyone, whether an individual or a business entity, who intends to verify the authenticity of a product, regardless of their location.
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            What is the process behind LegitGrails {{ product.title }}? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            The LegitGrails {{ product.title }} service combines human expertise with advanced database of images to authenticate branded items. You will need to upload images of your product from different angles, and our team of experts will analyse the details to determine if the item is authentic or fake. If any additional information is required, our team will contact you.
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                           What distinguishes LegitGrails {{ product.title }} from other similar services? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            LegitGrails {{ product.title }} service stands out due to its high accuracy, speed, and excellent customer support. Our authentication team comprises professionals with more than six years of experience in the field, ensuring that each item undergoes thorough verification by at least two experts. We provide detailed reports of our findings, a free authenticity certificate for every verified item, and continuous customer service to ensure transparency and trust throughout the process.
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            What are the recommended images to upload for authentication? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            To obtain the best possible authentication results, we recommend uploading clear and detailed images of the product from various angles, which are listed once you press 'Upload photos' on this page. The photos should be well-lit and show the product entirely, without any obstructions or reflections. Check out <a href="https://legitgrails.frontkb.com/en/categories/604802-general-photos">Photo Instructions</a> to see clear examples for each detail.
                        </p>
                    </div>
                </div>
                <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            How long does LegitGrails authentication process take? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            We prioritise delivering precise and fast results to our users. Once our analysis is complete, we will promptly notify you. You have the option to choose your preferred turnaround time before submitting your item for authentication, ensuring that we meet your needs.
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            How accurate is LegitGrails {{ product.title }} service? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            At LegitGrails, we pride ourselves on providing highly accurate authentication results, with a success rate of over 99%. Our team of experts employs advanced tools and visual analysis to thoroughly examine your product and identify any potential signs of counterfeiting. You can trust us to deliver a reliable and trustworthy {{ product.title }}.
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                           Which types of branded products does LegitGrails authenticate? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            We offer authentication services for a wide variety of branded products, such as handbags, footwear, clothing, and accessories, covering most popular models. In the rare event that we are unable to authenticate a specific item, we will promptly inform the user and offer any available assistance.
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                            What happens if LegitGrails deems my item to be counterfeit? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            In the unfortunate event that your item is deemed counterfeit by LegitGrails, we will provide you with a comprehensive report of our findings and inform you of the result. We also offer <a href="https://legitgrails.com/products/refundgrails">consultancy services</a> that may assist you in recovering your money if you're in a dispute with the seller. You can rely on us to provide support and guidance throughout the entire authentication process.
                        </p>
                    </div>
                </div>
              <div class="new-faq_item">
                    <div class="new-faq_item-title">
                        <p class="font-title">
                           How can I contact LegitGrails customer support? 
                        </p>
                        <a href="javascript:void(0)" class="font-title">
                            +
                        </a>
                    </div>
                    <div class="new-faq_item-text">
                        <p class="font-description">
                            If you have any questions or concerns about the service, please feel free to contact our customer support team. Our team is available 24/7 and can be reached via our live chat on the website, by emailing <a href="mailto:info@legitgrails.com">info@legitgrails.com</a> or via our <a href="https://legitgrails.frontkb.com/en">Help Center</a>. We will respond to your inquiry as soon as possible.
                        </p>
                    </div>
                </div>
            </div>
  <div class="new-faq_bottom font-title">
      <p>Have more questions? Visit our <a href="https://legitgrails.frontkb.com/en">Help Center</a></p>
  </div>
        </div>


<script src="{{ 'new-faq-item-click.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "New FAQ 3",
    "class": "new-faq",
    "tag": "section",
    "presets": [
    {
      "name": "New FAQ 3"
    }
  ]
  }
{% endschema %}