<style>
  .offers-image_wrapp {
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
.offers-image_content {
    width: calc(52% - 25px);
    height: max-content;
}
  .offers-image_image {
    width: calc(48% - 25px);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 1px solid #E0DFDF;
    height: 620px;
    background-color: #f2f2f2;
  }
  .offers-image_btn {
    margin: 0;
  }
  .offers-image_left-wrapp .offers-image_image {
    order: 1;
  }
  .offers-image_left-wrapp .offers-image_content {
    order: 2;
  }
  p.offers-image_desc {
    max-width: 440px;
    margin: 0;
  }
  p.left-offers-item-desc {
    margin-top: 10px;
}
  .offers-image_items {
    gap: 35px 25px;
  }
  .offers-image_item {
    width: 312px;
  }
  .offers-image_item:nth-child(1), .offers-image_item:nth-child(3) {
    width: 348px;
  }
  .offers-image_item svg {
    width: 30px;
}
  @media(max-width: 1450px) {
    .offers-image_content {
      width: calc(58% - 25px);
    }
    .offers-image_image {
      width: calc(42% - 25px);
    }
    .offers-image_item {
        width: 294px;
    }
    .offers-image_item:nth-child(1), .offers-image_item:nth-child(3) {
        width: 332px;
    }
  }
  @media(max-width: 1250px) {
    .offers-image_left-wrapp .offers-image_image {
    order: 2;
}
    p.offers-image_desc {
        max-width: 100%;
    }
    .offers-image_image {
      width: 100%;
    }
    .offers-image_content {
        justify-content: center;
        width: 100%;
    }
      .left-offers-item-alignment .left-offers-item-text {
        width: 100%;
        text-align: center;
      }
        .left-offers-item-alignment {
        justify-content: center;
    }
    .offers-image_items {
      justify-content: center;
    }
  }
  @media(max-width: 950px) {
    .offers-image_content {
      width: 100%;
      padding: 0 15px;
    }
    .offers-image_image {
      width: 100%;
      height: 400px;
      border-radius: 0;
      border: none;
    }
    .offers-image_item {
        justify-content: center;
        height: max-content;
    }
    .offers-image_title, .offers-image_desc {
      text-align: center;
    }
    .offers-image_desc {
      margin: 10px auto 0 auto;
    }
    .offers-image .container {
      padding: 0;
    }
    .offers-image_item:nth-child(3) .offers-image_item-text, .offers-image_item:nth-child(2) .offers-image_item-text, .offers-image_item:nth-child(1) .offers-image_item-text, .offers-image_item:nth-child(4) .offers-image_item-text {
    padding-top: 0;
}
    .offers-image_left-wrapp .offers-image_image {
    order: 2;
  }
  .offers-image_left-wrapp .offers-image_content {
    order: 1;
  }
    .offers-image {
      padding-bottom: 0;
    }
  }
  @media(max-width: 750px) {
    .offers-image_image {
      height: 440px;
    }
    .offers-image_items {
      gap: 40px;
    }
    .offers-image_item, .offers-image_item:nth-child(1), .offers-image_item:nth-child(3) {
        width: 240px;
    }
    .offers-image_item:nth-child(1) {
      order: 1;
    }
    .offers-image_item:nth-child(3) {
      order: 2;
    }
    .offers-image_item:nth-child(2) {
      order: 3;
    }
    .offers-image_item:nth-child(4) {
      order: 4;
    }
    .offers-image_text {
      text-align: justify;
    }
  }
  @media(max-width: 550px) {
    .offers-image_item:nth-child(1) {
      order: 1;
    }
    .offers-image_item:nth-child(3) {
      order: 3;
    }
    .offers-image_item:nth-child(2) {
      order: 2;
    }
    .offers-image_item:nth-child(4) {
      order: 4;
    }
    .offers-image_item, .offers-image_item:nth-child(1), .offers-image_item:nth-child(3) {
    width: 100%;
}
  }
</style>

<div class="container rebranding_container">
  <div class="offers-image_wrapp offers-image_left-wrapp block-flex-wrap">
    <div class="offers-image_content block-flex-wrap block-gap-40">
      <div class="rebranding-section-title rebranding-section-title-left block-gap-15 block-flex-wrap">
        <h2 class="h2-heading-ss">
         How we ensure  
          <span class="h2-heading-pp">
           the highest accuracy
          </span>
        </h2>
      </div>
      <div class="offers-image_items block-flex-wrap">
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
<svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.6948 4.49233C15.9603 -0.242235 8.28434 -0.242235 3.55092 4.49233C-1.18364 9.22689 -1.18364 16.9028 3.55092 21.6362C8.28549 26.3708 15.9614 26.3708 20.6948 21.6362C25.4294 16.9017 25.4294 9.22689 20.6948 4.49233ZM7.55505 19.0999C7.45892 19.1969 7.34455 19.2738 7.21854 19.3264C7.09253 19.379 6.95736 19.4061 6.82082 19.4062C6.68428 19.4063 6.54907 19.3794 6.42297 19.327C6.29687 19.2747 6.18239 19.1979 6.0861 19.1011C4.91444 17.9279 4.1093 16.4393 3.76878 14.8166C3.42825 13.1939 3.56706 11.5071 4.16827 9.96195C4.26804 9.70518 4.46573 9.49856 4.71784 9.38755C4.96995 9.27653 5.25583 9.27021 5.5126 9.36998C5.76937 9.46975 5.97599 9.66743 6.087 9.91954C6.19802 10.1717 6.20433 10.4575 6.10457 10.7143C5.64908 11.8837 5.54358 13.1603 5.80092 14.3886C6.05826 15.6169 6.66733 16.7439 7.5539 17.6321C7.65041 17.7284 7.727 17.8427 7.7793 17.9686C7.8316 18.0945 7.85857 18.2294 7.85868 18.3658C7.85878 18.5021 7.83202 18.6371 7.77993 18.763C7.72783 18.889 7.65141 19.0035 7.55505 19.0999ZM28.9731 24.9884L24.0643 20.0796C23.4732 21.0961 22.7538 22.0323 21.9238 22.8652C21.0999 23.6902 20.1513 24.3895 19.1336 24.9907L24.0574 29.9145C24.38 30.239 24.7635 30.4967 25.1858 30.6729C25.6081 30.8491 26.061 30.9403 26.5186 30.9414C26.9762 30.9425 27.4295 30.8533 27.8527 30.6791C28.2758 30.5049 28.6605 30.249 28.9846 29.926C30.3347 28.5771 30.3347 26.35 28.9731 24.9884Z" fill="#3C1F1B"/>
</svg>
          <div class="left-offers-item-text">
            <p class="left-offers-item-title h3-heading-pp">Hybrid authentication</p>
            <p class="left-offers-item-desc small-text">We combine human expertise with AI assessments to ensure high accuracy</p>
          </div>
        </div>
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
          <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.25 9.94141C9.44347 9.94141 10.5881 9.4673 11.432 8.62339C12.2759 7.77947 12.75 6.63488 12.75 5.44141C12.75 4.24793 12.2759 3.10334 11.432 2.25943C10.5881 1.41551 9.44347 0.941406 8.25 0.941406C7.05653 0.941406 5.91193 1.41551 5.06802 2.25943C4.22411 3.10334 3.75 4.24793 3.75 5.44141C3.75 6.63488 4.22411 7.77947 5.06802 8.62339C5.91193 9.4673 7.05653 9.94141 8.25 9.94141ZM0 14.0934C0 12.6264 1.1865 11.4414 2.652 11.4414H9.8025C9.27511 12.3531 8.99824 13.3881 9 14.4414C8.99899 15.2928 9.17964 16.1346 9.52987 16.9106C9.88011 17.6866 10.3919 18.3789 11.031 18.9414H9.402C7.6215 18.9414 6.102 20.0619 5.5125 21.6354C3.2655 21.0864 1.872 19.8609 1.0515 18.4959C0 16.7454 0 14.9454 0 14.6319V14.0934ZM21 14.4414C21.0018 13.3881 20.725 12.3531 20.1975 11.4414H27.348C28.812 11.4414 30 12.6279 30 14.0934V14.6334C30 14.9454 30 16.7454 28.95 18.4959C28.128 19.8609 26.7345 21.0864 24.4875 21.6354C24.1904 20.8439 23.6589 20.1618 22.9638 19.6805C22.2688 19.1991 21.4435 18.9412 20.598 18.9414H18.969C19.6081 18.3789 20.1199 17.6866 20.4701 16.9106C20.8204 16.1346 21.001 15.2928 21 14.4414ZM26.25 5.44141C26.25 6.63488 25.7759 7.77947 24.932 8.62339C24.0881 9.4673 22.9435 9.94141 21.75 9.94141C20.5565 9.94141 19.4119 9.4673 18.568 8.62339C17.7241 7.77947 17.25 6.63488 17.25 5.44141C17.25 4.24793 17.7241 3.10334 18.568 2.25943C19.4119 1.41551 20.5565 0.941406 21.75 0.941406C22.9435 0.941406 24.0881 1.41551 24.932 2.25943C25.7759 3.10334 26.25 4.24793 26.25 5.44141ZM6.75 23.0934C6.75 21.6294 7.9365 20.4414 9.402 20.4414H20.598C22.062 20.4414 23.25 21.6294 23.25 23.0934V23.6334C23.25 23.9454 23.25 25.7454 22.2 27.4959C21.0855 29.3469 18.9195 30.9414 15 30.9414C11.0805 30.9414 8.913 29.3469 7.8 27.4959C6.75 25.7454 6.75 23.9454 6.75 23.6319V23.0934ZM15 18.9414C15.5909 18.9414 16.1761 18.825 16.7221 18.5989C17.268 18.3727 17.7641 18.0413 18.182 17.6234C18.5998 17.2055 18.9313 16.7094 19.1575 16.1635C19.3836 15.6175 19.5 15.0324 19.5 14.4414C19.5 13.8505 19.3836 13.2653 19.1575 12.7193C18.9313 12.1734 18.5998 11.6773 18.182 11.2594C17.7641 10.8416 17.268 10.5101 16.7221 10.2839C16.1761 10.0578 15.5909 9.94141 15 9.94141C13.8065 9.94141 12.6619 10.4155 11.818 11.2594C10.9741 12.1033 10.5 13.2479 10.5 14.4414C10.5 15.6349 10.9741 16.7795 11.818 17.6234C12.6619 18.4673 13.8065 18.9414 15 18.9414Z" fill="#3C1F1B"/>
</svg>

          <div class="left-offers-item-text">
            <p class="left-offers-item-title h3-heading-pp">Peer review system</p>
            <p class="left-offers-item-desc small-text">Each item is checked by 2 to 4 professional authenticators</p>
          </div>
        </div>
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
          <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect y="0.941406" width="30" height="29.4737" rx="14.7368" fill="#3C1F1B"/>
<path d="M14.7907 8.73684C15.0063 8.0392 15.9937 8.0392 16.2093 8.73684L17.3449 12.4116C17.441 12.7227 17.7286 12.9348 18.0542 12.9348H21.8052C22.5153 12.9348 22.8202 13.8361 22.2559 14.2672L19.1582 16.6336C18.911 16.8225 18.8077 17.1455 18.8996 17.4428L20.0675 21.2222C20.2809 21.9128 19.4819 22.4701 18.9075 22.0313L15.9507 19.7726C15.6846 19.5693 15.3154 19.5693 15.0493 19.7726L12.0925 22.0313C11.5181 22.4701 10.7191 21.9128 10.9325 21.2222L12.1004 17.4428C12.1923 17.1455 12.089 16.8225 11.8418 16.6336L8.74413 14.2672C8.1798 13.8361 8.48467 12.9348 9.19483 12.9348H12.9458C13.2714 12.9348 13.559 12.7227 13.6551 12.4116L14.7907 8.73684Z" fill="white"/>
</svg>
          <div class="left-offers-item-text">
            <p class="left-offers-item-title h3-heading-pp">Industry professionals</p>
            <p class="left-offers-item-desc small-text">Trained and certified authenticators with an accuracy rate of over 99%</p>
          </div>
        </div>
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
<svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect y="0.941406" width="30" height="30" rx="5.6" fill="#3C1F1B"/>
<path d="M6 22.9414L11.38 8.44141H13.74L19.2 22.9414H17L15.86 19.8014H9.2L8.08 22.9414H6ZM12.5 10.5014L9.82 18.0614H15.22L12.5 10.5014ZM22.1631 8.44141V22.9414H20.1231V8.44141H22.1631Z" fill="white"/>
</svg>

          <div class="left-offers-item-text">
            <p class="left-offers-item-title h3-heading-pp">AI Assistance</p>
            <p class="left-offers-item-desc small-text">AI improves routing, consistency, and workflow efficiency while all authentication decisions remain human-led</p>
          </div>
        </div>
      </div>
  <a href="#product_boxes" class="offers-image_btn rebranding_btn rebranding_btn-main product_authenticate-now-btn-track">Authenticate now</a>
    </div>
      <div class="offers-image_image" style="background-image: url('{{ "rebrending_product-offers-2-2x.webp" | asset_url }}');
        background-image: -webkit-image-set(
          url('{{ "rebrending_product-offers-2-2x.webp" | asset_url }}') 1320px,
          url('{{ "rebrending_product-offers-2.webp" | asset_url }}') 660px,
          url('{{ "rebrending_product-offers-2-mob.webp" | asset_url }}') 440px);
        background-image: image-set(
          url('{{ "rebrending_product-offers-2-2x.webp" | asset_url }}') 1320px,
          url('{{ "rebrending_product-offers-2.webp" | asset_url }}') 660px,
          url('{{ "rebrending_product-offers-2-mob.webp" | asset_url }}') 440px);">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Offers with image",
    "class": "offers-image rebranding-section",
    "settings": []
  }
{% endschema %}