    <section class="faq">
        <div class="container">
            <div class="partner_title">
                <span></span>
                <h2 class="partner_title-title font-title">
                   Featured Questions and Socials
                </h2>
            </div>
            <div class="faq_wrapp">
                <div class="faq_wrapp-questions">
                    <div class="faq_wrapp-questions-item">
                        <div class="faq_wrapp-questions-item-back">
                            <p class="faq_wrapp-questions-item-main font-title">
                                Why Should I Choose LegitGrails?
                            </p>
                            <span>
                                <img src="{{ 'arrow.png' | asset_url }}" alt="Why Should I Choose LegitGrails?" loading="lazy">
                            </span>
                        </div>

                        <div class="faq_wrapp-questions-item-hidden font-description">
                            <p>
                                The LegitGrails Team is trusted by 80,000+ individuals and businesses around the world. We have more than 6 years of experience in the market, while some of our authenticators have been doing this for much longer. Our knowledge is backed up by the free library of authentication guides. We also share our knowledge in our educational courses and our Reddit community.
The LegitGrails Team’s efforts were recognised by Forbes, NiceKicks, as well as other popular industry communities.
                            </p>
                        </div>
                    </div>
                    <div class="faq_wrapp-questions-item">
                        <div class="faq_wrapp-questions-item-back">
                            <p class="faq_wrapp-questions-item-main font-title">
                                How Does The Legit Check Service Work?
                            </p>
                            <span>
                                <img src="{{ 'arrow.png' | asset_url }}" alt="How Does The Legit Check Service Work?" loading="lazy">
                            </span>
                        </div>

                        <div class="faq_wrapp-questions-item-hidden font-description">
                            <p>
                                All you need to do is upload the good quality photos of your item! It is that easy. You can see all the needed details when clicking ‘Upload Photos’. You can then choose your preferred response time up to your convenience. The outcome and
                                the <a href="https://certificates-legitgrails.com/">authenticity certificate</a> will appear in your inbox or live chat within your selected time (no longer than 24h).
                            </p>
                        </div>
                    </div>
                    <div class="faq_wrapp-questions-item">
                        <div class="faq_wrapp-questions-item-back">
                            <p class="faq_wrapp-questions-item-main font-title">
                                What Items Can I Authenticate?
                            </p>
                            <span>
                                <img src="{{ 'arrow.png' | asset_url }}" alt="What Items Can I Authenticate?" loading="lazy">
                            </span>
                        </div>

                        <div class="faq_wrapp-questions-item-hidden font-description">
                            <p>
                                We authenticate most of the Hype, Luxury and Streetwear brands. Got any questions? Reach out to our customer support team via the live chat available in the bottom-left corner of the page!
                            </p>
                        </div>
                    </div>
                    <div class="faq_wrapp-questions-item">
                        <div class="faq_wrapp-questions-item-back">
                            <p class="faq_wrapp-questions-item-main font-title">
                                What Photos Do I Upload?
                            </p>
                            <span>
                                <img src="{{ 'arrow.png' | asset_url }}" alt="What Photos Do I Upload?" loading="lazy">
                            </span>
                        </div>

                        <div class="faq_wrapp-questions-item-hidden font-description">
                            <p>
                                All the needed details for each item category are shown on the page when you click ‘Upload Photos’. You can also refer to our <a href="https://legitgrails.frontkb.com/en/categories/604802-general-photos" target="_blank">Photo Examples</a> page for comprehensive instructions and useful examples of photos needed for a reliable authenticity check.
                            </p>
                        </div>
                    </div>
                    <div class="faq_wrapp-questions-item">
                        <div class="faq_wrapp-questions-item-back">
                            <p class="faq_wrapp-questions-item-main font-title">
                                Will I Receive An Authenticity Certificate?
                            </p>
                            <span>
                                <img src="{{ 'arrow.png' | asset_url }}" alt="Will I Receive An Authenticity Certificate?" loading="lazy">
                            </span>
                        </div>

                        <div class="faq_wrapp-questions-item-hidden font-description">
                            <p>
                                Of course! Here's what it looks like.
                                <img src="{{ 'products-certificate.jpeg' | asset_url }}" alt=" Of course! Here's what it looks like." loading="lazy">
                            </p>
                        </div>
                    </div>
                    <div class="faq_wrapp-questions-item">
                        <div class="faq_wrapp-questions-item-back">
                            <p class="faq_wrapp-questions-item-main font-title">
                                What If My Item Is Fake?
                            </p>
                            <span>
                                <img src="{{ 'arrow.png' | asset_url }}" alt="What If My Item Is Fake?" loading="lazy">
                            </span>
                        </div>

                        <div class="faq_wrapp-questions-item-hidden font-description">
                            <p>
                                Our <a href="https://legitgrails.com/products/refundgrails">RefundGrails</a> consultancy service is meant to help people manage the dispute processes. Get the money you spent on a fake item back to your account with the help of our professionals!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq_wrapp-inst">
                    <a href="https://www.instagram.com/p/CTw-dCnMgzl/?igshid=YmMyMTA2M2Y=">
                        <img src="{{ 'inst-1.jpg' | asset_url }}" alt="inst-1" loading="lazy">
                    </a>
                    <a href="https://www.instagram.com/p/CUe4N2SIDhX/?igshid=YmMyMTA2M2Y=">
                        <img src="{{ 'inst-2.jpg' | asset_url }}" alt="inst-2" loading="lazy">
                    </a>
                    <a href="https://www.instagram.com/p/CRMDq3OAMgx/?igshid=YmMyMTA2M2Y=">
                        <img src="{{ 'inst-3.jpg' | asset_url }}" alt="inst-3" loading="lazy">
                    </a>
                    <a href="https://www.instagram.com/p/CYOhH5GARj8/?igshid=YmMyMTA2M2Y=">
                        <img src="{{ 'inst-4.jpg' | asset_url }}" alt="inst-4" loading="lazy">
                    </a>
                    <a href="https://www.instagram.com/p/CRyyZ8OJwT6/?igshid=YmMyMTA2M2Y=">
                        <img src="{{ 'inst-5.jpg' | asset_url }}" alt="inst-5" loading="lazy">
                    </a>
                    <a href="https://www.instagram.com/p/CX0wvTIgGGm/?igshid=YmMyMTA2M2Y=">
                        <img src="{{ 'inst-6.jpg' | asset_url }}" alt="inst-6" loading="lazy">
                    </a>
                    <a href="https://www.instagram.com/p/CT9057rs6sk/?igshid=YmMyMTA2M2Y=">
                        <img src="{{ 'inst-7.jpg' | asset_url }}" alt="inst-7" loading="lazy">
                    </a>
                    <a href="https://www.instagram.com/p/CcU7F6RqJx-/?igshid=YmMyMTA2M2Y=">
                        <img src="{{ 'inst-8.jpg' | asset_url }}" alt="inst-8" loading="lazy">
                    </a>
                    <a href="https://www.instagram.com/p/Cb4xlDNKCH6/?igshid=YmMyMTA2M2Y=">
                        <img src="{{ 'inst-9.jpg' | asset_url }}" alt="inst-9" loading="lazy">
                    </a>
                </div>
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

