<style>
  .resalex_trusted-title {
    text-align: center;
  }
  .resalex_trusted-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 69px 104px;
    margin-top: 40px;
    width: 100%;
  }
  p.resalex_trusted-desc {
    margin-top: 15px;
    text-align: center;
  }
  .resalex_trusted-item {
    height: max-content;
    width: max-content;
  }
  .resalex_trusted-item img {
    height: 99px;
    width: auto;
    display: block;
    transform: translateY(0px);
    opacity: 1;
    transition: .3s;
  }
  .resalex_trusted-item:nth-child(2) img {
    height: 89px;
  }
  .resalex_trusted-item:nth-child(5) img {
    height: 34px;
  }
  .resalex_trusted-item:nth-child(6) img {
    height: 56px;
  }
  .resalex_trusted-item:nth-child(7) img {
    height: 44px;
  }
  .resalex_trusted-item:nth-child(8) img {
    height: 44px;
  }
  .resalex_trusted-item:nth-child(9) img {
    height: 58px;
  }
  .resalex_trusted-item:nth-child(10) img {
    height: 47px;
  }
  .resalex_trusted-item:nth-child(11) img {
    height: 57px;
  }
  .resalex_trusted-item:nth-child(12) img {
    height: 57px;
  }
  @media(max-width: 1250px) {
    .resalex_trusted-items {
    gap: 50px 78px;
    }
    .resalex_trusted-item img {
    height: 66px;
}
    .resalex_trusted-item:nth-child(2) img {
    height: 58px;
}
    .resalex_trusted-item:nth-child(5) img {
    height: 24px;
}
    .resalex_trusted-item:nth-child(6) img {
    height: 40px;
}
    .resalex_trusted-item:nth-child(7) img {
    height: 34px;
}
    .resalex_trusted-item:nth-child(8) img {
    height: 34px;
}
    .resalex_trusted-item:nth-child(9) img {
    height: 44px;
}
    .resalex_trusted-item:nth-child(10) img {
    height: 36px;
}
    .resalex_trusted-item:nth-child(11) img {
    height: 43px;
}
    .resalex_trusted-item:nth-child(12) img {
    height: 33px;
}
    
    p.resalex_trusted-desc {
      margin-top: 10px;
    }
  }
  @media(max-width: 550px) {
.resalex_trusted-item img {
    height: 50px;
    width: auto;
    display: block;
}
    .resalex_trusted-item:nth-child(2) img {
    height: 43px;
}
    .resalex_trusted-item:nth-child(5) img {
    height: 18px;
}
    .resalex_trusted-item:nth-child(6) img {
    height: 33px;
}
    .resalex_trusted-item:nth-child(7) img {
    height: 24px;
}
    .resalex_trusted-item:nth-child(8) img {
    height: 24px;
}
    .resalex_trusted-item:nth-child(9) img {
    height: 34px;
}
    .resalex_trusted-item:nth-child(10) img {
    height: 26px;
}
    .resalex_trusted-item:nth-child(11) img {
    height: 34px;
}
    .resalex_trusted-item:nth-child(12) img {
    height: 24px;
}
    .resalex_trusted-items {
    gap: 35px 47px;
    }
    .resalex_trusted-item:nth-child(1) {
      order: 1;
    }
    .resalex_trusted-item:nth-child(2) {
      order: 2;
    }
    .resalex_trusted-item:nth-child(3) {
      order: 4;
    }
    .resalex_trusted-item:nth-child(4) {
      order: 3;
    }
    .resalex_trusted-item:nth-child(5) {
      order: 12;
    }
    .resalex_trusted-item:nth-child(6) {
      order: 6;
    }
    .resalex_trusted-item:nth-child(7) {
      order: 7;
    }
    .resalex_trusted-item:nth-child(8) {
      order: 11;
    }
    .resalex_trusted-item:nth-child(9) {
      order: 10;
    }
    .resalex_trusted-item:nth-child(10) {
      order: 8;
    }
    .resalex_trusted-item:nth-child(11) {
      order: 9;
    }
    .resalex_trusted-item:nth-child(12) {
      order: 5;
    }
  }
  @media(max-width: 400px) {
    .resalex_trusted-items {
    gap: 30px 40px;
}
  }
</style>
<div class="rebranding_container">
  <h2 class="resalex_trusted-title resalex_section-title h2-heading-ss">
      Trusted by <span class="h2-heading-pp">Leading Marketplaces</span>
  </h2>
  <p class="resalex_trusted-desc resalex-desc body-text">
      More than 100 businesses are using our solutions
  </p>
  <div class="resalex_trusted-items">
    <div class="resalex_trusted-item resalex_trusted-item-1">
      <img src="{{ 'resalex-landing_trust-1.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-2">
      <img src="{{ 'resalex-landing_trust-2.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-3">
      <img src="{{ 'resalex-landing_trust-3.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-4">
      <img src="{{ 'resalex-landing_trust-4.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-5">
      <img src="{{ 'resalex-landing_trust-5.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-6">
      <img src="{{ 'resalex-landing_trust-6.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-7">
      <img src="{{ 'resalex-landing_trust-7.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-8">
      <img src="{{ 'resalex-landing_trust-8.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-9">
      <img src="{{ 'resalex-landing_trust-9.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-10">
      <img src="{{ 'resalex-landing_trust-10.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-11">
      <img src="{{ 'resalex-landing_trust-11.svg' | asset_url }}">
    </div>
    <div class="resalex_trusted-item resalex_trusted-item-12">
      <img src="{{ 'resalex-landing_trust-12.svg' | asset_url }}">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Resalex Trusted",
    "class": "resalex_trusted rebranding-wider-section-bottom",
    "settings": []
  }
{% endschema %}