<style>
  .resalex-v2_offers-tab {
    display: none;
  }
  .resalex-v2_offers-tab.active {
    display: flex;
  }
  .resalex-v2_offers-tab-text {
    text-align: left;
    width: 650px;
  }
  .resalex-v2_offers-tab-list {
    list-style-type: none;
  }
  .resalex-v2_offers-tab-list li {
    align-items: flex-start;
  }
  .resalex-v2_offers-tab-list p {
    margin-left: 10px;
    text-align: left;
  }
  .resalex-v2_offers-tab-list svg {
    width: 17px;
    min-width: 17px;
    height: auto;
    margin-top: 5px;
  }
  .resalex-v2_offers-tab-image-sourcing {
    gap: 7px;
  }
  .resalex-v2_offers-tab-image {
    width: 565px;
  }
  .resalex-v2_offers-tab-image-sourcing-item {
    width: 279px;
    border-radius: 13px;
    border: 1px solid #E8E8E8;
    background: linear-gradient(96deg, rgba(224, 224, 224, 0.03) 23.53%, rgba(189, 189, 189, 0.03) 75.95%);
    backdrop-filter: blur(20px);
    padding: 10px 20px 10px 10px;
    align-items: center;
  }
  .resalex-v2_offers-tab-image-sourcing-item.active {
    border: 1px solid #F24F14;
  }
  .resalex-v2_offers-tab-image-sourcing-item-image {
    border-radius: 6px;
    border: 1px solid #E8E8E8;
    background: #F0F0F0;
    width: 96px;
    height: 96px;
    overflow: hidden;
  }
  .resalex-v2_offers-tab-image-sourcing-item-image img {
    width: 100%;
    height: auto;
  }
  .resalex-v2_offers-tab-image-sourcing-item-text img {
    height: 15px;
    width: auto;
  }
  .resalex-v2_offers-tab-image-sourcing-item-price p {
    color: #3C1F1B;
    font-family: "PP Fragment";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 26px */
    letter-spacing: -1.04px;
  }
  .resalex-v2_offers-tab-image-sourcing-item-price svg {
    height: 17px;
    width: auto;
  }
  a.resalex-v2_offers-tab-btn {
    margin: 0;
}
  .resalex-v2_bag-item {
    width: 100%;
    padding: 10px 20px 10px 10px;
    border-radius: 13px;
    border: 1px solid #E8E8E8;
    background: #fff;
    box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.10);
    z-index: 2;
  }
  .resalex-v2_bag-item-image {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    border: 1px solid #E8E8E8;
    background: #F0F0F0;
    overflow: hidden;
  }
  .resalex-v2_bag-item-image img {
    width: 100%;
    height: auto;
  }
  .resalex-v2_bag-item-title svg {
    height: 26px;
  }
  .resalex-v2_offers-tab-image-pricing-table {
    width: 100%;
    border-radius: 9px;
    border: 1px solid #E8E8E8;
    background: linear-gradient(96deg, rgba(224, 224, 224, 0.03) 23.53%, rgba(189, 189, 189, 0.03) 75.95%);
    box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(20px);
    position: relative;
    height: max-content;
    z-index: 1;
    margin-top: -1px;
  }
  .resalex-v2_offers-tab-image-pricing-table-titles {
      gap: 40px;
      padding: 19px 0 18px 20px;
      width: 100%;
  }
  .resalex-v2_offers-tab-image-pricing-table-lines {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    gap: 62px;
  }
  .resalex-v2_offers-tab-image-pricing-table-lines span {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.10);
  }
  .resalex-v2_offers-tab-image-pricing-table-graph {
    top: 20px;
    right: 0;
    position: absolute;
  }
  .resalex-v2_offers-tab-image-pricing-table-graph-tablet, .resalex-v2_offers-tab-image-pricing-table-graph-mobile {
    display: none;
  }
  .resalex-v2_offers-select-wrapp {
      width: 100%;
    position: relative;
  }
  .resalex-v2_offers-select-wrapp-main {
      border-radius: 8px;
      border: 1px solid #3C1F1B;
      padding: 10px 20px;
      transition: .3s;
      text-decoration: none;
      text-align: center;
      width: 400px;
      background: #3C1F1B;
      display: none;
      position: relative;
  }
  .resalex-v2_offers-select-wrapp-main:hover {
    cursor: pointer;
  }
    .resalex-v2_offers-select-wrapp-main p {
      color: #fff;
      transition: .3s;
      font-size: 18px;
  }
  .resalex-v2_offers-select-wrapp-options {
      flex-wrap: wrap;
      gap: 20px;
      width: 400px;
      text-align: center;
      justify-content: center;
      padding: 20px;
      border: 1px solid #3C1F1B;
      border-radius: 6px;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -200px;
      background: #fff;
      z-index: 1;
      display: none;
  }
  .resalex-v2_offers-select-wrapp-options.active {
      display: flex!important;
  }
  .resalex-v2_offers-select-wrapp-options a {
      text-decoration: none;
      font-size: 18px;
  }
.resalex-v2_offers-select-wrapp-main svg {
    position: absolute;
    right: 15px;
    top: 17px;
    height: 10px;
}
  @media(max-width: 1450px) {
    .resalex-v2_offers-tab-image-pricing-table-graph-desktop {
      display: none;
    }
    .resalex-v2_offers-tab-image-pricing-table-graph-tablet {
      display: block;
    }
    .resalex-v2_offers-tab-image-sourcing-item {
        width: 240px;
        padding: 5px 15px 5px 5px;
    }
    .resalex-v2_offers-tab-image-sourcing-item-image {
      height: 80px;
      width: 80px;
    }
    .resalex-v2_offers-tab-image {
        width: 487px;
    }
    .resalex-v2_offers-tab-text {
        width: calc(100% - 537px);
    }
  }
  @media(max-width: 1250px) {
    .resalex-v2_offers-tab-text {
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    .resalex-v2_offers-tab-title {
        justify-content: center;
    }
    .resalex-v2_offers-tab-list li {
      justify-content: center;
    }
  }
  @media(max-width: 750px) {
    .resalex-v2_offers-select-wrapp-main {
      display: block;
    }
    .resalex-v2_offers-btns {
        display: none;
    }
    .resalex-v2_offers-tab-text {
      gap: 30px;
    }
    .resalex-v2_offers-tab-image-sourcing-item-price p {
      font-size: 20px;
    }
    .resalex-v2_offers-tab-image-sourcing-item-price svg {
      height: 11px;
    }
    .resalex-v2_offers-tab-image-sourcing-item-text img {
      height: 11px;
    }
    .resalex-v2_bag-item-title svg {
        height: 22px;
    }
    .resalex-v2_offers-tab-image-pricing-table-titles {
        gap: 46px;
        padding: 20px 0 20px 20px;
        width: 100%;
    }
    .resalex-v2_bag-item-image {
        width: 80px;
        height: 80px;
    }
    .resalex-v2_offers-tab-list svg {
        width: 14px;
      min-width: 14px;
        height: auto;
        margin-top: 3px;
    }
    .resalex-v2_offers-tab-list li {
        justify-content: flex-start;
    }
  }
  @media(max-width: 550px) {
    .resalex-v2_offers-tab-image {
        width: 100%;
    }
    .resalex-v2_offers-tab-image-sourcing-item {
        width: calc(50% - 3.5px);
    }
  }
  @media(max-width: 500px) {
    .resalex-v2_offers-tab-image-pricing-table-graph-tablet {
      display: none;
    }
    .resalex-v2_offers-tab-image-pricing-table-graph-mobile {
      display: block;
    }
    .resalex-v2_offers-tab-image-pricing-table-graph {
        right: calc(50% - 172px);
    }
  }
  @media(max-width: 450px) {
    .resalex-v2_offers-select-wrapp-main p {
        max-width: calc(100% - 51px);
        margin: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .resalex-v2_offers-tab-image-sourcing-item-image {
        height: 60px;
        width: 60px;
    }
    .resalex-v2_offers-tab-image-sourcing-item {
      border-radius: 11px;
    }
    .resalex-v2_offers-select-wrapp-main {
      width: 100%;
    }
    .resalex-v2_offers-select-wrapp-options {
      width: 100%;
      left: 0;
      margin-left: 0;
    }
  }
  @media(max-width: 400px) {
    .resalex-v2_offers-tab-image-pricing-table-graph {
        right: 0;
    }
    .resalex-v2_offers-tab-image-sourcing-item-price p {
        font-size: 16px;
    }
  }
</style>

<div class="rebranding_container">
  <div class="block-container block-flex-wrap block-gap-50">
    <div class="resalex-v2_offers-top block-flex-wrap block-gap-20">
      <div class="rebranding-section-title block-gap-15 block-flex-wrap w-100">
        <h2 class="h2-heading-ss">
          Key 
          <span class="h2-heading-pp">
           features & benefits
          </span>
        </h2>
      </div>
      <div class="resalex-v2_offers-btns block-flex-wrap block-gap-10 w-100 block-flex-center-center">
        <a href="javascript:void(0)" id="sourcing" class="resalex-v2_offers-btn square-btn standart-hover active">
          Inventory Sourcing
        </a>
        <a href="javascript:void(0)" id="pricing" class="resalex-v2_offers-btn square-btn standart-hover">
          Smart Pricing & Demand Forecasting
        </a>
        <a href="javascript:void(0)" id="grading" class="resalex-v2_offers-btn square-btn standart-hover">
          Condition Grading & Authentication
        </a>
      </div>
      <div class="resalex-v2_offers-select-wrapp block-flex-wrap block-flex-center-center">
        <div class="resalex-v2_offers-select-wrapp-main">
          <p class="body-text">Inventory Sourcing</p>
          <svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23.2237 0.408637C22.6788 -0.136954 21.794 -0.13661 21.2484 0.408637L12.3586 9.29889L5.44782 2.38429C4.50041 1.5 3.0001 -0.500011 1.49085 0.408637C0.607799 0.940275 1.02595 2.11597 1.5 2.5L11.3706 12.2621C11.6432 12.5347 12.0007 12.6714 12.3582 12.6714C12.7157 12.6714 13.0735 12.535 13.3461 12.2621L23.2237 2.38418C23.7693 1.83896 23.7693 0.954193 23.2237 0.408637Z" fill="white"/>
          </svg>
            <div class="resalex-v2_offers-select-wrapp-options">
              <a href="javascript:void(0)" id="sourcing" class="resalex-v2_offers-select-wrapp-option body-text standart-hover ">
                Inventory Sourcing
              </a>
              <a href="javascript:void(0)" id="pricing" class="resalex-v2_offers-select-wrapp-option body-text standart-hover">
                Smart Pricing & Demand Forecasting
              </a>
              <a href="javascript:void(0)" id="grading" class="resalex-v2_offers-select-wrapp-option body-text standart-hover">
                Condition Grading & Authentication
              </a>
            </div>
        </div>
      </div>
    </div>
    <div class="resalex-v2_offers-tabs">
      <div class="resalex-v2_offers-tab resalex-v2_offers-tab-sourcing block-flex-wrap block-gap-50 block-flex-center-center active">
        <div class="resalex-v2_offers-tab-text block-flex-wrap block-gap-30">
          <div class="resalex-v2_offers-tab-title block-flex-wrap block-gap-15">
            <p class="h3-heading-pp">The Perfect Combination of AI & Industry Expertise</p>
            <p class="body-text w-100">ResaleX scans market-wide data to identify high-margin inventory before it trends. But we don’t stop there—our team of resale experts validates high-value deals, ensuring AI predictions align with real-world demand.</p>
          </div>
          <ul class="resalex-v2_offers-tab-list block-flex-wrap block-gap-10">
            <li class="block-flex w-100">
              <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.7011 0.909064C17.1562 0.363473 16.2714 0.363817 15.7259 0.909064L6.83595 9.79932L2.88477 5.84817C2.33918 5.30258 1.45478 5.30258 0.909193 5.84817C0.363602 6.39376 0.363602 7.27815 0.909193 7.82374L5.84795 12.7625C6.12058 13.0351 6.47806 13.1718 6.83557 13.1718C7.19308 13.1718 7.5509 13.0355 7.82353 12.7625L17.7011 2.8846C18.2467 2.33939 18.2467 1.45462 17.7011 0.909064Z" fill="#3C1F1B"/>
              </svg>
              <p class="body-text">AI scans millions of data points to find undervalued inventory</p>
            </li>
            <li class="block-flex w-100">
              <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.7011 0.909064C17.1562 0.363473 16.2714 0.363817 15.7259 0.909064L6.83595 9.79932L2.88477 5.84817C2.33918 5.30258 1.45478 5.30258 0.909193 5.84817C0.363602 6.39376 0.363602 7.27815 0.909193 7.82374L5.84795 12.7625C6.12058 13.0351 6.47806 13.1718 6.83557 13.1718C7.19308 13.1718 7.5509 13.0355 7.82353 12.7625L17.7011 2.8846C18.2467 2.33939 18.2467 1.45462 17.7011 0.909064Z" fill="#3C1F1B"/>
              </svg>
              <p class="body-text">Human experts review and verify the best deals</p>
            </li>
            <li class="block-flex w-100">
              <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.7011 0.909064C17.1562 0.363473 16.2714 0.363817 15.7259 0.909064L6.83595 9.79932L2.88477 5.84817C2.33918 5.30258 1.45478 5.30258 0.909193 5.84817C0.363602 6.39376 0.363602 7.27815 0.909193 7.82374L5.84795 12.7625C6.12058 13.0351 6.47806 13.1718 6.83557 13.1718C7.19308 13.1718 7.5509 13.0355 7.82353 12.7625L17.7011 2.8846C18.2467 2.33939 18.2467 1.45462 17.7011 0.909064Z" fill="#3C1F1B"/>
              </svg>
              <p class="body-text">Reduce risk with expert-curated buying insights</p>
            </li>
          </ul>
          <a href="https://playground.resale-x.com/" target="_blank" class="resalex-v2_offers-tab-btn rebranding_btn rebranding_btn-main">
            Try for free
          </a>
        </div>
        <div class="resalex-v2_offers-tab-image resalex-v2_offers-tab-image-sourcing block-flex-wrap">
          <div class="resalex-v2_offers-tab-image-sourcing-item block-flex-wrap block-gap-15 active">
            <div class="resalex-v2_offers-tab-image-sourcing-item-image block-flex block-flex-center-center">
              <img src="{{ "resalex_ebay-bag.webp" | asset_url }}">
            </div>
            <div class="resalex-v2_offers-tab-image-sourcing-item-text">
              <img class="resalex-v2_offers-tab-image-sourcing-item-logo" src="{{ "resalex_ebay-logo.webp" | asset_url }}">
              <div class="resalex-v2_offers-tab-image-sourcing-item-price block-flex-wrap block-gap-5 block-flex-center-start">
                <p class="resalex-v2_offers-tab-image-sourcing-item-title">
                  $6.230
                </p>
                <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.58724 16.8052L4.58788 16.8046L8.041 13.3348C8.29969 13.0748 8.29872 12.6544 8.03874 12.3956C7.7788 12.1369 7.35835 12.1379 7.09963 12.3979L4.78125 14.7275L4.78125 0.664063C4.78125 0.297301 4.48395 -1.63936e-07 4.11719 -1.79968e-07C3.75043 -1.96e-07 3.45313 0.297301 3.45313 0.664063L3.45313 14.7275L1.13475 12.3979C0.876031 12.1379 0.45558 12.1369 0.195633 12.3957C-0.0643812 12.6544 -0.0652767 13.0749 0.193375 13.3348L3.6465 16.8047L3.64713 16.8053C3.90671 17.0654 4.32853 17.0645 4.58724 16.8052Z" fill="#CB0000"/>
                <path d="M15.243 16.8052L15.2436 16.8046L18.6968 13.3348C18.9554 13.0748 18.9545 12.6544 18.6945 12.3956C18.4346 12.1369 18.0141 12.1379 17.7554 12.3979L15.437 14.7275L15.437 0.664063C15.437 0.297301 15.1397 -1.63936e-07 14.773 -1.79968e-07C14.4062 -1.96e-07 14.1089 0.297301 14.1089 0.664063L14.1089 14.7275L11.7905 12.3979C11.5318 12.1379 11.1113 12.1369 10.8514 12.3957C10.5914 12.6544 10.5905 13.0749 10.8491 13.3348L14.3023 16.8047L14.3029 16.8053C14.5625 17.0654 14.9843 17.0645 15.243 16.8052Z" fill="#CB0000"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="resalex-v2_offers-tab-image-sourcing-item block-flex-wrap block-gap-15">
            <div class="resalex-v2_offers-tab-image-sourcing-item-image block-flex block-flex-center-center">
              <img src="{{ "resalex_poshmark-bag.webp" | asset_url }}">
            </div>
            <div class="resalex-v2_offers-tab-image-sourcing-item-text">
              <img class="resalex-v2_offers-tab-image-sourcing-item-logo" src="{{ "resalex_poshmark-logo.webp" | asset_url }}">
              <div class="resalex-v2_offers-tab-image-sourcing-item-price block-flex-wrap block-gap-5 block-flex-center-start">
                <p class="resalex-v2_offers-tab-image-sourcing-item-title">
                  $6.634
                </p>
                <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3029 0.194762L14.3023 0.195361L10.8491 3.66522C10.5905 3.92517 10.5914 4.34562 10.8514 4.60437C11.1113 4.86309 11.5318 4.86209 11.7905 4.60215L14.1089 2.27248L14.1089 16.3359C14.1089 16.7027 14.4062 17 14.7729 17C15.1397 17 15.437 16.7027 15.437 16.3359L15.437 2.27251L17.7554 4.60211C18.0141 4.86206 18.4346 4.86306 18.6945 4.60434C18.9545 4.34559 18.9554 3.9251 18.6968 3.66519L15.2436 0.195326L15.243 0.194729C14.9834 -0.0653509 14.5616 -0.0645213 14.3029 0.194762Z" fill="#22CB00"/>
                <path d="M3.64713 0.194762L3.6465 0.195361L0.193375 3.66522C-0.065311 3.92517 -0.0643484 4.34562 0.195632 4.60437C0.455579 4.86309 0.876031 4.86209 1.13475 4.60215L3.45313 2.27248L3.45312 16.3359C3.45312 16.7027 3.75042 17 4.11719 17C4.48395 17 4.78125 16.7027 4.78125 16.3359L4.78125 2.27251L7.09963 4.60211C7.35834 4.86206 7.7788 4.86306 8.03874 4.60434C8.29876 4.34559 8.29965 3.9251 8.041 3.66519L4.58788 0.195326L4.58725 0.194729C4.32766 -0.0653509 3.90585 -0.0645213 3.64713 0.194762Z" fill="#22CB00"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="resalex-v2_offers-tab-image-sourcing-item block-flex-wrap block-gap-15">
            <div class="resalex-v2_offers-tab-image-sourcing-item-image block-flex block-flex-center-center">
              <img src="{{ "resalex_vestiaire-collective-bag.webp" | asset_url }}">
            </div>
            <div class="resalex-v2_offers-tab-image-sourcing-item-text">
              <img class="resalex-v2_offers-tab-image-sourcing-item-logo" src="{{ "resalex_vestiaire-collective-logo.webp" | asset_url }}">
              <div class="resalex-v2_offers-tab-image-sourcing-item-price block-flex-wrap block-gap-5 block-flex-center-start">
                <p class="resalex-v2_offers-tab-image-sourcing-item-title">
                  $6.290
                </p>
                <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.58724 17.3052L4.58788 17.3046L8.041 13.8348C8.29969 13.5748 8.29872 13.1544 8.03874 12.8956C7.7788 12.6369 7.35835 12.6379 7.09963 12.8979L4.78125 15.2275L4.78125 1.16406C4.78125 0.797301 4.48395 0.5 4.11719 0.5C3.75043 0.5 3.45313 0.797301 3.45313 1.16406L3.45313 15.2275L1.13475 12.8979C0.876031 12.6379 0.45558 12.6369 0.195633 12.8957C-0.0643812 13.1544 -0.0652767 13.5749 0.193375 13.8348L3.6465 17.3047L3.64713 17.3053C3.90671 17.5654 4.32853 17.5645 4.58724 17.3052Z" fill="#CB0000"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="resalex-v2_offers-tab-image-sourcing-item block-flex-wrap block-gap-15 active">
            <div class="resalex-v2_offers-tab-image-sourcing-item-image block-flex block-flex-center-center">
              <img src="{{ "resalex_vsp-bag.webp" | asset_url }}">
            </div>
            <div class="resalex-v2_offers-tab-image-sourcing-item-text">
              <img class="resalex-v2_offers-tab-image-sourcing-item-logo" src="{{ "resalex_vsp-logo.webp" | asset_url }}">
              <div class="resalex-v2_offers-tab-image-sourcing-item-price block-flex-wrap block-gap-5 block-flex-center-start">
                <p class="resalex-v2_offers-tab-image-sourcing-item-title">
                  $6.310
                </p>
                <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.58724 17.3052L4.58788 17.3046L8.041 13.8348C8.29969 13.5748 8.29872 13.1544 8.03874 12.8956C7.7788 12.6369 7.35835 12.6379 7.09963 12.8979L4.78125 15.2275L4.78125 1.16406C4.78125 0.797301 4.48395 0.5 4.11719 0.5C3.75043 0.5 3.45313 0.797301 3.45313 1.16406L3.45313 15.2275L1.13475 12.8979C0.876031 12.6379 0.45558 12.6369 0.195633 12.8957C-0.0643812 13.1544 -0.0652767 13.5749 0.193375 13.8348L3.6465 17.3047L3.64713 17.3053C3.90671 17.5654 4.32853 17.5645 4.58724 17.3052Z" fill="#CB0000"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="resalex-v2_offers-tab-image-sourcing-item block-flex-wrap block-gap-15">
            <div class="resalex-v2_offers-tab-image-sourcing-item-image block-flex block-flex-center-center">
              <img src="{{ "resalex_fb-marketplace-bag.webp" | asset_url }}">
            </div>
            <div class="resalex-v2_offers-tab-image-sourcing-item-text">
              <img class="resalex-v2_offers-tab-image-sourcing-item-logo" src="{{ "resalex_fb-marketplace-logo.webp" | asset_url }}">
              <div class="resalex-v2_offers-tab-image-sourcing-item-price block-flex-wrap block-gap-5 block-flex-center-start">
                <p class="resalex-v2_offers-tab-image-sourcing-item-title">
                  $6.242
                </p>
                <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.58724 16.8052L4.58788 16.8046L8.041 13.3348C8.29969 13.0748 8.29872 12.6544 8.03874 12.3956C7.7788 12.1369 7.35835 12.1379 7.09963 12.3979L4.78125 14.7275L4.78125 0.664063C4.78125 0.297301 4.48395 -1.63936e-07 4.11719 -1.79968e-07C3.75043 -1.96e-07 3.45313 0.297301 3.45313 0.664063L3.45313 14.7275L1.13475 12.3979C0.876031 12.1379 0.45558 12.1369 0.195633 12.3957C-0.0643808 12.6544 -0.0652771 13.0749 0.193375 13.3348L3.6465 16.8047L3.64713 16.8053C3.90671 17.0654 4.32853 17.0645 4.58724 16.8052Z" fill="#CB0000"/>
                <path d="M15.243 16.8052L15.2436 16.8046L18.6968 13.3348C18.9554 13.0748 18.9545 12.6544 18.6945 12.3956C18.4346 12.1369 18.0141 12.1379 17.7554 12.3979L15.437 14.7275L15.437 0.664063C15.437 0.297301 15.1397 -1.63936e-07 14.773 -1.79968e-07C14.4062 -1.96e-07 14.1089 0.297301 14.1089 0.664063L14.1089 14.7275L11.7905 12.3979C11.5318 12.1379 11.1113 12.1369 10.8514 12.3957C10.5914 12.6544 10.5905 13.0749 10.8491 13.3348L14.3023 16.8047L14.3029 16.8053C14.5625 17.0654 14.9843 17.0645 15.243 16.8052Z" fill="#CB0000"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="resalex-v2_offers-tab-image-sourcing-item block-flex-wrap block-gap-15">
            <div class="resalex-v2_offers-tab-image-sourcing-item-image block-flex block-flex-center-center">
              <img src="{{ "resalex_tt-shop-bag.webp" | asset_url }}">
            </div>
            <div class="resalex-v2_offers-tab-image-sourcing-item-text">
              <img class="resalex-v2_offers-tab-image-sourcing-item-logo" src="{{ "resalex_tt-shop-logo.webp" | asset_url }}">
              <div class="resalex-v2_offers-tab-image-sourcing-item-price block-flex-wrap block-gap-5 block-flex-center-start">
                <p class="resalex-v2_offers-tab-image-sourcing-item-title">
                  $6.590
                </p>
                <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3029 0.194762L14.3023 0.19536L10.8491 3.66522C10.5905 3.92517 10.5914 4.34562 10.8514 4.60437C11.1113 4.86309 11.5318 4.86209 11.7905 4.60215L14.1089 2.27248L14.1089 16.3359C14.1089 16.7027 14.4062 17 14.7729 17C15.1397 17 15.437 16.7027 15.437 16.3359L15.437 2.27252L17.7554 4.60211C18.0141 4.86206 18.4346 4.86306 18.6945 4.60434C18.9545 4.34559 18.9554 3.9251 18.6968 3.66519L15.2436 0.195327L15.243 0.194729C14.9834 -0.0653512 14.5616 -0.0645209 14.3029 0.194762Z" fill="#22CB00"/>
                <path d="M3.64713 0.194762L3.6465 0.19536L0.193375 3.66522C-0.065311 3.92517 -0.0643484 4.34562 0.195632 4.60437C0.455579 4.86309 0.876031 4.86209 1.13475 4.60215L3.45313 2.27248L3.45312 16.3359C3.45312 16.7027 3.75042 17 4.11719 17C4.48395 17 4.78125 16.7027 4.78125 16.3359L4.78125 2.27252L7.09963 4.60211C7.35834 4.86206 7.7788 4.86306 8.03874 4.60434C8.29876 4.34559 8.29965 3.9251 8.041 3.66519L4.58788 0.195327L4.58725 0.194729C4.32766 -0.0653512 3.90585 -0.0645209 3.64713 0.194762Z" fill="#22CB00"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="resalex-v2_offers-tab resalex-v2_offers-tab-pricing block-flex-wrap block-gap-50 block-flex-center-center">
        <div class="resalex-v2_offers-tab-text block-flex-wrap block-gap-30">
          <div class="resalex-v2_offers-tab-title block-flex-wrap block-gap-15">
            <p class="h3-heading-pp">Stay Competitive with Real-Time Pricing & Market Trends</p>
            <p class="body-text w-100">ResaleX provides AI-powered pricing insights based on supply, demand, and competitor listings. But pricing is also human-driven, with resale experts ensuring price recommendations reflect real buyer behavior—not just raw data.</p>
          </div>
          <ul class="resalex-v2_offers-tab-list block-flex-wrap block-gap-10">
            <li class="block-flex w-100">
              <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.7011 0.909064C17.1562 0.363473 16.2714 0.363817 15.7259 0.909064L6.83595 9.79932L2.88477 5.84817C2.33918 5.30258 1.45478 5.30258 0.909193 5.84817C0.363602 6.39376 0.363602 7.27815 0.909193 7.82374L5.84795 12.7625C6.12058 13.0351 6.47806 13.1718 6.83557 13.1718C7.19308 13.1718 7.5509 13.0355 7.82353 12.7625L17.7011 2.8846C18.2467 2.33939 18.2467 1.45462 17.7011 0.909064Z" fill="#3C1F1B"/>
              </svg>
              <p class="body-text">AI suggests optimal buying & selling prices based on market data</p>
            </li>
            <li class="block-flex w-100">
              <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.7011 0.909064C17.1562 0.363473 16.2714 0.363817 15.7259 0.909064L6.83595 9.79932L2.88477 5.84817C2.33918 5.30258 1.45478 5.30258 0.909193 5.84817C0.363602 6.39376 0.363602 7.27815 0.909193 7.82374L5.84795 12.7625C6.12058 13.0351 6.47806 13.1718 6.83557 13.1718C7.19308 13.1718 7.5509 13.0355 7.82353 12.7625L17.7011 2.8846C18.2467 2.33939 18.2467 1.45462 17.7011 0.909064Z" fill="#3C1F1B"/>
              </svg>
              <p class="body-text">Human experts adjust pricing models for industry trends</p>
            </li>
            <li class="block-flex w-100">
              <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.7011 0.909064C17.1562 0.363473 16.2714 0.363817 15.7259 0.909064L6.83595 9.79932L2.88477 5.84817C2.33918 5.30258 1.45478 5.30258 0.909193 5.84817C0.363602 6.39376 0.363602 7.27815 0.909193 7.82374L5.84795 12.7625C6.12058 13.0351 6.47806 13.1718 6.83557 13.1718C7.19308 13.1718 7.5509 13.0355 7.82353 12.7625L17.7011 2.8846C18.2467 2.33939 18.2467 1.45462 17.7011 0.909064Z" fill="#3C1F1B"/>
              </svg>
              <p class="body-text">Reduce price volatility with AI & human-guided strategies</p>
            </li>
          </ul>
          <a href="https://playground.resale-x.com/" target="_blank" class="resalex-v2_offers-tab-btn rebranding_btn rebranding_btn-main">
            Try for free
          </a>
        </div>
        <div class="resalex-v2_offers-tab-image resalex-v2_offers-tab-image-pricing block-flex-wrap">
          <div class="resalex-v2_bag-item resalex-v2_offers-tab-image-pricing-bag-item block-flex-wrap block-gap-15 block-flex-center-start">
            <div class="resalex-v2_bag-item-image block-flex-wrap block-flex-center-center">
              <img src="{{ 'resalex-landing_step-3-image.jpg' | asset_url }}">
            </div>
            <div class="resalex-v2_bag-item-text">
              <p class="resalex-v2_bag-item-desc body-text">Chanel 19 Medium Flap Bag</p>
              <div class="resalex-v2_bag-item-title block-flex-wrap block-flex-center-start block-gap-5">
                <p class="h2-heading-pp">$6.310</p>
                <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.01579 25.7021L7.01675 25.7012L12.298 20.3944C12.6936 19.9968 12.6922 19.3538 12.2945 18.958C11.897 18.5623 11.2539 18.5639 10.8583 18.9614L7.3125 22.5244L7.3125 1.01562C7.3125 0.454695 6.85781 -2.50726e-07 6.29688 -2.75245e-07C5.73595 -2.99764e-07 5.28125 0.454695 5.28125 1.01562L5.28125 22.5244L1.7355 18.9615C1.33982 18.5639 0.696774 18.5624 0.299207 18.9581C-0.098461 19.3538 -0.0998315 19.9969 0.295754 20.3944L5.577 25.7013L5.57797 25.7022C5.97498 26.0999 6.6201 26.0987 7.01579 25.7021Z" fill="#CB0000"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="resalex-v2_offers-tab-image-pricing-table">
            <div class="resalex-v2_offers-tab-image-pricing-table-titles block-flex-wrap">
              <p class="small-text w-100">USD 6.500</p>
              <p class="small-text w-100">USD 5.500</p>
              <p class="small-text w-100">USD 4.500</p>
              <p class="small-text w-100">USD 3.500</p>
            </div>
            <div class="resalex-v2_offers-tab-image-pricing-table-lines block-flex-wrap">
              <span class="w-100"></span>
              <span class="w-100"></span>
              <span class="w-100"></span>
            </div>
            <svg class="resalex-v2_offers-tab-image-pricing-table-graph resalex-v2_offers-tab-image-pricing-table-graph-desktop" width="414" height="176" viewBox="0 0 414 176" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.973633 31L44.4823 175H78.1862L152.335 150.5L195.843 165L212.389 101L291.44 110.5L326.982 1.5L379.07 22H413.387" stroke="#F24F14" stroke-width="2"/>
            </svg>
            <svg class="resalex-v2_offers-tab-image-pricing-table-graph resalex-v2_offers-tab-image-pricing-table-graph-tablet" width="357" height="176" viewBox="0 0 357 176" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.993164 31L38.4953 175H67.5463L131.458 150.5L168.961 165L183.222 101L251.36 110.5L281.995 1.5L326.892 22H356.471" stroke="#F24F14" stroke-width="2"/>
            </svg>
            <svg class="resalex-v2_offers-tab-image-pricing-table-graph resalex-v2_offers-tab-image-pricing-table-graph-mobile" width="241" height="176" viewBox="0 0 241 176" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 31.415L26.3195 175H45.9331L89.0832 150.571L114.403 165.029L124.031 101.213L170.034 110.686L190.718 2L221.03 22.4409H241" stroke="#F24F14" stroke-width="2"/>
            </svg>
          </div>
        </div>
      </div>

      <div class="resalex-v2_offers-tab resalex-v2_offers-tab-grading block-flex-wrap block-gap-50 block-flex-center-center">
        <div class="resalex-v2_offers-tab-text block-flex-wrap block-gap-30">
          <div class="resalex-v2_offers-tab-title block-flex-wrap block-gap-15">
            <p class="h3-heading-pp">Confidence in Every Purchase with AI & Expert Grading</p>
            <p class="body-text w-100">ResaleX evaluates product images to automatically grade item conditions and flag potential authentication risks. Our expert team oversees AI-generated results, refining condition grades and ensuring accuracy.</p>
          </div>
          <ul class="resalex-v2_offers-tab-list block-flex-wrap block-gap-10">
            <li class="block-flex w-100">
              <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.7011 0.909064C17.1562 0.363473 16.2714 0.363817 15.7259 0.909064L6.83595 9.79932L2.88477 5.84817C2.33918 5.30258 1.45478 5.30258 0.909193 5.84817C0.363602 6.39376 0.363602 7.27815 0.909193 7.82374L5.84795 12.7625C6.12058 13.0351 6.47806 13.1718 6.83557 13.1718C7.19308 13.1718 7.5509 13.0355 7.82353 12.7625L17.7011 2.8846C18.2467 2.33939 18.2467 1.45462 17.7011 0.909064Z" fill="#3C1F1B"/>
              </svg>
              <p class="body-text">AI performs first-pass condition grading on images & descriptions</p>
            </li>
            <li class="block-flex w-100">
              <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.7011 0.909064C17.1562 0.363473 16.2714 0.363817 15.7259 0.909064L6.83595 9.79932L2.88477 5.84817C2.33918 5.30258 1.45478 5.30258 0.909193 5.84817C0.363602 6.39376 0.363602 7.27815 0.909193 7.82374L5.84795 12.7625C6.12058 13.0351 6.47806 13.1718 6.83557 13.1718C7.19308 13.1718 7.5509 13.0355 7.82353 12.7625L17.7011 2.8846C18.2467 2.33939 18.2467 1.45462 17.7011 0.909064Z" fill="#3C1F1B"/>
              </svg>
              <p class="body-text">Expert verification ensures accuracy for luxury resale standards</p>
            </li>
            <li class="block-flex w-100">
              <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.7011 0.909064C17.1562 0.363473 16.2714 0.363817 15.7259 0.909064L6.83595 9.79932L2.88477 5.84817C2.33918 5.30258 1.45478 5.30258 0.909193 5.84817C0.363602 6.39376 0.363602 7.27815 0.909193 7.82374L5.84795 12.7625C6.12058 13.0351 6.47806 13.1718 6.83557 13.1718C7.19308 13.1718 7.5509 13.0355 7.82353 12.7625L17.7011 2.8846C18.2467 2.33939 18.2467 1.45462 17.7011 0.909064Z" fill="#3C1F1B"/>
              </svg>
              <p class="body-text">Minimize disputes & returns with trustworthy assessments</p>
            </li>
          </ul>
          <a href="https://playground.resale-x.com/" target="_blank" class="resalex-v2_offers-tab-btn rebranding_btn rebranding_btn-main">
            Try for free
          </a>
        </div>
        <div class="resalex-v2_offers-tab-image resalex-v2_offers-tab-image-grading block-flex-wrap block-gap-10">
          <div class="resalex-v2_bag-item block-flex-wrap block-gap-15 block-flex-center-start">
            <div class="resalex-v2_bag-item-image">
              <img src="{{ 'resalex-landing_step-3-image.jpg' | asset_url }}">
            </div>
            <div class="resalex-v2_bag-item-text">
              <p class="resalex-v2_bag-item-desc body-text">Condition: Never worn</p>
              <div class="resalex-v2_bag-item-title block-flex-wrap block-flex-center-start block-gap-5">
                <p class="h2-heading-pp">+$4.450</p>
              </div>
            </div>
          </div>
          <div class="resalex-v2_bag-item block-flex-wrap block-gap-15 block-flex-center-start">
            <div class="resalex-v2_bag-item-image">
              <img src="{{ 'resalex-landing_step-1-4-image.jpg' | asset_url }}">
            </div>
            <div class="resalex-v2_bag-item-text">
              <p class="resalex-v2_bag-item-desc body-text">Engravings: Bad condition</p>
              <div class="resalex-v2_bag-item-title block-flex-wrap block-flex-center-start block-gap-5">
                <p class="h2-heading-pp">-$294</p>
              </div>
            </div>
          </div>
          <div class="resalex-v2_bag-item block-flex-wrap block-gap-15 block-flex-center-start">
            <div class="resalex-v2_bag-item-image">
              <img src="{{ 'resalex-landing_step-1-6-image.jpg' | asset_url }}">
            </div>
            <div class="resalex-v2_bag-item-text">
              <p class="resalex-v2_bag-item-desc body-text">Leather: Good condition</p>
              <div class="resalex-v2_bag-item-title block-flex-wrap block-flex-center-start block-gap-5">
                <p class="h2-heading-pp">+$927</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>

<script>
  $(document).mouseup( function(e){
      var div = $( ".resalex-v2_offers-select-wrapp-main" );
    	if ( !div.is(e.target)
		&& div.has(e.target).length === 0 ) {
		div.children('.resalex-v2_offers-select-wrapp-options').removeClass('active');
	}
  });
  $('.resalex-v2_offers-select-wrapp').on('click', function() {
    $('.resalex-v2_offers-select-wrapp-options').toggleClass('active');
    $(this).toggleClass('active');
  });
  $('.resalex-v2_offers-select-wrapp-option').on('click', function() {
    $('.resalex-v2_offers-tab').removeClass('active');
    var optionName = $(this).text();
    $('.resalex-v2_offers-select-wrapp-main p').html(optionName);
    var NameBlock = $(this).attr('id');
    var TargetBlock = ".resalex-v2_offers-tab-" + NameBlock;
    $(TargetBlock).addClass('active');
  });
  
  $(document).ready(function () {
    
    $('.resalex-v2_offers-btn').on('click', function() {
        $('.resalex-v2_offers-btn').removeClass('active');
        $('.resalex-v2_offers-tab').removeClass('active');
        var NameBlock = $(this).attr('id');
        var TargetBlock = ".resalex-v2_offers-tab-" + NameBlock;
        $(TargetBlock).addClass('active');
        $(this).addClass('active');
      });
    
    $('.resalex-v2_offers-select').on('change', function() {
        $('.resalex-v2_offers-tab').removeClass('active');
        var block = $(this).val();
        var chosenBlock = ".resalex-v2_offers-tab-" + block;
        $(chosenBlock).addClass('active');
      });
    
      $('.resalex-v2_offers-select.option').on('click', function() {
        $('.resalex-v2_offers-tab').removeClass('active');
        if ($(this).text() === "Inventory Sourcing") {
          $('.resalex-v2_offers-tab-sourcing').addClass('active');
        } else if ($(this).text() === "Smart Pricing & Demand Forecasting") {
          $('.resalex-v2_offers-tab-pricing').addClass('active');
        } else if ($(this).text() === "Condition Grading & Authentication") {
          $('.resalex-v2_offers-tab-grading').addClass('active');
        }
      });

    
  });
</script>
              
{% schema %}
  {
    "name": "ResaleX V2 Features",
    "class": "resalex-v2_featured rebranding-wider-section-bottom",
    "settings": []
  }
{% endschema %}