<style>
  .resalex_steps-wrapp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
  }
  .resalex_steps-text {
    width: 100%;
    max-width: 745px;
    text-align: left;
    height: max-content;
  }
  .resalex_steps-text.animation {
    position: fixed;
    top: 150px;
  }
  .resalex_steps-text.animated {
    position: absolute;
    bottom: 504px;
  }
  h2.resalex_steps-title {
    text-align: left;
  }
  p.resalex_steps-desc {
    margin-top: 15px;
  }
  a.resalex_steps-btn {
    margin-top: 30px;
    margin-left: 0;
  }
  .resalex_steps-path {
    width: calc(100% - 795px);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: auto;
    justify-content: flex-end;
  }
  .resalex_steps-line {
    width: 53px;
    height: auto;
    position: relative;
  }
  span.resalex_steps-line-main {
    display: block;
    width: 3px;
    background: #3C1F1B;
    height: 0;
    position: relative;
    top: 25px;
    left: 50%;
    margin-left: -1.5px;
    z-index: 0;
    transition: 5.5s
  }
  span.resalex_steps-line-main.animated {
      height: 1846px;
  }
  .resalex_steps-line-item {
    display: block;
    height: 53px;
    width: 53px;
    position: absolute;
    top: 0;
    left: 0;
  }
.resalex_steps-line-item-2 {
    top: 668px;
}
.resalex_steps-line-item-3 {
    top: 1225px;
}
.resalex_steps-line-item-4 {
    top: 1839px;
}
  span.resalex_steps-line-item-circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  span.resalex_steps-line-item-circle-1 {
    border-radius: 54.418px;
    border: 1px solid rgba(172, 172, 172, 0.20);
    background: #C7BEBD;
    box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(20px);
    z-index: 1;
    margin-top: 0;
    margin-left: 0;
    height: 0;
    width: 0;
    transition: .5s;
  }
  .resalex_steps-line-item.animated span.resalex_steps-line-item-circle-1 {
    margin-top: -26.5px;
    margin-left: -26.5px;
    height: 53px;
    width: 53px;
  }
  span.resalex_steps-line-item-circle-2 {
    border-radius: 36.279px;
    background: #8A7876;
    z-index: 2;
    margin-top: 0;
    margin-left: 0;
    height: 0;
    width: 0;
    transition: .5s;
  }
  .resalex_steps-line-item.animated span.resalex_steps-line-item-circle-2 {
    margin-top: -18px;
    margin-left: -18px;
    height: 36px;
    width: 36px;
  }
  span.resalex_steps-line-item-circle-3 {
    border-radius: 18.139px;
    background: #3C1F1B;
    margin-top: 0;
    margin-left: 0;
    height: 0;
    width: 0;
    transition: .5s;
    z-index: 3;
  }
  .resalex_steps-line-item.animated span.resalex_steps-line-item-circle-3 {
    margin-top: -9px;
    margin-left: -9px;
    height: 18px;
    width: 18px;
  }
p.resalex_steps-pretitle.resalex-pretitle.caption {
    margin-bottom: 15px;
    text-align: left;
}
  .resalex_steps-items {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 119px);
      gap: 237px;
      margin-top: 7px;
  }
  .resalex_steps-item {
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
  }
  .resalex_steps-item.animated {
    opacity: 1;
    transform: translateY(0px);
  }
  p.resalex_steps-item-desc {
    margin-top: 15px;
  }
  .resalex_steps-item-content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 436px;
    gap: 15px;
    padding: 10px 20px 10px 10px;
    align-items: center;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: linear-gradient(96deg, rgba(224, 224, 224, 0.03) 23.53%, rgba(189, 189, 189, 0.03) 75.95%);
    box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(20px);
  }
  .resalex_steps-item-content img {
    border-radius: 6px;
    border: 1px solid #E8E8E8;
    height: 98px;
    width: 98px;
  }
  .resalex_steps-item-content-images {
    gap: 10px;
    max-width: 376px;
    padding: 10px;
  }
  .resalex_steps-item-content-text-wrapp {
      width: calc(100% - 126px);
  }
  a.resalex_steps-mobile-btn, .resalex_steps-line-item-mobile {
      display: none;
  }
  .resalex_steps-item-content-text-wrapp-items {
      margin-top: 10px;
      gap: 5px;
  }
  .resalex_steps-item-content-text-wrapp-items p {
      width: 100%;
  }
  .resalex_steps-item-content-text-wrapp-items p span {
      color: rgba(60, 31, 27, 0.75);
  }
  .resalex_steps-item-content-top {
      align-items: flex-start;
  }
  .resalex_steps-item-content-top p.resalex_steps-item-content-desc {
      margin-top: 15px;
  }
  p.resalex_steps-item-content-title {
      margin-top: 5px;
  }
   .resalex_steps-item-market-table {
    paddind-top: 10px;
  }
  .resalex_steps-item-market-table-item {
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
  }
  .resalex_steps-item-market-table-item:last-child {
    border: none;
  }
  .resalex_steps-item-content-single-image {
    padding: 0px;
    overflow: hidden;
  }
  .resalex_steps-item-content-single-image img {
    width: 100%;
    height: auto;
    border: none;
  }
  .resalex_steps-item-market-table-item img {
    height: 18px;
    width: auto;
    border: none;
}
  .resalex-v2_bag-item-market {
    border: none;
    padding: 0;
    box-shadow: none;
  }
  .resalex-v2_bag-item-market img {
    border: none;
    height: max-content;
  }
  @media(max-width: 1450px) {
    .resalex_steps-text {
        max-width: 571px;
    }
    .resalex_steps-text.animated {
        bottom: 484px;
    }
    .resalex_steps-path {
        width: calc(100% - 615px);
    }
    span.resalex_steps-line-main.animated {
      height: 1870px;
    }
    .resalex_steps-line-item-4 {
    top: 1865px;
}
  }
  @media(max-width: 1250px) {
.resalex_steps-items {
    margin-top: 12px;
}
    .resalex_steps-text.animated {
    bottom: 454px;
}
    p.resalex_steps-desc, p.resalex_steps-item-desc {
      margin-top: 10px;
    }
    .resalex_steps-path {
        width: calc(100% - 365px);
        gap: 25px;
    }
    .resalex_steps-text {
        max-width: 361px;
    }
    .resalex_steps-items {
        gap: 237px;
    }
    .resalex_steps-line-item-3 {
        top: 1128px;
    }
    .resalex_steps-line-item-3 {
        top: 1220px;
    }
    .resalex_steps-line-item-4 {
        top: 1852px;
    }
  }
  @media(max-width: 950px) {
    .resalex_steps-item {
    opacity: 1;
    transform: translateY(0px);
  }
    span.resalex_steps-line-item-circle-1 {
    margin-top: -26.5px;
    margin-left: -26.5px;
    height: 53px;
    width: 53px;
  }
  span.resalex_steps-line-item-circle-2 {
    margin-top: -18px;
    margin-left: -18px;
    height: 36px;
    width: 36px;
  }
  span.resalex_steps-line-item-circle-3 {
    margin-top: -9px;
    margin-left: -9px;
    height: 18px;
    width: 18px;
  }
    p.resalex_steps-pretitle.resalex-pretitle.caption {
        text-align: center;
    }
    a.resalex_steps-btn {
        margin: 0 auto;
    }
    .resalex_steps-wrapp {
        gap: 40px;
    }
    .resalex_steps-line-item {
        display: block;
        position: relative;
    }
    .resalex_steps-item-content {
        max-width: 421px;
        margin: 20px auto 0 auto;
    }
    .resalex_steps-text {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    h2.resalex_steps-title {
        text-align: center;
    }
    .resalex_steps-line {
      display: none;
    }
    .resalex_steps-path {
        width: 100%;
        gap: 25px;
        justify-content: center;
          margin-top: 10px;
    }
    .resalex_steps-items {
        width: 100%;
        margin-top: 0;
        gap: 50px;
        justify-content: center;
    }
    .resalex_steps-item {
        width: 100%;
        text-align: center;
    }
     .resalex_steps-item-content {
        gap: 10px;
        padding: 5px 10px 5px 5px;
        text-align: left;
    }
    .resalex_steps-item-content-images {
        gap: 5px;
        max-width: 355px;
        padding: 5px;
        margin: 15px auto 0 auto;
    }
    a.resalex_steps-mobile-btn, .resalex_steps-line-item {
      display: block;
    }
    .resalex_steps-line-item {
      margin: 0 auto 15px auto;
    }
    a.resalex_steps-desktop-btn {
      display: none;
    }
  }
  @media(max-width: 750px) {
    .resalex_steps-item-content {
    margin: 15px auto 0 auto;
    }
    .resalex_steps-item-content img {
        height: 90px;
        width: 90px;
    }
    .resalex_steps-item-content {
        max-width: 333px;
    }
    .resalex_steps-item-content-images {
        max-width: 292px;
    }
    .resalex_steps-item-content-text-wrapp {
        width: calc(100% - 100px);
    }
    span.resalex_steps-line-item-circle-3 {
        height: 14px;
        width: 14px;
        margin-top: -7px;
        margin-left: -7px;
    }
    span.resalex_steps-line-item-circle-2 {
        height: 32px;
        width: 32px;
        z-index: 2;
        margin-top: -16px;
        margin-left: -16px;
    }
    span.resalex_steps-line-item-circle-1 {
        height: 48px;
        width: 48px;
        margin-top: -24px;
        margin-left: -24px;
    }
    .resalex_steps-line-item {
        height: 48px;
        width: 48px;
    }
    .resalex_steps-item-market-table-item img {
        height: 15px;
        width: auto;
    }
    .resalex_steps-item-content-single-image img {
        width: 100%;
        height: auto;
    }
  }
  @media(max-width: 550px) {
    span.resalex_steps-line-item-circle-3 {
    height: 10px;
    width: 10px;
    margin-top: -5px;
    margin-left: -5px;
    }
    span.resalex_steps-line-item-circle-2 {
    height: 24px;
    width: 24px;
    z-index: 2;
    margin-top: -12px;
    margin-left: -12px;
}
    span.resalex_steps-line-item-circle-1 {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
}
    .resalex_steps-line-item {
      height: 40px;
    width: 40px;
    }
  }
  @media(max-width: 400px) {
    .resalex_steps-item-content img {
        height: 70px;
        width: 70px;
    }
    .resalex_steps-item-content {
        max-width: 333px;
    }
     .resalex_steps-item-content-images {
        max-width: 232px;
    }
    .resalex_steps-item-market-table-item img {
        height: 15px;
        width: auto;
    }
    .resalex_steps-item-content-single-image img {
        width: 100%;
        height: auto;
    }
  }
</style>

<div class="rebranding_container">
  <div class="resalex_steps-wrapp">
    <div class="resalex_steps-text">
      <p class="resalex_steps-pretitle resalex-pretitle caption">
        How it works?
      </p>
      <h2 class="resalex_steps-title resalex_section-title h2-heading-ss">
        AI meets expertise: <span class="h2-heading-pp">your smart sourcing playbook</span>
      </h2>
      <p class="resalex_steps-desc resalex-desc body-text">
        Available via platform interface or API for larger integrations
      </p>
      <a href="https://playground.resale-x.com/" target="_blank" class="resalex_steps-btn resalex_steps-desktop-btn resalex-btn resalex-btn-primaryx rebranding_btn rebranding_btn-main">
        Try for free
      </a>
    </div>
    <div class="resalex_steps-path">
      <div class="resalex_steps-line">
        <span class="resalex_steps-line-main"></span>
        <div class="resalex_steps-line-item resalex_steps-line-item-1">
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-1"></span>
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-2"></span>
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-3"></span>
        </div>
        <div class="resalex_steps-line-item resalex_steps-line-item-2">
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-1"></span>
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-2"></span>
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-3"></span>
        </div>
        <div class="resalex_steps-line-item resalex_steps-line-item-3">
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-1"></span>
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-2"></span>
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-3"></span>
        </div>
        <div class="resalex_steps-line-item resalex_steps-line-item-4">
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-1"></span>
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-2"></span>
          <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-3"></span>
        </div>
      </div>
      <div class="resalex_steps-items">
        <div class="resalex_steps-item resalex_steps-item-1">
          <div class="resalex_steps-line-item resalex_steps-line-item-mobile">
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-1"></span>
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-2"></span>
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-3"></span>
          </div>
          <p class="resalex_steps-item-title h3-heading-pp">
            Find undervalued deals instantly
          </p>
          <p class="resalex_steps-item-desc body-text">
            Upload your inventory or scan market listings—ResaleX’s AI spots profitable sourcing opportunities in seconds
          </p>
          <div class="resalex_steps-item-content resalex_steps-item-market">
            <div class="resalex-v2_bag-item resalex-v2_bag-item-market block-flex-wrap block-gap-15 block-flex-center-start">
              <div class="resalex-v2_bag-item-image block-flex-wrap block-flex-center-center">
                <img src="{{ 'resalex-landing_step-3-image.jpg' | asset_url }}" loading="lazy" alt="landing_step-3-image" >
              </div>
              <div class="resalex-v2_bag-item-text">
                <p class="resalex-v2_bag-item-desc body-text">Chanel 19 Medium Flap Bag</p>
                <div class="resalex-v2_bag-item-title block-flex-wrap block-flex-center-start block-gap-5">
                  <p class="h2-heading-pp">$6.230</p>
                  <svg width="29" height="26" viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.01579 25.7021L7.01675 25.7012L12.298 20.3944C12.6936 19.9968 12.6922 19.3538 12.2945 18.958C11.897 18.5623 11.2539 18.5639 10.8583 18.9614L7.3125 22.5244L7.3125 1.01562C7.3125 0.454695 6.85781 -2.50726e-07 6.29688 -2.75245e-07C5.73595 -2.99764e-07 5.28125 0.454695 5.28125 1.01562L5.28125 22.5244L1.7355 18.9615C1.33982 18.5639 0.696774 18.5624 0.299207 18.9581C-0.098461 19.3538 -0.0998315 19.9969 0.295754 20.3944L5.577 25.7013L5.57797 25.7022C5.97498 26.0999 6.6201 26.0987 7.01579 25.7021Z" fill="#CB0000"/>
                  <path d="M23.3127 25.7021L23.3136 25.7012L28.5949 20.3944C28.9905 19.9968 28.989 19.3538 28.5914 18.958C28.1939 18.5623 27.5508 18.5639 27.1551 18.9614L23.6094 22.5244L23.6094 1.01562C23.6094 0.454695 23.1547 -2.50726e-07 22.5938 -2.75245e-07C22.0328 -2.99764e-07 21.5781 0.454695 21.5781 1.01562L21.5781 22.5244L18.0324 18.9615C17.6367 18.5639 16.9936 18.5624 16.5961 18.9581C16.1984 19.3538 16.197 19.9969 16.5926 20.3944L21.8739 25.7013L21.8748 25.7022C22.2719 26.0999 22.917 26.0987 23.3127 25.7021Z" fill="#CB0000"/>
                  </svg>
                </div>
              </div>
            </div>
            <div class="resalex_steps-item-market-table block-flex-wrap block-gap-10">
              <div class="resalex_steps-item-market-table-item block-flex-wrap block-flex-center-sb w-100">
                <img src="{{ "resalex_ebay-logo.webp" | asset_url }}" loading="lazy" alt="ebay-logo" >
                <p class="small-text">$6.230</p>
              </div>
              <div class="resalex_steps-item-market-table-item block-flex-wrap block-flex-center-sb w-100">
                <img src="{{ "resalex_poshmark-logo.webp" | asset_url }}" loading="lazy" alt="poshmark-logo" >
                <p class="small-text">$6.634</p>
              </div>
              <div class="resalex_steps-item-market-table-item block-flex-wrap block-flex-center-sb w-100">
                <img src="{{ "resalex_vsp-logo.webp" | asset_url }}" loading="lazy" alt="vsp-logo" >
                <p class="small-text">$6.310</p>
              </div>
              <div class="resalex_steps-item-market-table-item block-flex-wrap block-flex-center-sb w-100">
                <img src="{{ "resalex_vestiaire-collective-logo.webp" | asset_url }}" loading="lazy" alt="vestiaire-collective-logo" >
                <p class="small-text">$6.290</p>
              </div>
            </div>
          </div>
        </div>
        <div class="resalex_steps-item resalex_steps-item-2">
          <div class="resalex_steps-line-item resalex_steps-line-item-mobile">
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-1"></span>
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-2"></span>
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-3"></span>
          </div>
          <p class="resalex_steps-item-title h3-heading-pp">
            Automated Classification
          </p>
          <p class="resalex_steps-item-desc body-text">
            Instant tagging and condition grading
          </p>
          <div class="resalex_steps-item-content resalex_steps-item-content-text resalex_steps-item-content-top">
            <img src="{{ 'resalex-landing_step-2-image.png' | asset_url }}" loading="lazy" alt="landing_step-2-image" >
            <div class="resalex_steps-item-content-text-wrapp">
              <p class="resalex_steps-item-content-desc body-text">Details</p>
              <div class="resalex_steps-item-content-text-wrapp-items block-flex-wrap">
                <p class="small-text"><span>Category: </span>Bag</p>
                <p class="small-text"><span>Brand: </span>Chanel</p>
                <p class="small-text"><span>Model: </span>Medium Flap Bag</p>
                <p class="small-text"><span>Color: </span>Beige/black/white</p>
                <p class="small-text"><span>Condition: </span>Used</p>
                <p class="small-text"><span>Counterfeit probability rate: </span>17.42%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="resalex_steps-item resalex_steps-item-3">
          <div class="resalex_steps-line-item resalex_steps-line-item-mobile">
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-1"></span>
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-2"></span>
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-3"></span>
          </div>
          <p class="resalex_steps-item-title h3-heading-pp">
            Expert review for key buys
          </p>
          <p class="resalex_steps-item-desc body-text">
            Our resale professionals validate top deals, ensuring AI-powered picks align with real market demand
          </p>
          <div class="resalex_steps-item-content resalex_steps-item-content-single-image block-flex-wrap block-flex-center-center">
            <img src="{{ 'resalex-v2_step-3.webp' | asset_url }}" loading="lazy" alt="v2_step-3" >
          </div>
        </div>
        <div class="resalex_steps-item resalex_steps-item-4">
          <div class="resalex_steps-line-item resalex_steps-line-item-mobile">
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-1"></span>
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-2"></span>
            <span class="resalex_steps-line-item-circle resalex_steps-line-item-circle-3"></span>
          </div>
          <p class="resalex_steps-item-title h3-heading-pp">
            Smart pricing for higher profits
          </p>
          <p class="resalex_steps-item-desc body-text">
            Get AI-driven price recommendations, fine-tuned by experts to help you sell faster and maximize margins
          </p>
          <div class="resalex_steps-item-content resalex_steps-item-content-text">
            <img src="{{ 'resalex-landing_step-3-image.jpg' | asset_url }}" loading="lazy" alt="landing_step-3-image" >
            <div class="resalex_steps-item-content-text-wrapp">
              <p class="resalex_steps-item-content-desc body-text">The best deal is</p>
              <p class="resalex_steps-item-content-title h2-heading-pp">~$6.230</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="mailto:nchen@legitgrails.com?subject=ResaleX&body=Hi%20there%2C%0AI%20hope%20you%27re%20doing%20well%21%20I%27d%20love%20to%20schedule%20a%20demo%20of%20ResaleX%20to%20explore%20how%20it%20can%20benefit%20my%20business%2E%20Please%20let%20me%20know%20a%20convenient%20time%20that%20works%20for%20you%2E" class="resalex_steps-btn resalex_steps-mobile-btn resalex-btn resalex-btn-primary rebranding_btn rebranding_btn-main">
        Request a demo
      </a>
  </div>
</div>

{% schema %}
  {
    "name": "ResaleX V2 Steps",
    "class": "resalex_steps rebranding-wider-section",
    "settings": []
  }
{% endschema %}