<style>
  .verified-partners_search {
    padding-top: 50px;
  }
  .verified-partners {
    display: none;
  }
  .verified-partners.active {
    display: flex;
  }
  .verified-partners_card {
    border-radius: 11px;
    border: 1px solid #D4D4D4;
    padding: 30px 20px;
    display: none;
    height: 556px;
  }
  .verified-partners_card.active {
    display: flex;
  }
  .verified-partners_card-image-wrapp {
    height: 200px;
  }
  .verified-partners_card-image {
    height: auto;
    max-height: 100%;
    width: auto;
  }
  .verified-partners_card {
    width: calc(33.33334% - 13.33334px);
  }
  .verified-partners_search-wrapp {
    width: calc(100% - 508px);
    padding: 6px 6px 6px 20px;
    border-radius: 12px;
    border: 1px solid #3C1F1B;
  }
  .verified-partners_filters.maps-filters .verified-partners_search-wrapp {
    width: calc(100% - 180px);
  }
  .verified-partners_card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .verified-partners_country-items-wrapp {
    width: 312px;
    position: relative;
    height: 66px;
    border-radius: 12px;
    border: 1px solid #3C1F1B;
    display: flex;
    align-items: center;
    padding: 6px 20px;
  }
  .verified-partners_filters.maps-filters .verified-partners_country-items-wrapp {
    display: none;
  }
  select {
    height: 66px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #3C1F1B;
    padding: 6px 20px;
   -webkit-appearance: none;
    margin: 0;
  }
  select option {
    color: #3C1F1B;
    font-family: "Suisse Intl";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.2px;
  }
  .verified-partners_open-btn {
    width: 80px;
    height: 66px;
    border-radius: 12px;
    border: 1px solid #3C1F1B;
  }
  .verified-partners_open-btn svg {
    width: 24px;
    height: auto;
  }
  .verified-partners_open-btn.active {
    background: #3C1F1B;
    pointer-events: none;
  }
  .verified-partners_open-btn.active svg path {
    fill: #fff;
  }
  span.verified-partners_search-icon {
    width: 62px;
    height: 52px;
    background: #3C1F1B;
    border-radius: 8px;
  }
  span.verified-partners_search-icon svg {
    height: 24px;
  }
  #search-partners-input {
    height: 52px;
    width: calc(100% - 77px);
    border: none;
    box-shadow: none;
    color: #3C1F1B;
    font-family: "Suisse Intl";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    letter-spacing: -0.2px;
    outline: none!important;
  }
  #search-partners-input::placeholder {
    opacity: 0.5;
  }
  .verified-partners_country-items-wrapp:hover {
    cursor: pointer;
  }
  .verified-partners_country-items-wrapp-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 2;
    margin-top: -10px;
    margin-left: -1px;
    width: calc(100% + 2px);
    padding: 10px 0 0 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid #3C1F1B;
    border-top: none;
  }
  .verified-partners_country-items-wrapp-main svg {
      width: 26px;
      margin-right: 1px;
      min-width: 26px;
      height: auto;
  }
  .verified-partners_country-items-wrapp-option {
      padding: 20px;
      text-decoration: none;
      border-top: 1px solid #e9e9e9;
      line-height: 1;
  }
  .verified-partners_country-items-wrapp p {
    line-height: 1;
  }
  .verified-partners_country-items-wrapp-main-title {
    max-width: calc(100% - 15px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .verified-partners_country-items-wrapp-options {
    display: none;
  }
  .verified-partners_country-items-wrapp.active .verified-partners_country-items-wrapp-options {
    display: flex;
  }
  .verified-partners_country-items-wrapp.active svg {
    transform: rotate(180deg)
  }
.verified-partners_card-location p {
max-width: calc(100% - 100px);
text-align: center;
}
  .verified-partners_card-location svg {
    margin-top: -1px;
  }
    a.verified-partners_card-btn-website {
    min-width: auto;
    width: 84px;
    padding: 12px 28px;
    height: 50px;
  }
  .verified-partners_card-btns {
  margin-top: auto;
}
  a.verified-partners_card-btn-more {
    width: calc(100% - 94px);
    min-width: auto;
  }
  a.verified-partners_card-btn-website svg {
    height: 22px;
  }
  .verified-partners_map {
    height: 800px;
    overflow: hidden;
    border-radius: 11px;
  }
  .verified-partners_map iframe {
    margin-top: -62px;
    width: calc(100% + 4px);
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: -4px;
  }
  @media(max-width: 1450px) {
  .verified-partners_card {
  min-height: 582px;
}
}
  @media(max-width: 1250px) {
    .verified-partners_search-wrapp {
      width: 100%;
      order: 4;
    }
    .verified-partners_filters.maps-filters .verified-partners_search-wrapp {
      width: calc(100% - 148px);
      order: 1;
    }
    .verified-partners_filters.maps-filters .verified-partners_open-btns {
      order: 2;
    }
    .verified-partners_country-items-wrapp {
      width: calc(100% - 180px);
    }
    .verified-partners_card {
      width: calc(50% - 10px);
      min-height: 556px;
    }
  }
  @media(max-width: 750px) {
    .verified-partners_card {
      width: 100%;
      height: max-content;
      min-height: max-content;
    }
    span.verified-partners_search-icon {
      width: 52px;
      height: 44px;
    }
    #search-partners-input {
      height: 44px;
      width: calc(100% - 67px);
    }
    .verified-partners_open-btn {
      height: 58px;
      width: 64px;
    }
    .verified-partners_country-items-wrapp {
      height: 58px;
      width: calc(100% - 148px);
    }
    .verified-partners_country-items-wrapp-main svg {
      width: 22px;
      min-width: 22px;
    }
    .verified-partners_open-btn svg {
      width: 20px;
    }
    .verified-partners_card-image-wrapp {
      height: 130px;
    }
    a.verified-partners_card-btn-website {
      width: 80px;
    }
    a.verified-partners_card-btn-more {
      width: calc(100% - 90px);
    }
    .verified-partners_filters.maps-filters .verified-partners_search-wrapp {
      width: calc(100% - 148px);
    }
  }
</style>

<div class="rebranding_container">
  <div class="block-flex-wrap block-gap-30 block-flex-center-center">
    <div class="block-flex-wrap w-100 block-flex-center-center">
      <h2 class="h2-heading-ss tac">Explore <span class="h2-heading-pp">Verified Stores</span> Worldwide</h2>
    </div>
    <div class="verified-partners_filters block-flex-wrap block-gap-10 block-flex-center-center w-100">
      <div class="verified-partners_search-wrapp block-flex-wrap block-flex-center-sb">
        <input id="search-partners-input" placeholder="Find a partner">
        <span class="verified-partners_search-icon block-flex-wrap block-flex-center-center">
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24.0579 25.7071C24.4484 26.0976 25.0816 26.0976 25.4721 25.7071C25.8627 25.3166 25.8627 24.6834 25.4721 24.2929L24.0579 25.7071ZM18.8735 4.02606L18.1664 4.73317C21.8106 8.3774 21.8106 14.2859 18.1664 17.9301L18.8735 18.6372L19.5806 19.3443C24.0059 14.919 24.0059 7.74423 19.5806 3.31896L18.8735 4.02606ZM18.8735 18.6372L18.1664 17.9301C14.5222 21.5743 8.61373 21.5743 4.9695 17.9301L4.26239 18.6372L3.55528 19.3443C7.98056 23.7696 15.1553 23.7696 19.5806 19.3443L18.8735 18.6372ZM4.26239 18.6372L4.9695 17.9301C1.32527 14.2859 1.32527 8.3774 4.9695 4.73317L4.26239 4.02606L3.55528 3.31896C-0.869991 7.74423 -0.869991 14.919 3.55528 19.3443L4.26239 18.6372ZM4.26239 4.02606L4.9695 4.73317C8.61373 1.08894 14.5222 1.08894 18.1664 4.73317L18.8735 4.02606L19.5806 3.31896C15.1553 -1.10632 7.98056 -1.10632 3.55528 3.31896L4.26239 4.02606ZM18.6378 18.8728L17.9307 19.5799L24.0579 25.7071L24.765 25L25.4721 24.2929L19.3449 18.1656L18.6378 18.8728Z" fill="white"/>
          </svg>
        </span>
      </div>
      <div class="verified-partners_country-items-wrapp visible">
        <div class="verified-partners_country-items-wrapp-main w-100 block-flex block-flex-center-sb">
          <p class="body-text verified-partners_country-items-wrapp-main-title">Worldwide</p>
          <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.3975 13.3893L22.6326 3.15398C22.8695 2.91725 23 2.60124 23 2.26428C23 1.92733 22.8695 1.61131 22.6326 1.37458L21.879 0.620823C21.388 0.130348 20.5899 0.130348 20.0996 0.620823L11.5048 9.21565L2.90041 0.611286C2.66349 0.374556 2.34766 0.24385 2.01089 0.24385C1.67375 0.24385 1.35792 0.374556 1.12082 0.611286L0.367435 1.36504C0.130518 1.60196 -7.31702e-08 1.91779 -8.7899e-08 2.25474C-1.02628e-07 2.5917 0.130518 2.90771 0.367435 3.14444L10.6119 13.3893C10.8496 13.6266 11.1669 13.7569 11.5042 13.7561C11.8428 13.7569 12.16 13.6266 12.3975 13.3893Z" fill="#3C1F1B"/>
          </svg>
        </div>
        <div class="verified-partners_country-items-wrapp-options block-flex-wrap">
          <a href="javascript:void(0)" id="all" class="standart-hover body-text block-flex block-flex-center-start w-100 verified-partners_country-items-wrapp-option">
            Worldwide
          </a>
          <a href="javascript:void(0)" id="australia" class="standart-hover body-text block-flex block-flex-center-start w-100 verified-partners_country-items-wrapp-option">
            Australia
          </a>
          <a href="javascript:void(0)" id="germany" class="standart-hover body-text block-flex block-flex-center-start w-100 verified-partners_country-items-wrapp-option">
            Germany
          </a>
          <a href="javascript:void(0)" id="portugal" class="standart-hover body-text block-flex block-flex-center-start w-100 verified-partners_country-items-wrapp-option">
            Portugal
          </a>
          <a href="javascript:void(0)" id="south-africa" class="standart-hover body-text block-flex block-flex-center-start w-100 verified-partners_country-items-wrapp-option">
            South Africa
          </a>
          <a href="javascript:void(0)" id="united-arab-emirates" class="standart-hover body-text block-flex block-flex-center-start w-100 verified-partners_country-items-wrapp-option">
            United Arab Emirates
          </a>
          <a href="javascript:void(0)" id="united-kingdom" class="standart-hover body-text block-flex block-flex-center-start w-100 verified-partners_country-items-wrapp-option">
            United Kingdom
          </a>
          <a href="javascript:void(0)" id="united-states" class="standart-hover body-text block-flex block-flex-center-start w-100 verified-partners_country-items-wrapp-option">
            United States
          </a>
        </div>
      </div>
      <div class="verified-partners_open-btns block-flex-wrap block-gap-10">
        <a href="javascript:void(0)" id="cards" class="standart-hover verified-partners_open-btn verified-partners_open-btn-cards block-flex-wrap block-flex-center-center active">
          <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 19.4737V15.6356H3.8381V19.4737H0ZM6.85011 19.4737V15.6356H24V19.4737H6.85011ZM0 11.9191V8.08095H3.8381V11.9191H0ZM6.85011 11.9191V8.08095H24V11.9191H6.85011ZM0 4.36443V0.526321H3.8381V4.36443H0ZM6.85011 4.36443V0.526321H24V4.36443H6.85011Z" fill="#3C1F1B"/>
          </svg>
        </a>
        <a href="javascript:void(0)" id="map" class="standart-hover verified-partners_open-btn verified-partners_open-btn-map block-flex-wrap block-flex-center-center">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0022 24C10.3424 24 8.78232 23.6851 7.32189 23.0552C5.86147 22.4253 4.59116 21.5704 3.51095 20.4906C2.43074 19.4108 1.57547 18.1411 0.945158 16.6813C0.315052 15.2215 0 13.6618 0 12.0022C0 10.3424 0.314947 8.78232 0.944842 7.32189C1.57474 5.86147 2.42958 4.59116 3.50937 3.51095C4.58916 2.43074 5.85895 1.57547 7.31874 0.945158C8.77853 0.315052 10.3382 0 11.9978 0C13.6576 0 15.2177 0.314947 16.6781 0.944842C18.1385 1.57474 19.4088 2.42958 20.4891 3.50937C21.5693 4.58916 22.4245 5.85895 23.0548 7.31874C23.6849 8.77853 24 10.3382 24 11.9978C24 13.6576 23.6851 15.2177 23.0552 16.6781C22.4253 18.1385 21.5704 19.4088 20.4906 20.4891C19.4108 21.5693 18.1411 22.4245 16.6813 23.0548C15.2215 23.6849 13.6618 24 12.0022 24ZM10.7368 22.0421V19.5789C10.0421 19.5789 9.44737 19.3316 8.95263 18.8368C8.45789 18.3421 8.21053 17.7474 8.21053 17.0526V15.7895L2.14737 9.72632C2.08421 10.1053 2.02632 10.4842 1.97368 10.8632C1.92105 11.2421 1.89474 11.6211 1.89474 12C1.89474 14.5474 2.73158 16.7789 4.40526 18.6947C6.07895 20.6105 8.18947 21.7263 10.7368 22.0421ZM19.4526 18.8211C20.3158 17.8737 20.9737 16.8158 21.4263 15.6474C21.8789 14.4789 22.1053 13.2617 22.1053 11.9956C22.1053 9.92737 21.5336 8.03863 20.3902 6.32937C19.2468 4.61989 17.7133 3.38621 15.7895 2.62831V3.15789C15.7895 3.85263 15.5421 4.44737 15.0474 4.94211C14.5526 5.43684 13.9579 5.68421 13.2632 5.68421H10.7368V8.21053C10.7368 8.56842 10.6158 8.86842 10.3737 9.11053C10.1316 9.35263 9.83158 9.47368 9.47368 9.47368H6.94737V12H14.5263C14.8842 12 15.1842 12.1211 15.4263 12.3632C15.6684 12.6053 15.7895 12.9053 15.7895 13.2632V17.0526H17.0526C17.6 17.0526 18.0947 17.2158 18.5368 17.5421C18.9789 17.8684 19.2842 18.2947 19.4526 18.8211Z" fill="#3C1F1B"/>
          </svg>
        </a>
      </div>
    </div>
    <div class="verified-partners_content w-100">
      <div class="verified-partners verified-partners_cards block-flex-wrap w-100 block-flex-center-center block-gap-20 active">
        {% paginate pages by 250 %}
        {% for page in pages %}
          {%- if page.metafields.custom.verified_partner.value == true -%}
           <div class="verified-partners_card active block-flex-wrap block-gap-30 block-flex-center-center tac"
             data-type="{{ page.metafields.custom.verified_parter_country | downcase | replace: ' ', '-' }}" data-name="{{ page.title | downcase }}">
             <div class="verified-partners_card-image-wrapp block-flex-wrap block-flex-center-center">
               <img class="verified-partners_card-image" src="{{ page.metafields.custom.verified_partner_logo.value | image_url }}">
             </div>
             <div class="w-100 block-flex-wrap block-gap-20 block-flex-center-center">
               <h3 class="h3-heading-pp w-100 tac">{{ page.title }}</h3>
               <p class="body-text w-100">LegitGrails client since: {{ page.metafields.custom.verified_partner_verified_since }}</p>
               <div class="w-100 verified-partners_card-location block-flex-wrap block-flex-start-center block-gap-10">
                  <svg width="18" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.99998 0C6.61401 0.00317495 4.32668 0.952405 2.63954 2.63954C0.952404 4.32668 0.00317495 6.61402 0 8.99999C0 15.4612 8.38498 23.5537 8.74123 23.895C8.81053 23.9623 8.90335 24 8.99998 24C9.09661 24 9.18944 23.9623 9.25873 23.895C9.61498 23.5537 18 15.4612 18 8.99999C17.9968 6.61402 17.0476 4.32668 15.3604 2.63954C13.6733 0.952405 11.3859 0.00317495 8.99998 0ZM8.99998 13.125C8.18413 13.125 7.38661 12.8831 6.70826 12.4298C6.02991 11.9765 5.5012 11.3323 5.18899 10.5786C4.87678 9.82481 4.79509 8.99541 4.95425 8.19524C5.11341 7.39507 5.50628 6.66007 6.08317 6.08318C6.66006 5.50629 7.39506 5.11342 8.19523 4.95426C8.9954 4.79509 9.8248 4.87678 10.5785 5.18899C11.3323 5.5012 11.9765 6.02991 12.4298 6.70827C12.883 7.38662 13.125 8.18414 13.125 8.99999C13.1243 10.0938 12.6895 11.1426 11.916 11.916C11.1426 12.6895 10.0938 13.1243 8.99998 13.125Z" fill="#3C1F1B"/>
                  </svg>
                  <p class="body-text">{{ page.metafields.custom.verified_partner_location }}</p>
               </div>
             </div>
            <div class="verified-partners_card-btns block-flex-wrap block-gap-10 w-100">
               <a href="{{ page.url }}" class="verified-partners_card-btn-more rebranding_btn w-100">Learn more</a>
              <a target="_blank" href="{{ page.metafields.custom.verified_partner_website }}" class="verified-partners_card-btn-website rebranding_btn rebranding_btn-main w-100">
                 <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4527 3.80527C16.7295 3.51874 17.0605 3.29019 17.4265 3.13297C17.7925 2.97574 18.1862 2.89298 18.5845 2.88952C18.9829 2.88606 19.3779 2.96196 19.7466 3.11281C20.1153 3.26365 20.4502 3.48641 20.7319 3.76809C21.0136 4.04976 21.2364 4.38472 21.3872 4.75341C21.538 5.1221 21.6139 5.51714 21.6105 5.91548C21.607 6.31381 21.5243 6.70747 21.367 7.07349C21.2098 7.4395 20.9813 7.77053 20.6947 8.04727L16.1947 12.5473C15.6321 13.1097 14.8692 13.4256 14.0737 13.4256C13.2782 13.4256 12.5153 13.1097 11.9527 12.5473C11.6698 12.274 11.2909 12.1228 10.8976 12.1263C10.5043 12.1297 10.1281 12.2874 9.85 12.5655C9.57189 12.8437 9.41414 13.2199 9.41072 13.6132C9.4073 14.0065 9.55849 14.3854 9.83173 14.6683C10.9569 15.7931 12.4827 16.425 14.0737 16.425C15.6647 16.425 17.1906 15.7931 18.3157 14.6683L22.8157 10.1683C23.9087 9.03666 24.5134 7.52104 24.4998 5.94786C24.4861 4.37468 23.8551 2.86981 22.7426 1.75736C21.6302 0.644911 20.1253 0.0138973 18.5521 0.000226816C16.979 -0.0134437 15.4633 0.591323 14.3317 1.68427L12.0817 3.93427C11.9385 4.07264 11.8242 4.23816 11.7456 4.42116C11.667 4.60417 11.6256 4.801 11.6239 5.00017C11.6221 5.19934 11.6601 5.39686 11.7355 5.5812C11.8109 5.76555 11.9223 5.93302 12.0631 6.07386C12.204 6.2147 12.3715 6.32608 12.5558 6.4015C12.7401 6.47693 12.9377 6.51488 13.1368 6.51315C13.336 6.51142 13.5328 6.47004 13.7158 6.39142C13.8988 6.31281 14.0644 6.19854 14.2027 6.05527L16.4527 3.80527ZM8.95273 11.3053C9.51531 10.7429 10.2782 10.4269 11.0737 10.4269C11.8692 10.4269 12.6321 10.7429 13.1947 11.3053C13.3331 11.4485 13.4986 11.5628 13.6816 11.6414C13.8646 11.72 14.0615 11.7614 14.2606 11.7631C14.4598 11.7649 14.6573 11.7269 14.8417 11.6515C15.026 11.5761 15.1935 11.4647 15.3343 11.3239C15.4752 11.183 15.5865 11.0155 15.662 10.8312C15.7374 10.6469 15.7753 10.4493 15.7736 10.2502C15.7719 10.051 15.7305 9.85417 15.6519 9.67116C15.5733 9.48816 15.459 9.32264 15.3157 9.18427C14.1906 8.05944 12.6647 7.42755 11.0737 7.42755C9.48274 7.42755 7.9569 8.05944 6.83173 9.18427L2.33173 13.6843C1.75867 14.2378 1.30157 14.8998 0.987121 15.6318C0.672667 16.3639 0.507149 17.1512 0.500227 17.9479C0.493304 18.7445 0.645114 19.5346 0.946799 20.272C1.24848 21.0094 1.694 21.6793 2.25736 22.2426C2.82072 22.806 3.49063 23.2515 4.22801 23.5532C4.96538 23.8549 5.75546 24.0067 6.55214 23.9998C7.34881 23.9929 8.13613 23.8273 8.86816 23.5129C9.60018 23.1984 10.2622 22.7413 10.8157 22.1683L13.0657 19.9183C13.209 19.7799 13.3233 19.6144 13.4019 19.4314C13.4805 19.2484 13.5219 19.0515 13.5236 18.8524C13.5253 18.6532 13.4874 18.4557 13.412 18.2713C13.3365 18.087 13.2252 17.9195 13.0843 17.7787C12.9435 17.6378 12.776 17.5265 12.5917 17.451C12.4073 17.3756 12.2098 17.3377 12.0106 17.3394C11.8115 17.3411 11.6146 17.3825 11.4316 17.4611C11.2486 17.5397 11.0831 17.654 10.9447 17.7973L8.69473 20.0473C8.41799 20.3338 8.08695 20.5623 7.72094 20.7196C7.35493 20.8768 6.96127 20.9596 6.56293 20.963C6.1646 20.9665 5.76956 20.8906 5.40087 20.7397C5.03218 20.5889 4.69722 20.3661 4.41554 20.0845C4.13387 19.8028 3.91111 19.4678 3.76026 19.0991C3.60942 18.7304 3.53352 18.3354 3.53698 17.9371C3.54044 17.5387 3.6232 17.1451 3.78043 16.7791C3.93765 16.413 4.1662 16.082 4.45273 15.8053L8.95273 11.3053Z" fill="white"/>
                  </svg>
               </a>
            </div>
           </div>
           
           {%- endif -%}
        {% endfor %}
        {% endpaginate %}
      </div>
      <div class="verified-partners verified-partners_map block-flex-wrap w-100 block-flex-center-center block-gap-20">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1M-S71b9CSkodUkFjCCvMxv_AInWFFzw&ehbc=FFFFFF&z=4&noprof=1" width="100%" height="862px"></iframe>
      </div>
    </div>
  </div>
</div>

<script>  
    (function () {
        const searchField = document.getElementById('search-partners-input')
        const brands = Array.from(document.getElementsByClassName('verified-partners_card'))
        let chosenFilterTitle = document.querySelector('.verified-partners_country-items-wrapp-main-title')
        const filterButtonsWrapp = document.querySelector('.verified-partners_country-items-wrapp')
        const filterButtons = document.querySelector('.verified-partners_country-items-wrapp-options')
        const brandContainer = document.querySelector('.verified-partners_cards')
        const typeOfContentBtns = document.querySelector('.verified-partners_open-btns')
        const typeOfContentBtn = document.querySelector('.verified-partners_open-btn')

        let type = 'all'
        let searchString = ''

        function searchBrand(type, string) {
            document.querySelector('.verified-partners_cards').classList.add('searching')
            console.log(brandContainer)
            brands.forEach((block) => {
                if (string.length === 0) {
                    if (type === block.dataset.type || type === 'all') {
                        block.classList.add('active')
                    } else {
                        block.classList.remove('active')
                    }
                } else if (string.length > 0) {
                    if ((type === block.dataset.type || type === 'all') && (block.dataset.name.includes(string.toLowerCase()))) {
                        block.classList.add('active')
                    } else {
                        block.classList.remove('active')
                    }
                } else {
                    block.classList.remove('active')
                }
            })
            setTimeout(()=> {
                document.querySelector('.verified-partners_cards').classList.remove('searching')
            }, 400)
        }

        function setActiveBtn(id) {
            let activeID = document.querySelector('.verified-partners_country-items-wrapp-options').querySelector('.active')
            activeID.classList.remove('active')
            document.getElementById(id).classList.add('active')
        }

        Array.from(filterButtons.children).forEach((a) => {
          a.addEventListener('click', () => {
                if (a.id === 'all') {
                  type = 'all';
                } else {
                  type = a.innerText.toLowerCase().replace(/\s+/g, '-');
                }
                searchBrand(type, searchString);
                let filterTitle = a.innerText;
                chosenFilterTitle.innerHTML = filterTitle;
            })
        })

        filterButtonsWrapp.addEventListener("click", (event) => {
          filterButtonsWrapp.classList.toggle('active');
        });

        document.addEventListener('click', event => {
          if (!filterButtonsWrapp.contains(event.target)) filterButtonsWrapp.classList.remove('active');;
        });

        searchField.addEventListener('input', (event) => {
            searchString = event.target.value
            searchBrand(type, event.target.value)
        })

        searchField.addEventListener('click', () => {
            searchField.parentElement.classList.add('focused')
        })

        searchField.addEventListener('blur', () => {
            searchField.parentElement.classList.remove('focused')
        })

        Array.from(typeOfContentBtns.children).forEach((a) => {
          a.addEventListener('click', () => {
            const currentActiveBtn = typeOfContentBtns.querySelector('.active');
            if (currentActiveBtn) {
              currentActiveBtn.classList.remove('active');
            }

            if (a.classList.contains('verified-partners_open-btn-map')) {
              document.querySelector('.verified-partners_filters').classList.add('maps-filters');
            } else {
              document.querySelector('.verified-partners_filters').classList.remove('maps-filters');
            }
        
            a.classList.add('active');
        
            const currentActiveContent = document.querySelector('.verified-partners.active');
            if (currentActiveContent) {
              currentActiveContent.classList.remove('active');
            }
        
            const typeOfContent = a.id;
            const displayedContentId = '.verified-partners_' + typeOfContent;
            document.querySelector(displayedContentId).classList.add('active');
          });
        });

    })();
</script>
{% schema %}
  {
    "name": "Verified Search Partners",
    "class": "verified-partners_search rebranding-section-bottom",
    "settings": []
  }
{% endschema %}