<style>
  .offers-image_wrapp {
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
.offers-image_content {
    width: calc(52% - 25px);
    height: max-content;
}
  .offers-image_image {
    width: calc(48% - 25px);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 1px solid #E0DFDF;
    height: 620px;
    background-color: #f2f2f2;
  }
  .offers-image_btn {
    margin: 0;
  }
  .offers-image_left-wrapp .offers-image_image {
    order: 1;
  }
  .offers-image_left-wrapp .offers-image_content {
    order: 2;
  }
  p.offers-image_desc {
    max-width: 440px;
    margin: 0;
  }
  p.left-offers-item-desc {
    margin-top: 10px;
}
  .offers-image_items {
    gap: 35px 25px;
  }
  .offers-image_item {
    width: 100%;
  }
  .offers-image_item svg {
    width: 30px;
}
  @media(max-width: 1450px) {
    .offers-image_content {
      width: calc(58% - 25px);
    }
    .offers-image_image {
      width: calc(42% - 25px);
    }
  }
  @media(max-width: 1250px) {
    .offers-image_left-wrapp .offers-image_image {
    order: 2;
}
    p.offers-image_desc {
        max-width: 100%;
    }
    .offers-image_image {
      width: 100%;
    }
    .offers-image_content {
        justify-content: center;
        width: 100%;
    }
      .left-offers-item-alignment .left-offers-item-text {
        width: 100%;
        text-align: center;
      }
        .left-offers-item-alignment {
        justify-content: center;
    }
    .offers-image_items {
      justify-content: center;
    }
  }
  @media(max-width: 950px) {
    .offers-image_content {
      width: 100%;
      padding: 0 15px;
    }
    .offers-image_image {
      width: 100%;
      height: 400px;
      border-radius: 0;
      border: none;
    }
    .offers-image_item {
        justify-content: center;
        height: max-content;
    }
    .offers-image_title, .offers-image_desc {
      text-align: center;
    }
    .offers-image_desc {
      margin: 10px auto 0 auto;
    }
    .offers-image .container {
      padding: 0;
    }
    .offers-image_left-wrapp .offers-image_image {
    order: 2;
  }
  .offers-image_left-wrapp .offers-image_content {
    order: 1;
  }
    .offers-image {
      padding-bottom: 0;
    }
  }
  @media(max-width: 750px) {
    .offers-image_image {
      height: 440px;
    }
    .offers-image_items {
      gap: 40px;
    }
    .offers-image_item {
        width: 100%;
    }
    .offers-image_item:nth-child(1) {
      order: 1;
    }
    .offers-image_item:nth-child(3) {
      order: 2;
    }
    .offers-image_item:nth-child(2) {
      order: 3;
    }
    .offers-image_item:nth-child(4) {
      order: 4;
    }
    .offers-image_text {
      text-align: justify;
    }
  }
  @media(max-width: 550px) {
    .offers-image_item:nth-child(1) {
      order: 1;
    }
    .offers-image_item:nth-child(3) {
      order: 3;
    }
    .offers-image_item:nth-child(2) {
      order: 2;
    }
    .offers-image_item:nth-child(4) {
      order: 4;
    }
    .offers-image_item, .offers-image_item:nth-child(1), .offers-image_item:nth-child(3) {
    width: 100%;
}
  }
</style>

<div class="container rebranding_container">
  <div class="offers-image_wrapp block-flex-wrap">
    <div class="offers-image_content block-flex-wrap block-gap-40">
      <div class="rebranding-section-title rebranding-section-title-left block-gap-15 block-flex-wrap">
        <h2 class="h2-heading-ss">
         Why You Should
          <span class="h2-heading-pp">
           Choose LegitGrails
          </span>
        </h2>
      </div>
      <div class="offers-image_items block-flex-wrap">
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
          <div class="left-offers-item-text">
            <p class="left-offers-item-desc small-text">Our authenticators achieve the highest level of accuracy with the experience of more than 6 years in the industry and by improving knowledge through constant research.</p>
          </div>
        </div>
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
          <div class="left-offers-item-text">
            <p class="left-offers-item-desc small-text">Accuracy rates are also enhanced by requiring photos of specific details of your items. The result of each authentication is explained in detail.</p>
          </div>
        </div>
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
          <div class="left-offers-item-text">
            <p class="left-offers-item-desc small-text">We provide <a href="https://certificates.legitgrails.com/" target="_blank" style="text-decoration: underline; color: #F24F14;">authenticity certificates</a> that are unique to each verified item. Buyers can use it in a dispute if their item is fake. Sellers build trust with their customers and increase sales.</p>
          </div>
        </div>
        <div class="offers-image_item left-offers-item left-offers-item-alignment block-flex-wrap block-gap-15">
          <div class="left-offers-item-text">
            <p class="left-offers-item-desc small-text">Our team has put together the most extensive <a href="https://legitgrails.com/pages/guides" style="text-decoration: underline; color: #F24F14;">library of authentication guides</a>. Browse it on our website as a free alternative to our service.</p>
          </div>
        </div>
        </div>
        <a class="rebranding_btn rebranding_btn-main" href="https://legitgrails.com/pages/choose-your-brand">
          Authenticate now
        </a>
    </div>
      <div class="offers-image_image" style="background-image: url('{{ "rebrending_product-offers-2x.webp" | asset_url }}');
        background-image: -webkit-image-set(
          url('{{ "rebrending_product-offers-2x.webp" | asset_url }}') 1320px,
          url('{{ "rebrending_product-offers.webp" | asset_url }}') 660px,
          url('{{ "rebrending_product-offers-mob.webp" | asset_url }}') 440px);
        background-image: image-set(
          url('{{ "rebrending_product-offers-2x.webp" | asset_url }}') 1320px,
          url('{{ "rebrending_product-offers.webp" | asset_url }}') 660px,
          url('{{ "rebrending_product-offers-mob.webp" | asset_url }}') 440px);">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Offers with image",
    "class": "offers-image rebranding-section",
    "settings": []
  }
{% endschema %}