<style>
  .article_column-quarter {
    width: calc(25% - 37.5px);
  }
  .article_column-quarter .article_column-image {
    height: 260px;
  }
  @media(max-width: 1450px) {
    .article_column-quarter {
      width: calc(25% - 22.5px);
    }
  }
  @media(max-width: 1250px) {
    .article_column-quarter {
        width: calc(50% - 15px);
    }
  }
  @media(max-width: 750px) {
    .article_column-quarter {
        width: 100%;
        gap: 30px;
    }
  }
</style>

<div class="rebranding_container block-flex-wrap block-gap-50">
  <div class="rebranding-section-title block-flex-wrap block-gap-15 block-flex-center-center">
    <h3 class="h2-heading-ss w-100">
      <span class="h2-heading-pp">
        Visual 
      </span>
      inspection
    </h3>
    <p class="body-text block-max-width">
      When it comes to authenticating Saint Laurent bags, a visual inspection is a crucial step. This involves examining the bag’s exterior and interior for any signs of poor quality or inconsistencies. Look for:
    </p>
  </div>
  <div class="article_columns-wrapp block-flex-wrap block-gap-50 block-flex-start-center">
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image back-image-style" src="{{ "ysl-seo_visual-1.webp" | asset_url }}" alt="To authenticate a Saint Laurent bag look for High-quality materials and craftsmanship">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Sign 1</p>
        <h4 class="article_column-title h3-heading-pp w-100">High-quality materials and craftsmanship</h4>
      </div>
    </div>
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image back-image-style" src="{{ "ysl-seo_visual-2.webp" | asset_url }}" alt="To authenticate a Saint Laurent bag pay attention to detail in logo and branding">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Sign 2</p>
        <h4 class="article_column-title h3-heading-pp w-100">Attention to detail in logo and branding</h4>
      </div>
    </div>
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image back-image-style" src="{{ "ysl-seo_visual-3.webp" | asset_url }}" alt="To authenticate a Saint Laurent bag look for Secure and functional hardware and zippers">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Sign 3</p>
        <h4 class="article_column-title h3-heading-pp w-100">Secure and functional hardware and zippers</h4>
      </div>
    </div>
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image article_column-image-border back-image-style" src="{{ "ysl-seo_visual-4.webp" | asset_url }}" alt="To authenticate a Saint Laurent bag look for Luxurious materials such as leather and suede">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Sign 4</p>
        <h4 class="article_column-title h3-heading-pp w-100">Luxurious materials such as leather and suede</h4>
      </div>
    </div>
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image back-image-style" src="{{ "ysl-seo_visual-5.webp" | asset_url }}" alt="To authenticate a Saint Laurent bag look for Flawless interior labels and SLP engraving">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Sign 5</p>
        <h4 class="article_column-title h3-heading-pp w-100">Flawless interior labels and SLP engraving</h4>
      </div>
    </div>
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image back-image-style" src="{{ "ysl-seo_visual-6.webp" | asset_url }}" alt="To authenticate a Saint Laurent bag look for Uniform font-weight on “SAINT LAURENT PARIS” engraving">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Sign 6</p>
        <h4 class="article_column-title h3-heading-pp w-100">Uniform font-weight on “SAINT LAURENT PARIS” engraving</h4>
      </div>
    </div>
    <div class="article_column article_column-quarter block-flex-wrap block-gap-30">
      <img class="article_column-image back-image-style" src="{{ "ysl-seo_visual-7.webp" | asset_url }}" alt="To authenticate a Saint Laurent bag look for Correct “MADE IN ITALY” print">
      <div class="article_column-text block-flex-wrap block-gap-15 block-flex-center-center tac">
        <p class="caption w-100">Sign 7</p>
        <h4 class="article_column-title h3-heading-pp w-100">Correct “MADE IN ITALY” print</h4>
      </div>
    </div>
  </div>
  <p class="body-text tac block-bottom-text w-100">
      A thorough visual inspection can help identify potential red flags and ensure that the bag is authentic.
  </p>
</div>

{% schema %}
  {
    "name": "Article Three columns",
    "class": "article_columns article_three-columns rebranding-wider-section-bottom",
    "settings": []
  }
{% endschema %}