<!-- /templates/404.liquid -->
<div class="page-width" data-section-id="{{ section.id }}">
  <div class="section-header text-center">
    <h1 class="section-header__title h2 font-title">{{ 'general.404.title' | t }}</h1>
  </div>

  <div class="text-center">
    <p class="font-description">{{ 'general.404.subtext_html' | t }}</p>
    <a href="{{ routes.root_url }}" class="btn btn--primary font-title">{{ 'general.404.404_link' | t }}</a>
  </div>
</div>
