<!-- /templates/article.liquid -->
{% render "rebranding_main-styles" %}
{% assign number_of_comments = article.comments_count %}
{% render 'article-styles-min' %}
{% render 'new-blogs-styles-min' %}
{% if comment and comment.status != 'published' %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
<article>

  {% section 'article-author-template' %}

  {% if blog.comments_enabled? and number_of_comments > 0 %}
    <div class="comments-wrapper">
      <div class="page-width">
        <div class="grid">
          <div class="grid__item medium-up--push-one-twelfth">
            <h3 class="h4 font-title">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h3>
          </div>
        </div>

        {% paginate article.comments by 5 %}

          {% comment %}
            If a comment was just submitted, show it with the appropriate success message.
          {% endcomment %}
          <div id="comments" class="grid">

            {% if comment and comment.status and paginate.current_page == 1 %}
              <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
                <div class="form-success form-success--comment">
                  {% if blog.moderated? and comment.status != 'published' %}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {% else %}
                    {{ 'blogs.comments.success' | t }}
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% if number_of_comments > 0 %}
              {% if comment and comment.status != 'published' %}
                {% include 'comment' %}
              {% endif %}

              {% for comment in article.comments %}
                {% include 'comment' %}
              {% endfor %}
            {% endif %}

            {% if paginate.pages > 1 %}
              <div class="grid__item">
                {% include 'pagination' %}
              </div>
            {% endif %}
          </div>
        {% endpaginate %}
      </div>
    </div>
  {% endif %}

  {% if blog.comments_enabled? %}
    <div class="comments-form-wrapper">
      <div class="page-width">
        <div class="grid">
          <div class="grid__item medium-up--push-one-twelfth">
            <h3 class="comments-form__title h4 font-title">{{ 'blogs.comments.title' | t }}</h3>
          </div>

          {% form 'new_comment', article %}

            <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
              {{ form.errors | default_errors }}
            </div>

            <div class="grid__item medium-up--five-twelfths medium-up--push-one-twelfth">
              <label for="CommentAuthor" class="label--hidden">{{ 'blogs.comments.name' | t }}</label>
              <input type="text" name="comment[author]" id="CommentAuthor" class="{% if form.errors contains 'author' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}">
            </div>

            <div class="grid__item medium-up--five-twelfths medium-up--push-one-twelfth">
              <label for="CommentEmail" class="label--hidden">{{ 'blogs.comments.email' | t }}</label>
              <input type="email" name="comment[email]" id="CommentEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
            </div>

            <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
              <label for="CommentBody" class="label--hidden">{{ 'blogs.comments.message' | t }}</label>
              <textarea name="comment[body]" id="CommentBody" class="{% if form.errors contains 'body' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
            </div>

            <div class="grid__item medium-up--push-one-twelfth">
              <input type="submit" class="btn btn--input" value="{{ 'blogs.comments.post' | t }}">
            </div>

          {% endform %}

          {% if blog.moderated? %}
            <div class="grid__item medium-up--push-one-twelfth">
              <p class="comments__moderated text-small">{{ 'blogs.comments.moderated' | t }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</article>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ article.url }}"
  },
  "headline": {{ article.title | json }},
  "description": {{ article.excerpt_or_content | strip_html | truncate: 160 | json }},
  "image": {
    "@type": "ImageObject",
    "url": "{{ article.image | img_url: '500x500' | prepend: 'https:' }}"
  },
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ shop.name | json }},
    "logo": {
      "@type": "ImageObject",
      "url": "https://cdn.shopify.com/s/files/1/0094/6307/0798/files/schema-logo.png?v=1747723244"
    }
  },
  "datePublished": "{{ article.published_at | date: '%Y-%m-%d' }}",
  "dateModified": "{{ article.updated_at | date: '%Y-%m-%d' }}"
}
</script>
