{% render 'product-landing-ads-chanel-styles-min' %}
{% section 'product-landing-banner' %}
<section class="product-box_section">
  <div class="section-container">
<div class="guides-block">
  <div class="guides-block_item">
    <p class="guides-block_item-title">Verify any branded item in 3 simple steps</p>
    <div class="guides-block_item-steps">
      <div class="guides-block_item-step"><span> <img alt="" src="https://cdn.shopify.com/s/files/1/0094/6307/0798/files/guide-block_round.svg?v=1702460484"> </span>
      <p>Choose response time & upload photos</p>
      </div>
      <div class="guides-block_item-step"><span> <img alt="" src="https://cdn.shopify.com/s/files/1/0094/6307/0798/files/guide-block_round.svg?v=1702460484"> </span>
      <p>Wait for AI & Human Experts decision</p>
      </div>
      <div class="guides-block_item-step"><span> <img alt="" src="https://cdn.shopify.com/s/files/1/0094/6307/0798/files/guide-block_checkmark.svg?v=1702460484"> </span>
      <p>Get the verdict and personal certificate</p>
      </div>
      </div>
    </div>
  <div class="guides-block_item">
  {% section 'product-template-landing' %}
  </div>
  <div class="guides-block_item">
      <p class="guides-block_item-title">Authenticate your branded items with Experts & AI</p>
    <div class="guides-block_item-advantages">
      <div class="guides-block_item-advantages-reviews">
        <div class="guides-block_item-advantages-reviews-stars">
          <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.9895 1L14.0762 7.25342L20.979 8.26236L15.9842 13.1272L17.163 20L10.9895 16.7534L4.81598 20L5.99474 13.1272L1 8.26236L7.90273 7.25342L10.9895 1Z" fill="#CBAD73" stroke="#CBAD73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <p class="guides-block_item-advantages-reviews-desc">rated 4.7/5.0 by more than 100,000 customers</p>
        <div class="guides-block_item-advantages-reviews-imgs">
          <div class="guides-block_item-advantages-reviews-img">
            <img src="{{ "reviews_klients-1.jpg" | asset_url }}" loading="lazy" alt="reviews_klients-1" >
          </div>
          <div class="guides-block_item-advantages-reviews-img">
            <img src="{{ "reviews_klients-2.jpg" | asset_url }}" loading="lazy" alt="reviews_klients-2" >
          </div>
          <div class="guides-block_item-advantages-reviews-img">
            <img src="{{ "reviews_klients-3.jpg" | asset_url }}" loading="lazy" alt="reviews_klients-3" >
          </div>
          <div class="guides-block_item-advantages-reviews-img">
            <img src="{{ "reviews_klients-4.jpg" | asset_url }}" loading="lazy" alt="reviews_klients-4" >
          </div>
          <div class="guides-block_item-advantages-reviews-img">
            <img src="{{ "reviews_klients-5.jpg" | asset_url }}" loading="lazy" alt="reviews_klients-5" >
          </div>
        </div>
      </div>
        <div class="guides-block_item-advantages-featured">
          <p class="guides-block_item-advantages-featured-desc">featured by</p>
          <div class="guides-block_item-advantages-featured-images">
            <img src="https://cdn.shopify.com/s/files/1/0094/6307/0798/files/guide-block_rapaport.svg?v=1702460484" loading="lazy" alt="Block rapaport">
                <img src="https://cdn.shopify.com/s/files/1/0094/6307/0798/files/guide-block_insider.svg?v=1702460484" loading="lazy" alt="Block insider">
                <img src="https://cdn.shopify.com/s/files/1/0094/6307/0798/files/guide-block_forbes.svg?v=1702460484" loading="lazy" alt="Block forbes">
                <img src="https://cdn.shopify.com/s/files/1/0094/6307/0798/files/guide-block_nice.svg?v=1702460484" loading="lazy" alt="Block Nice">
            </div>
        </div>
    </div>
  </div>
</div>
    </div>
</section>
{% section 'product-why-choose-ai'%}
{% section 'product-featured-on' %}
{% if product.tags contains "new-reviews-2" %}
      {% section 'new-reviews' %}
{% endif %}
{% unless product.tags contains 'new-reviews-2' %}
     {% section 'new-reviews-2' %}
{% endunless %}
{% section 'product-reliable'%}
{% section 'product-image-text-bottom' %}
{% section 'faq-ai' %}
{% section 'product-recommendations' %}

<script>
  window.theme = window.theme || {};
  window.theme.strings = window.theme.strings || {};

  // Override default values of theme.strings for each template.
  // Values are used by JavaScript only; Liquid must be updated separately
  window.theme.strings.addToCart = {{ 'products.product.add_to_cart' | t | json }};
  window.theme.strings.soldOut = {{ 'products.product.sold_out' | t | json }};
  window.theme.strings.unavailable = {{ 'products.product.unavailable' | t | json }};
</script>
