{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template/
{% endcomment %}
{% render 'product-landing-critical-styles' %}
{% section 'es-product-landing-banner' %}
<section class="product_checkout" id="product_checkout">
    <div class="container">
        <div class="product_checkout-wrapp">
            {% section 'es-product-landing-steps'%}
            {% section 'product-template-landing' %}
        </div>
    </div>
</section>
{% section 'es-product-full-width-meet' %}
{% section 'es-product-why-choose'%}
{% section 'es-product-full-width-middle-top' %}
{% section "es-legit-authentication-benefits" %}
{% section 'es-product-reliable'%}
{% section 'es-product-full-width-middle' %}
{% section "new-reviews-2" %}
{% section 'es-product-featured-on' %}
{% section 'es-product-image-text-bottom' %}


<script>
  window.theme = window.theme || {};
  window.theme.strings = window.theme.strings || {};

  // Override default values of theme.strings for each template.
  // Values are used by JavaScript only; Liquid must be updated separately
  window.theme.strings.addToCart = {{ 'products.product.add_to_cart' | t | json }};
  window.theme.strings.soldOut = {{ 'products.product.sold_out' | t | json }};
  window.theme.strings.unavailable = {{ 'products.product.unavailable' | t | json }};
</script>

    <style>
      #shopify-section-legit-authentication-benefits .about-us {
        padding-bottom:0;
        padding-top:108px;
      }
      #shopify-section-legit-trusted-pilot .container {
        width:100%;
      }
    .content-for-layout {
        padding-bottom:0!important;
    }
    label {
        margin-bottom:0;
    }
    .breadcrumbs {
        background: #fff;
        margin: 0!important;
        padding: 5px 0px;
        font-weight: 500;
    }
    body {
        background-color: #E5E5E5;
    }
.container {
    width: 1200px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.about-us {
    padding: 108px 0 0 0;
}
      @media (max-width: 900px) {
        .about-us {
            padding: 60px 0 0 0;
        }
        .review-section__slides {
          padding: 0 40px;
        }
      }

a.main-btn {
    padding: 20px 35px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #CBAD73;
    display: block;
    width: max-content;
    transition: 0.3s;
    text-decoration:none;
}

a.main-btn:hover {
    box-shadow: 0px 1px 19px rgba(1, 1, 1, 0.4);
}


/* Main screen */

.main-screen {
    padding: 140px 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    position: relative;
}

.main-screen::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.76);
    top: 0;
    left: 0;
    z-index: 0;
}

p.main-screen_title {
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #E5E5E5;
}

p.main-screen_desc {
    margin: auto;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #E5E5E5;
    width: 70%;
    margin-top: 35px;
}

a.main-screen_a {
    margin: auto;
}


/* Checkout */

.product_checkout {
    padding: 108px 0;
}

.product_checkout-wrapp {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

p.product_checkout-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #161616;
    text-align: center;
  margin-bottom:0;
}



a.product_checkout-upload {
    padding: 8px 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #CDAB71;
    border-radius: 5px;
    margin: auto;
    display: block;
    width: max-content;
    transition: 0.5s;
}

a.product_checkout-upload:hover {
    box-shadow: 0px 1px 5px rgba(1, 1, 1, 0.3);
}

.product_checkout-radio {
    width: max-content;
    margin: auto;
    margin-bottom: 15px;
}

.product_checkout-radio-item {
    margin-bottom: 15px;
    width: max-content;
}

.product_checkout-radio-item:hover {
    cursor: pointer;
}

.product_checkout-radio-item:last-child {
    margin-bottom: 0;
}

.product_checkout-radio-item label {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #161616;
}

.jq-radio {
    background: none;
    border: 1px solid #CDAB71;
    box-shadow: none;
    vertical-align: -2px;
}

.jq-radio.focused {
    border: 1px solid #CDAB71;
}

.jq-radio.checked .jq-radio__div {
    background: #CDAB71;
    box-shadow: none;
}

.product_checkout-btns a {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Work Sans';
    border-radius: 5px;
    transition: 0.5s;
  text-decoration:none;
}

a.product_checkout-alternative {
    height: auto;
border: none;
text-transform: none;
font-weight: 500;
color: #6a6a6a;
margin-top: -15px;
}

a.product_checkout-alternative:hover {
    text-decoration: underline;
}
      
.product__notification {
  margin:0;
}

a.product_checkout-cart {
    color: #fff;
    background: #161616;
    border: 1px solid #161616;
    margin-top: 11px;
}

a.product_checkout-cart:hover {
    box-shadow: 0px 1px 10px rgba(1, 1, 1, 0.4);
}

      a.checkout_required-photos {
        font-size: 17px;
line-height: 28px;
text-align: center;
color: #c5af78;
text-decoration: none;
margin: auto;
  margin-bottom: auto;
display: block;
text-transform: uppercase;
font-weight: 600;
margin-bottom: 5px;
        transition:0.5s;
      }
      a.checkout_required-photos:hover {
        color:#161616;
      }

/* Back section */

.back-section {
    padding: 95px 0;
    text-align: center;
}

.grow-your-business {
    background: url({{ 'b2b-back.jpg' | asset_url }});
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

.back-section-title {
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    width: 43%;
    margin: auto;
}

p.back-section-desc {
    width: 70%;
    margin: auto;
    margin-top: 33px;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

a.back-section-a {
    margin: auto;
    margin-top: 33px;
    transition: 0.5s;
}

a.back-section-a:hover {
    box-shadow: 0px 1px 19px rgba(1, 1, 1, 0.4);
}


/* text section */

.text-section {
    padding: 108px 0;
}

.text-section-wrapp {
    display: flex;
    align-items: center;
}

.text-section-right .text-section_img {
    margin-left: 40px;
}

.text-section-left .text-section_img {
    margin-right: 40px;
    order: 1;
}

.text-section-left .text-section_text {
    order: 2;
}

.text-section_img {
    width: 590px;
}

.text-section_text {
    height: max-content;
}

.text-section_text span {
    width: 80px;
    height: 6px;
    background: #CDAB71;
    display: block;
}

.text-section_text-title {
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #161616;
    margin: 22px 0;
}

p.text-section_text-desc {
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    color: #161616;
}

a.text-section_text-a {
    margin-top: 22px;
    padding: 17px 22px;
    background: #CDAB71;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    width: max-content;
    transition: 0.5s;
  text-decoration:none;
}

a.text-section_text-a:hover {
    box-shadow: 0px 1px 5px rgba(1, 1, 1, 0.3);
}


/* nft */

.nft-block {
    background: url({{ 'nft-1_back.jpg' | asset_url }});
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

.nft-block .back-section-a {
    background: #fff;
    color: #161616;
}


/* why choose */

.why-choose {
    padding: 108px 0;
}

.why-choose_title span {
    width: 80px;
    height: 6px;
    display: block;
    margin: auto;
    background: #CDAB71;
}

.why-choose_title h2 {
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    color: #161616;
    margin-top: 28px;
}

.why-choose_wrapp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}

.why-choose_item {
    width: 22%;
}

.why-choose_item img {
    height: 86px;
    display: block;
    margin: auto;
}

p.why-choose_item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #161616;
    margin: 22px 0px 12px 0px;
}

p.why-choose_item-desc {
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    color: #161616;
}


/* featured on */

.featured-on {
    background: url({{ 'featured-on.jpg' | asset_url }});
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 115px 0;
}

p.featured-on_title {
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.featured-on_imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 27px 0;
}

.featured-on_imgs img {
    height: 64px;
    margin: 0px 10px;
}

p.featured-on_desc {
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}


/* FAQ */

.faq {
    padding: 0 0 108px 0;
}

.faq_wrapp {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.faq_wrapp-questions {
    width: calc(100% - 540px);
}

.faq_wrapp-questions-item {
    margin-bottom: 19px;
}

.faq_wrapp-questions-item:hover {
    cursor: pointer;
}

.faq_wrapp-questions-item-hidden {
    transition: max-height 1s, padding 1s;
    max-height: 0;
    position: relative;
    overflow: hidden;
    transition-delay: 0;
}

.faq_wrapp-questions-item-hidden p {
    font-weight: 400;
    font-size: 17px;
    color: #161616;
    padding-top: 15px;
    line-height: 1.6;
}

.faq_wrapp-questions-item-hidden img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.faq_wrapp-questions-item-hidden a {
    color: #CBAD73;
    text-decoration: underline;
}

.faq_wrapp-questions-item.active .faq_wrapp-questions-item-hidden {
    max-height: 1000px;
}

.faq_wrapp-questions-item-back {
    padding: 20px 26px;
    background: #CBAD73;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

.faq_wrapp-questions-item-back:hover {
    box-shadow: 0px 2px 8px rgba(1, 1, 1, 0.3);
}

.faq_wrapp-questions-item-back p {
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
  margin:0;
}

.faq_wrapp-questions-item-back span {
    display: block;
    transition: 0.5s;
    margin-top: 3px;
}

.faq_wrapp-questions-item.active span {
    transform: rotate(180deg);
}

.faq_wrapp-inst {
    display: flex;
    flex-wrap: wrap;
    width: 511px;
    height: max-content;
}

.faq_wrapp-inst a {
    display: block;
    height: 172px;
}

.faq_wrapp-inst a img {
    height: 164px;
    width: 164px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.faq_wrapp-inst a:nth-child(3) img {
    margin-right: 0;
}

.faq_wrapp-inst a:nth-child(6) img {
    margin-right: 0;
}

.faq_wrapp-inst a:nth-child(9) img {
    margin-right: 0;
    margin-bottom: 0;
}

.faq_wrapp-inst a:nth-child(8) img {
    margin-bottom: 0;
}

.faq_wrapp-inst a:nth-child(7) img {
    margin-bottom: 0;
}

.partner_title span {
    width: 80px;
    height: 6px;
    margin: auto;
    background: #CDAB71;
    display: block;
}

.partner_title-title {
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    margin-top: 28px;
    color: #161616;
}


/* АДАПТИВНОСТЬ */

      @media(max-width:600px) {
        #shopify-section-legit-authentication-benefits .about-us {
            padding-top: 60px;
        }
      }

@media(max-width: 1200px) {
    .container {
        width: 900px;
    }
}

@media(max-width:900px) {
    .container {
        width: calc(100% - 30px);
        padding: 0px 15px;
    }
    a.main-btn {
        padding: 15px 30px;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
    }
    .partner_title-title {
        font-size: 26px;
        margin-top: 20px;
        line-height: 1;
    }
}

@media(max-width: 767px) {
    p.partner_title-desc {
        width: 100%;
    }
}


/* main screen */

@media(max-width: 900px) {
    p.main-screen_title {
        font-size: 26px;
        width: 100%;
    }
    p.main-screen_desc {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 25px;
        width: 100%;
    }
    .main-screen {
        padding: 95px 0px;
    }
}


/* checkout */

@media(max-width: 1200px) {
    .product_checkout-wrapp {
        display: block;
    }
    .blok-4-wrapper {
        margin: auto;
        margin-top: 0;
    }
    .product_checkout-right {
        margin-top: 30px;
    }
}

@media(max-width: 900px) {
    .product_checkout {
        padding: 60px 0;
    }
    a.product_checkout-upload {
        padding: 6px 21px;
        font-size: 15px;
    }
    .jq-radio {
        width: 12px;
        height: 12px;
    }
    .product_checkout-radio-item label {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #161616;
    }
    .jq-radio.checked .jq-radio__div {
        width: 8px;
        height: 8px;
        margin: 2px 0 0 2px;
    }
    .product_checkout-btns a {
        font-size: 15px;
        line-height: 21px;
    }
    .product_checkout-radio {
        margin-bottom: 15px;
    }
}


/* back section */

@media(max-width:900px) {
    .back-section-title {
        font-size: 26px;
        width: 100%;
    }
    p.back-section-desc {
        font-size: 16px;
        width: 100%;
        margin-top: 15px;
    }
    a.back-section-a {
        margin-top: 15px;
    }
    .grow-your-business {
        padding: 60px 0;
    }
    .back-section {
        padding: 60px 0;
    }
}


/* text section */

@media(max-width:1200px) {
    .text-section-wrapp {
        display: block;
    }
    .text-section-right .text-section_img {
        margin: auto;
        margin-top: 30px;
    }
    .text-section-left .text-section_img {
        margin: auto;
        margin-top: 30px;
    }
    img.text-section_img {
        margin: auto;
        margin-top: 30px;
        display: block;
    }
}

@media(max-width: 900px) {
    .text-section {
        padding: 60px 0;
    }
    .text-section_text-title {
        font-size: 26px;
        margin: 15px 0;
    }
    p.text-section_text-desc {
        font-size: 16px;
        line-height: 25px;
    }
    a.text-section_text-a {
        margin-top: 15px;
    }
    .text-section_img {
        width: 100%;
    }
}


/* why choose */

@media(max-width: 900px) {
    .why-choose {
        padding: 60px 0;
    }
    .why-choose_item img {
        height: 53px;
    }
    p.why-choose_item-title {
        font-size: 18px;
        line-height: 21px;
    }
    p.why-choose_item-desc {
        font-size: 16px;
        line-height: 22px;
    }
    .why-choose_wrapp {
        margin-top: 30px;
    }
    .why-choose_title h2 {
        font-size: 26px;
        margin-top: 15px;
    }
}

@media(max-width: 750px) {
    .why-choose_wrapp {
        display: block;
    }
    .why-choose_item {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
    .why-choose_item:last-child {
        margin-bottom: 0;
    }
}


/* featured */

@media(max-width: 900px) {
    .featured-on {
        padding: 60px 0;
    }
    p.featured-on_title {
        font-size: 26px;
        line-height: 25px;
    }
    .featured-on_imgs img {
        height: 47px;
        margin: 0px 10px;
    }
    p.featured-on_desc {
        font-size: 16px;
    }
    .featured-on_imgs {
        margin: 15px 0;
    }
}

.owl-slideshow__slides.owl-caraousel .animated { 
  animation-duration: 5ms !important;
 }

/* faq */

@media(max-width:1200px) {
    .faq_wrapp {
        display: block;
    }
    .faq_wrapp-questions {
        width: 100%;
    }
    .faq_wrapp-inst {
        width: 100%;
        justify-content: space-between;
    }
    .faq_wrapp-inst a img {
        height: auto;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
    .faq_wrapp-inst a {
        height: auto;
        width: 32%;
        margin-bottom: 1.5%;
    }
}

@media(max-width: 900px) {
    .faq {
        padding: 0 0 60px 0;
    }
    .faq_wrapp-questions-item-back {
        padding: 18px 18px;
    }
    .faq_wrapp-questions-item-back p {
        font-size: 16px;
    }
    .faq_wrapp-questions-item-hidden p {
        font-size: 16px;
    }
    .faq_wrapp {
        margin-top: 30px;
    }
}


/* product block */

.blok-4-wrapper {
    width: 740px;
    border: 4px solid #E3D2BD;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
}

.blok-4-wrapper__left {
    height: 330px;
    width: 330px;
    background: #E3D2BD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -119px;
    position: relative;
}

.blok-4-wrapper__left-line {
    height: 100%;
    position: absolute;
    left: 41px;
    top: 0;
    width: 4px;
    background: #CDAB71;
    display: flex;
    z-index: 2;
}

.blok-4-wrapper__left-line span {
    width: 11px;
    height: 11px;
    min-width: 11px;
    min-height: 11px;
    border-radius: 50%;
    background: #CDAB71;
    display: block;
    position: absolute;
    margin-left: -4px;
}

.blok-4-wrapper__left-line span:first-child {
    top: -5px;
}

.blok-4-wrapper__left-line span:last-child {
    bottom: -5px;
}

.blok-4-wrapper__left-item {
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

.blok-4-wrapper__left-item span {
    margin-left: -7px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #CDAB71;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.blok-4-wrapper__left-item p {
    margin-left: 27px;
    font-weight: 400;
    font-size: 16px;
    line-height: 164.8%;
    color: #161616;
}

p.block-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #161616;
    position: absolute;
    top: -15px;
    background-color: #fff;
    padding: 0 15px;
}

.blok-4-wrapper__right-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 164.8%;
}

.blok-4-wrapper__right {
    width: calc(100% - 361px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 38px;
    height: max-content;
}

.blok-4-wrapper__right-content-img {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.blok-4-wrapper__right-content-img img {
    height: 36px;
    margin-right: 22px;
}

span.blok-4-wrapper__bold {
    font-weight: 700;
    font-size: 32px;
    line-height: 130.3%;
}

p.block-title-mb {
    font-weight: 500;
    font-size: 22px;
    color: #161616;
    margin-bottom: 30px;
    display: none;
}

@media(max-width:750px) {
    .blok-4-wrapper {
        display: block;
        width: calc(100% - 8px);
        height: auto;
    }
    .blok-4-wrapper__left {
        margin: auto;
        margin-top: -45px;
        width: calc(100% - 80px);
        height: 80vw;
    }
    .blok-4-wrapper__left img {
        height: 70%;
    }
    .blok-4-wrapper__right {
        width: 100%;
        padding: 60px 40px;
        display: block;
    }
    p.block-title {
        display: none;
    }
    p.block-title-mb {
        display: block;
    }
    .blok-4-wrapper__left-items {
        width: 100%;
    }
    .blok-4-wrapper__left-item span {
        margin-left: 14px;
        width: 60px;
        height: 60px;
    }
    .blok-4-wrapper__left img {
        height: 49%;
    }
    .blok-4-wrapper__left-item {
        margin: 45px 0px;
    }
    .blok-4-wrapper__left-item p {
        font-size: 22px;
    }
}

@media(max-width: 550px) {
    .blok-4-wrapper__left-item p {
        font-size: 18px;
    }
    .blok-4-wrapper__left-item span {
        margin-left: 16px;
        width: 53px;
        height: 53px;
    }
    .blok-4-wrapper__left-item {
        margin: 32px 0px;
    }
}

@media(max-width: 470px) {
    .blok-4-wrapper__left-item p {
        font-size: 16px;
    }
}

@media(max-width:450px) {
    .blok-4-wrapper__left {
        height: 65vw;
    }
    .blok-4-wrapper__left-item span {
        margin-left: 23px;
        width: 41px;
        height: 41px;
        min-width: 41px;
        min-height: 41px;
    }
    .blok-4-wrapper__left-item p {
        margin-left: 16px;
    }
    .blok-4-wrapper__left-item {
        margin: 22px 0px;
    }
}

@media(max-width: 415px) {
    .blok-4-wrapper__left-item p {
        margin-left: 13px;
        font-size: 13px;
        padding-right: 10px;
    }
    .blok-4-wrapper__right {
        padding: 40px 25px;
    }
    .blok-4-wrapper__left {
        width: calc(100% - 50px);
    }
    .blok-4-wrapper__left {
        height: 77vw;
    }
    .blok-4-wrapper__right-content {
        font-size: 14px;
    }
    .blok-4-wrapper {
        margin: 40px 0;
    }
    .blok-4-wrapper__left-line {
        left: 33px;
    }
    .blok-4-wrapper__left-item span {
        margin-left: 13px;
    }
    .blok-4-wrapper__left-item {
        margin: 17px 0px;
    }
}
      .hidden {
      display: none;
        visibility: hidden;
      }
  .uploadkit-button {
  padding: 8px 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #CDAB71;
  border-radius: 5px;
  margin: auto;
  display: block;
  width: max-content;
  transition: 0.5s;
}
       #product-link a{align-items:center;appearance:none;background-color:rgb(204, 171, 113);border:medium none;border-radius:0.25em;color:rgb(255, 255, 255);cursor:pointer;display:flex;font-size:15px;height:inherit;line-height:18px;margin:0 12px;min-height:35px;outline:currentcolor none medium;padding:5px 7px;text-align:center;text-decoration:none;width:auto;}
.owl-reviews__slide {
  padding: 0;
}
      .review-content {
        width:100%
      }
      .review-section .container {
        width:100%
      }
      section#shopify-section-new-reviews-2 {
        padding: 110px 0;
      }
      @media(max-width: 750px) {
        section#shopify-section-new-reviews-2 {
          padding: 60px 0;
        }
      }
    </style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ 'owl.carousel.min.js' | asset_url }}"></script>
<script src="{{ 'jquery.formstyler.min.js' | asset_url }}"></script>
<script>
    $(document).ready(function() {
    let tectSection = document.querySelector('.product_checkout')

    $('.text-section_text-a-scroll').on('click', function() {
        $([document.documentElement, document.body]).animate({
            scrollTop: tectSection.offsetTop
        }, 1000);
    });
      
        $('.product_checkout-radio-item').click(function() {
            let index = $(this).index();
            let opt = $($('.product_checkout-radio-item input').get(index));
            let price = opt.data('price');
            $('.product_checkout-right').parents('form').find('input[name="id"]').val(opt.data('variant-id'));
        });

        $('.product_checkout-cart').click(function() {
            $(this).text('Adding...');
            setTimeout(() => {
                $(this).text('Thank You!');
                setTimeout(() => {
                    $(this).parent('.product_checkout-btns').parent('.product_checkout-right').parent('form').submit();
                }, 1000);
            }, 1000);
        });


        $('.faq_wrapp-questions-item').click(function() {
            if ($(this).hasClass("active")) {
                $(this).removeClass('active');
            } else {
                $('.faq_wrapp-questions-item').removeClass('active');
                $(this).addClass('active');
            }
        });
    });
</script>